@page "/Account/AccessDenied"

<PageTitle>Přístup zamítnut</PageTitle>

<header>
    <h1 class="text-danger">Váš přístup byl zamítnut.</h1>
    <p>Do projektu Platy politiků se aktuálně nemůžete přihlásit.</p>
    <p>
        Pokud se chcete přihlásit, navštivte prosím úvodní stránku, kde zadáte svou e-mailovou adresu.
        Na tuto adresu Vám bude následně zaslán jednorázový přístupový kód.
    </p>
    <p>
        Pomocí tohoto kódu se můžete přihlásit do administrativní části projektu, 
        kde máte možnost upravovat a doplňovat informace týkající se Vaší osoby a veřejné funkce.
    </p>
    <p>
        Pokud problém přetrvává, kontaktujte nás na emailu <a href="mailto:podpora@hlidacstatu.cz">podpora@hlidacstatu.cz</a>
    </p>
    <a href="/" data-enhance-nav="false">Zpět na úvodní stránku</a>
</header>