@page "/Account/AccessDenied"

<PageTitle>Přístup zamítnut</PageTitle>

<header>
    <h1 class="text-danger">Váš přístup byl zamítnut.</h1>
    <p class="text-danger">Pravděpodobně jste kliknuli na starý přihlašovací token. Na úvodní stránce se zkuste znovu přihlásit.</p>
    <a href="/" data-enhance-nav="false">Zpět na úvodní stránku</a>
</header>