@page "/Account/Login-Callback/{Token}"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.EntityFrameworkCore
@using PoliticiEditor.Data

@inject NavigationManager NavigationManager
@inject PoliticiLoginsDbContext DbContext
@inject IHttpContextAccessor HttpContextAccessor

<h1>Přihlašuju...</h1>

@code {
    
    [Parameter]
    public string Token { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var loginToken = await DbContext.LoginTokens
            .FirstOrDefaultAsync(t => t.Token == Token && !t.Used && t.ExpiresAt > DateTime.Now);

        if (loginToken == null)
        {
            NavigationManager.NavigateTo("/Account/AccessDenied", forceLoad: true);
            return;
        }

        var user = await DbContext.PoliticiEditorUsers
            .FirstOrDefaultAsync(u => u.Id == loginToken.UserId);

        if (user is null)
        {
            throw new Exception($"User {loginToken.UserId} not found");
        }

        loginToken.Used = true;
        await DbContext.SaveChangesAsync();

        var claims = user.CreateClaims();

        var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
        var principal = new ClaimsPrincipal(identity);
        
        await HttpContextAccessor.HttpContext.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, principal);
        
        //We need to let cookie properly sit, so we have to redirect twice!
        NavigationManager.NavigateTo("/Account/Login-Redirect", forceLoad: true);

    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     await JS.InvokeVoidAsync("eval", "window.location.href = '/'");
    // }

}