@page "/Account/Login-Redirect/"

@inject NavigationManager NavigationManager

@* This component here is to renew circuit after login, so the cookie is properly set 
* This component is just a workaround here...
*@
<h3>Přihlašuji...</h3>

@code {

    protected override async Task OnParametersSetAsync()
    {
        await Task.Delay(100);
        NavigationManager.NavigateTo("/", forceLoad: true);
    }

}