@page "/Account/Logout"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies

@inject IdentityRedirectManager RedirectManager
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>Odhlášení</PageTitle>

@if (IsLoggedOff)
{
    <h1>Byli jste úspěšně odhlášeni</h1>

    <p>Chcete-li se opět přihlásit, přihlašte se <a href="/">na hlavní stránce</a>.</p>
}
else
{
    <p>Odhlašuji...</p>
}


@code {

    private bool IsLoggedOff { get; set; } = false;
    
    protected override async Task OnParametersSetAsync()
    {
        IsLoggedOff = false;
        await HttpContextAccessor.HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
        IsLoggedOff = true;
        
        RedirectManager.RedirectTo("/");
    }

}