@using System.Text
@using HlidacStatu.Repositories


@{ ViewBag.Title = "Debug data"; }

@{
    var osoby = await HlidacStatu.Repositories.OsobyEsRepo.YieldAllPoliticiansAsync()
            .Select(m => m.NameId).ToListAsync();
    StringBuilder sb = new StringBuilder(10000);
    sb.AppendLine("<table>");
    foreach (var nid in osoby)
    {
        var o = Osoby.GetByNameId.Get(nid);
        if (o != null)
        {
            if (o.HasPhoto())
            {
                sb.Append($"<tr style='border-bottom:1px gray solid'><td><a href='https://www.hlidacstatu.cz/osoba/{o.NameId}'>{o.FullNameWithYear()}</a></td>");
                sb.Append($"<td><div class=\"person-profile-thumb\"><div class=\"photo\"><div class=\"profile-picture\" style=\"background-image: url('{o.GetPhotoUrl(local: false)}')\"></div></div></div></td>");
                sb.Append($"<td><div class=\"person-profile-thumb\"><div class=\"photo\"><div class=\"profile-picture border\" style=\"background-image: url('{o.GetPhotoUrl(local: false, "small.nobackground.jpg")}')\"></div></div></div></td>");
                sb.AppendLine("</tr>");
            }
        }
    }
    sb.AppendLine("</table>");

}
<div class="row">

    @Html.Raw(sb.ToString())
</div>
