@using System.Net.Http
@model HlidacStatu.Web.Models.IndexViewModel
@inject IHttpClientFactory HttpClientFactory

@section scripts
{
    <style>
        .hlidac-autocomplete {
            /*border: 2px solid yellow;   */         
            position:relative;
            padding:0;
            margin:0;
        }

            .hlidac-autocomplete .hlidac-autocomplete-list {
                /*border: 1px solid red;*/
                position:absolute;
                left:0px;
                z-index:100;
                width:80%;
                margin: 0;
                padding: 0;
            }
        
        .no-overflow {
            overflow: hidden; 
            text-overflow: ellipsis;
        }
        
        .selected-element {
            max-width: 200px;
        }
        
        .input-group-newline {
            width: 100%;
        }
    </style>
}

<base href="~/" />
<script src="_framework/blazor.server.js"></script>

<h1>Blazor test in mvc</h1>
@* *@
@* <div> *@
@*     <p>prerendered</p> *@
@*     @(await Html.RenderComponentAsync<HlidacStatu.Web.Views.Shared.Components.Hokus>(RenderMode.ServerPrerendered, new { Data = " Hello World " })) *@
@* </div> *@


@* <div> *@
@*     <p>nomal</p> *@
@*     @(await Html.RenderComponentAsync<HlidacStatu.Web.Views.Shared.Components.AutocompleteWrap>( *@
@*         RenderMode.Server,  *@
@*         new { HttpClientFactory = HttpClientFactory })) *@
@* </div> *@

<div>
    <p>normal</p>
    @(await Html.RenderComponentAsync<HlidacStatu.Web.Views.Shared.Components.AutocompleteWrap>(
        RenderMode.Server, new { Endpoint = "http://10.10.150.203:20002", HttpClient = HttpClientFactory.CreateClient() }))
</div>

<div class="row">
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
    <div class="col">Text pod hledáním</div>
</div>