

<div class="card text-bg-light mb-3">
    <div class="card-header">Přehledy podle platu</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a asp-action="DlePlatu" asp-route-id="1">Platy nižší než je nástupní plat pokladní v Lidlu</a>
        </li>
        <li class="list-group-item">
            <a asp-action="DlePlatu" asp-route-id="2">Nižší než průměrné platy</a>
        </li>
        <li class="list-group-item">
            <a asp-action="DlePlatu" asp-route-id="3">Vyšší než průměrné platy</a>
        </li>
        <li class="list-group-item">
            <a asp-action="DlePlatu" asp-route-id="4">Nejvyšší platy ve veřejné správě</a>
        </li>
        <li class="list-group-item">
            <a href="/analyza/kategorie">Porovnání a vývoj platů a mezd v různých kategoriích zaměstnání</a>
        </li>
        <li class="list-group-item">
            <a href="/analyza/kategorie?k1=2341&k2=2330">Vývoj platů učitelů 1. stupně základní školy a srovnání se soukromými školami</a>
        </li>
        <li class="list-group-item">
            <a href="/analyza/kategorie?k1=2212&k2=2211">Vývoj a porovnání platů lékařů specialistů a praktických lékařů v soukromém i veřejném sektoru</a>
        </li>
        <li class="list-group-item">
            <a href="/analyza/kategorie?k1=1345&k2=">Vývoj a porovnání výdělků manažerů ve vzdělávání v soukromém a veřejném sektoru</a>
        </li>
        <li class="list-group-item">
            <a href="/analyza/ZmenaPlatuCeos">Přehled růstu ředitelských platů</a>
        </li>
        <li class="list-group-item">
            <a href="/analyza/ZmenaNejvyssihoPlatu">Přehled růstu nejvyšších platů</a>
        </li>
        <li class="list-group-item">
            <a href="/analyza/NejvyssiOdmeny">Platy s nejvyšším podílem odměny</a>
        </li>
    </ul>
</div>