
<p class="text-muted">
    Různé analýzy nad platy úředníků od roku 2016
</p>
<div class="card text-bg-light mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-dark">Žebříčky</li>
        <li class="list-group-item">
            <i class="fa-regular fa-gauge-min"></i> <a asp-action="DlePlatu" asp-route-id="1">Platy nižší než je nástupní plat pokladní v Lidlu</a>
        </li>
        <li class="list-group-item">
            <i class="fa-regular fa-gauge-low"></i> <a asp-action="DlePlatu" asp-route-id="2">Nižší než průměrné platy</a>
        </li>
        <li class="list-group-item">
            <i class="fa-regular fa-gauge-high"></i> <a asp-action="DlePlatu" asp-route-id="3">Vyšší než průměrné platy</a>
        </li>
        <li class="list-group-item">
            <i class="fa-regular fa-gauge-max"></i> <a asp-action="DlePlatu" asp-route-id="4">Nejvyšší platy ve veřejné správě</a>
        </li>
        <li class="list-group-item list-group-item-dark">Nejvyšší nárůsty a poklesy platů od 2021</li>
        <li class="list-group-item">
            <i class="fa-regular fa-display-chart-up-circle-dollar"></i> <a href="/analyza/ZmenaPlatuCeos">Přehled nejvyšších nárůstů ředitelských platů od 2021</a>
        </li>
        <li class="list-group-item">
            <i class="fa-regular fa-chart-line-down"></i> <a href="/analyza/ZmenaPlatuCeos?max=false">Přehled nejvyšších poklesů ředitelských platů od 2021</a>
        </li>
        <li class="list-group-item">
            <i class="fa-regular fa-display-chart-up-circle-dollar"></i> <a href="/analyza/ZmenaNejvyssihoPlatu">Přehled nejvyšších nárůstů neředitelských platů od 2021</a>
        </li>
        <li class="list-group-item">
            <i class="fa-regular fa-chart-line-down"></i> <a href="/analyza/ZmenaNejvyssihoPlatu?max=false">Přehled nejvyšších poklesů neředitelských platů od 2021</a>
        </li>
        <li class="list-group-item">
            <i class="fa-regular fa-badge-percent"></i> <a href="/analyza/NejvyssiOdmeny">Platy s nejvyšším podílem odměny</a>
        </li>
        <li class="list-group-item list-group-item-dark">Porovnání s průměrnými výdělky v různých oborech</li>
        <li class="list-group-item">
            <i class="fa-regular fa-code-compare"></i> <a href="/analyza/kategorie">Porovnání a vývoj platů a mezd v různých kategoriích zaměstnání</a>
        </li>
        <li class="list-group-item">
            <i class="fa-regular fa-caret-right"></i> <i class="fa-regular fa-code-compare"></i> <a href="/analyza/kategorie?k1=2341&k2=2330">Např. vývoj platů učitelů 1. stupně základní školy a srovnání se soukromými školami</a>
        </li>
        <li class="list-group-item">
            <i class="fa-regular fa-caret-right"></i> <i class="fa-regular fa-code-compare"></i> <a href="/analyza/kategorie?k1=2212&k2=2211">Např. vývoj a porovnání platů lékařů specialistů a praktických lékařů v soukromém i veřejném sektoru</a>
        </li>
        <li class="list-group-item">
            <i class="fa-regular fa-caret-right"></i> <i class="fa-regular fa-code-compare"></i> <a href="/analyza/kategorie?k1=1345&k2=">Např. vývoj a porovnání výdělků manažerů ve vzdělávání v soukromém a veřejném sektoru</a>
        </li>

        <li class="list-group-item">
            <a href="/analyza/namestciMinisterstev">Náměstci ministerstev</a>
        </li>
    </ul>
</div>