@* @{ *@
@*     List<Breadcrumb>? breadcrumbs = (List<Breadcrumb>?)ViewData["breadcrumbs"]; *@
@* } *@

@* @if (breadcrumbs is not null) *@
@* { *@
@*     <div class="container"> *@
@*         <ol class="breadcrumb"> *@
@*             <li> *@
@*                 <a href="/">Platy úředníků</a> *@
@*             </li> *@
@*             @foreach (var breadcrumb in breadcrumbs.SkipLast(1)) *@
@*             { *@
@*                 <li> *@
@*                     <a href="@breadcrumb.Link">@breadcrumb.Name</a> *@
@*                 </li> *@
@*             } *@
@*             @{ *@
@*                 var activeBreadcrumb = breadcrumbs.LastOrDefault(); *@
@*                 <li class="active"> *@
@*                     @activeBreadcrumb?.Name *@
@*                 </li> *@
@*              *@
@*             } *@
@*         </ol> *@
@*     </div> *@
@* } *@

<div class="w-auto p-5">
    <div class="container">
        @if (ViewData["context"] is not null)
        {
            <h2>
                @ViewData["context"]
            </h2>
        }

    </div>
</div>