@using HlidacStatu.Entities.Entities
@using MathNet.Numerics.Statistics
@{
    List<PuPlat>? platy = null;
    if (ViewData.ContainsKey("platy"))
    {
        platy = (List<PuPlat>?)ViewData["platy"];
    }

    if (platy is null || !platy.Any())
        return;

    var hrubeMesicniPlaty = platy.Select(o => (double)o.HrubyMesicniPlatVcetneOdmen).ToList();

    var minimum = hrubeMesicniPlaty.Minimum();
    var median = hrubeMesicniPlaty.Median();
    var maximum = hrubeMesicniPlaty.Maximum();
}

@if (platy is not null && platy.Any())
{
    <div class="w-auto bg-warning-subtle p-5">
        <div class="container">
            <div class="row">

                <div class="col">
                    <figure>
                        <h2 class="mb-0">@minimum.ToString("N0")&nbsp;Kč</h2>
                        <figcaption>Nejnižší plat</figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure>
                        <h2 class="mb-0">@median.ToString("N0")&nbsp;Kč</h2>
                        <figcaption>Medián</figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure>
                        <h2 class="mb-0">@maximum.ToString("N0")&nbsp;Kč</h2>
                        <figcaption>Nejvyšší plat</figcaption>
                    </figure>
                </div>

            </div>
        </div>
    </div>
}