

<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div style="font-size:125%"><b>Tato insolvence byla odstraněna z insolvenčního rejstříku!</b></div>
    <div ><strong>Pozor!</strong> Tato stránka je dostupná pouze pro vás jako novináře, veřejnost na ni nemá přístup.</div>
</div>
