@{
    ViewBag.Title = "Podání";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<h3>Jednotlivá podání, která můžete učinit přes vašeho oblíbeného Hlídače státu</h3>
<a href="/podani/nevyzadanyHovor">Nevyžádaný hovor</a>