@{
    ViewBag.Title = "Podání";
    var currentTime = DateTime.Now;
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}


<h3>Jednotlivá podání, která můžete učinit přes vašeho oblíbeného Hlídače státu</h3>

<p>Pokud nevíte jak postupovat s vyplněním žádosti, můžete se podívat na náš <a href="/podani/obtezujiciHovorNavod">návod</a></p>

<div class="card mb-3">
    <h5 class="card-header">Nahrávání záznamu</h5>
    <div class="col-sm-9 col-xl-10">
        <div class="card-body">
            <div class="collapse show audioInfoTrigger">
                <h5 class="card-title">Pro úspěšné vyřízení žádosti je ideální nahrát záznam hovoru</h5>
                <h6 class="card-subtitle mb-2 text-muted">Nezapomeňte svůj telefon dát na hlasitý odposlech a položit ho co nejblíže k počítači</h6>
            </div>
            <h6 class="card-subtitle mb-2 text-muted collapse hide audioInfoTrigger">Nahraný soubor ke stažení najdete níže.</h6>
            <div class="mx-auto">
                <button class="btn btn-success collapse show" id="startRecording" onclick="startRecording()">Začít nahrávat <i class="fa-duotone fa-microphone-lines"></i></button>
                <button class="btn btn-danger collapse" id="stopRecording" onclick="stopRecording()">Vypnout nahrávání <i class="fa-duotone fa-microphone-lines" style="--fa-primary-color: #0ba800;"></i></button>
                @* <button class="btn btn-info collapse" id="downloadAudio" onclick="downloadMP3()">Stáhnout záznam</button> *@
            </div>
        </div>
    </div>
</div>

<form action="/podani/SaveObtezujiciHovor" method="post" class="form-group" id="myform" onsubmit="event.preventDefault(); downloadPDF();">
    <div class="card mb-3">
        <h5 class="card-header">Podání</h5>
        <div class="col-sm-9 col-xl-10">
            <div class="card-body">
                <h5 class="card-title">Dále je potřeba vyplnit maximum informací</h5>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="jmeno" name="jmeno"
                               class="form-control"/>
                        <label for="jmeno">Vaše jméno a příjmení</label>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="cisloVolaneho" name="cisloVolaneho"
                               class="form-control"/>
                        <label for="cisloVolaneho">Vaše tel. číslo</label>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="teloperator" name="teloperator"
                               class="form-control"/>
                        <label for="teloperator">Váš operátor</label>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="kontakt" name="kontakt"
                               class="form-control"/>
                        <label for="kontakt">Případný další kontakt, kde Vás může úřad zastihnout pro doplnění žádosti</label>
                    </div>
                </div>
                <br/>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="datumHovoru" name="datumHovoru"
                               class="form-control"
                               value="@currentTime.ToString("dd. MM. yyyy")"/>
                        <label for="datumHovoru">Datum hovoru</label>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="casHovoru" name="casHovoru"
                               class="form-control"
                               value="@currentTime.ToString("HH:mm")"/>
                        <label for="casHovoru">Čas hovoru</label>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="ucel" name="ucel"
                               class="form-control"
                               value="marketingový hovor"/>
                        <label for="ucel">Účel hovoru</label>
                    </div>
                </div>
                <br/>

                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="volajiciSpolecnost" name="volajiciSpolecnost"
                               class="form-control"/>
                        <label for="volajiciSpolecnost">Název společnosti volajícího</label>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="volajiciJmeno" name="volajiciJmeno"
                               class="form-control"/>
                        <label for="volajiciJmeno">Jméno volajícího</label>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="cisloVolajiciho" name="cisloVolajiciho"
                               class="form-control"/>
                        <label for="cisloVolajiciho">Číslo volajícího</label>
                    </div>
                </div>

                @* <input type="file" id="audio" name="audio" hidden="hidden"/> *@
                <button type="submit" class="btn btn-success" id="formSubmit">Vygenerovat podání</button>
            </div>
        </div>
    </div>
</form>

<div class="card mb-3">
    <h5 class="card-header">Ke stažení</h5>
    <div class="col-sm-9 col-xl-10">
        <div class="card-body">
            <h5 class="card-title">Zde najdete vygenerované soubory ke stažení</h5>
            
            <p>
                Připravené soubory si stáhněte na disk a pošlete je v příloze úřadu jedním z následujících způsobů. V předmětu zprávy také uveďte, že jde o <strong>Podání stížnosti na nevyžádaný marketingový hovor</strong>
            </p>
            <ul>
                <li>Emailem na podatelna@ctu.cz</li>
                <li>Datovou schránkou na a9qaats</li>
            </ul>

            <div class="mx-auto">
                <button class="btn btn-info collapse" id="downloadAudio" onclick="downloadMP3()">Stáhnout záznam</button>
                <br/>
                <a class="btn btn-info collapse" id="downloadPdf">Stáhnout pdf</a>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/lamejs/1.2.0/lame.min.js"></script>
<script>
let mediaRecorder;
let audioChunks = [];
let mp3Blob;
let audioBlob

async function startRecording() {
  $('#stopRecording').collapse('show');
    $('#startRecording').collapse('hide');
    $('#downloadAudio').collapse('hide');

  const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
  const options = { audioBitsPerSecond: 68000 };
  mediaRecorder = new MediaRecorder(stream, options);
  mediaRecorder.ondataavailable = event => {
      audioChunks.push(event.data);
  };
  mediaRecorder.onstop = async () => {
      audioBlob = new Blob(audioChunks, { type: "audio/wav" });
  };
  audioChunks = [];
  mediaRecorder.start();
}

function stopRecording() {
  $('#stopRecording').collapse('hide');
  $('#startRecording').collapse('hide');
  $('.audioInfoTrigger').collapse('toggle');
  $('#downloadAudio').collapse('show');
  if (mediaRecorder) {
      mediaRecorder.stop();
  }  
}

function downloadMP3() {
    if (audioBlob) {
        const url = URL.createObjectURL(audioBlob);
        const a = document.createElement("a");
        a.href = url;
        a.download = "recorded_audio.wav";
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    }
}

async function downloadPDF() {

  const form = document.getElementById('myform');
  const formData = new FormData(form);
  
  fetch('/podani/SaveObtezujiciHovor', {
          method: 'POST',
          body: formData
      })
      .then(response => response.blob())
      .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const downloadEl = document.getElementById("downloadPdf"); 
        
        downloadEl.setAttribute("href", url)
        downloadEl.setAttribute("download", 'obtezujici-hovor.pdf')
        $('#downloadPdf').collapse('show');
      })
      .catch((error) => {
          console.error('There was an error:', error);
      });
  
  
}

</script>