@{
    ViewBag.Title = "Stížnost na nevyžádaný marketingový hovor";
    var currentTime = DateTime.Now;
}

@section breadcrumb
    {
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<h4>Průvodce nahráním a sepsáním stížnosti na nevyžádaný marketingový hovor</h4>

<p>Detailní postup najdete v našem <a href="/podani/obtezujiciHovorNavod">návodu</a>, ale formulář vás celým sepsáním stížnosti provede.</p>

<div class="card mb-3">
    <h5 class="card-header">Nahrávání záznamu</h5>
    <div class="col-sm-9 col-xl-10">
        <div class="card-body">
            <div class="collapse show">
                <p class="card-title fs-6">
                    Pro úspěšné a účinné vyřízení žádosti <b>je nejlepší nahrát záznam hovoru</b>.
                    Většina telefonů neumožňuje hovor nahrát přímo na telefonu, proto můžete hovor nahrát na mikrofon vašeho počítače nebo notebooku.
                </p>
                @* <h6 class="card-subtitle mb-2 text-warning"></h6> *@
                <div class="p-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3 fs-6 mb-3">
                    Dejte telefon na hlasitý odposlech a držte ho poblíž notebooku nebo mikrofonu (či webkamery) připojeného k počítači a zmáčněte červené tlačítko <code>Začít nahrávat</code>.
                </div>
            </div>
            <div class="mx-auto">
                <button class="btn btn-danger collapse show" id="startRecording" onclick="startRecording()"><i class="fa-duotone fa-microphone-lines fa-beat fa-lg"></i> Začít nahrávat</button>
                <button class="btn btn-warning collapse" id="stopRecording" onclick="stopRecording()"><i class="fa-duotone fa-microphone-lines fa-beat fa-lg" style="color:red"></i> Vypnout nahrávání</button>
                <div class="alert alert-success collapse hide audioInfoTrigger" role="alert">Nahraný soubor ke stažení najdete níže na stránce.</div>
                @* <button class="btn btn-info collapse" id="downloadAudio" onclick="downloadMP3()">Stáhnout záznam</button> *@
                <p>
                    Volajícího nemusíte upozornit ani žádat o souhlas, že si tento hovor nahráváte.
                </p>
            </div>
        </div>
    </div>
</div>

<form action="/podani/SaveObtezujiciHovor" method="post" class="form-group" id="myform" onsubmit="event.preventDefault(); downloadPDF();">
    <div class="card mb-3">
        <h5 class="card-header">Informace o hovoru</h5>
        <div class="col-sm-9 col-xl-10">
            <div class="card-body">
                <h5 class="card-title">Během hovoru nebo po něm vyplňte informace o volajícím do formuláře</h5>
                <div class="bs-callout warning">
                    <h4>Jak se zeptat během hovoru na údaje do formuláře?</h4>
                    <p>
                        <ol>
                            <li>"Omlouvám se, přeslechl/a jsem jméno společnosti, ze které voláte"</li>
                            <li>"A jaké je Vaše jméno?"</li>
                            <li>"Z jakého důvodu mi, prosím, voláte?"</li>
                            <li>"Kdy jsem Vám dal/a souhlas, že mě můžete kontaktovat?"</li>
                            <li>"Už mi nevolejte, nedal jsem vam nikdy souhlas a nepřeji si být obtěžován, děkuji a nashledanou."</li>
                        </ol>
                    </p>
                </div>

                <h5>Informace o hovoru</h5>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="volajiciSpolecnost" name="volajiciSpolecnost"
                               class="form-control" />
                        <label for="volajiciSpolecnost">Název společnosti volajícího</label>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="volajiciJmeno" name="volajiciJmeno"
                               class="form-control" />
                        <label for="volajiciJmeno">Jméno volajícího</label>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="cisloVolajiciho" name="cisloVolajiciho"
                               class="form-control" />
                        <label for="cisloVolajiciho">Číslo volajícího</label>
                    </div>
                </div>

                <br />
                <div class="row mb-3">
                    <div class="form-floating col">
                        <div class="mx-auto">
                            <div class="form-floating">
                                <input type="text" id="datumHovoru" name="datumHovoru"
                                       class="form-control"
                                       value="@currentTime.ToString("dd. MM. yyyy")" />
                                <label for="datumHovoru">Datum hovoru</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating col">
                        <div class="mx-auto">
                            <div class="form-floating">
                                <input type="text" id="casHovoru" name="casHovoru"
                                       class="form-control"
                                       value="@currentTime.ToString("HH:mm")" />
                                <label for="casHovoru">Čas hovoru</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="ucel" name="ucel"
                               class="form-control"
                               value="marketingový hovor" />
                        <label for="ucel">Účel hovoru</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <h5 class="card-header">Informace o mně</h5>
        <div class="col-sm-9 col-xl-10">
            <div class="card-body">
                <p>
                    <h5 class="card-title">Vyplňte informace o Vás, jako stěžovateli a vše pro vygenerování stížnosti je hotovo. Pokud jste ještě nevypnuli nahrávání hovoru, zastavte nahrávání tlačítem <code>Vypnout nahrávání</code></h5>

                    <button class="btn btn-warning collapse" id="stopRecording2" onclick="stopRecording()"><i class="fa-duotone fa-microphone-lines fa-beat fa-lg" style="color:red"></i> Vypnout nahrávání</button>
                    <div class="alert alert-success collapse hide audioInfoTrigger" role="alert">Nahraný soubor ke stažení najdete níže na stránce.</div>

                </p>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="jmeno" name="jmeno"
                               class="form-control" />
                        <label for="jmeno">Vaše jméno a příjmení</label>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="cisloVolaneho" name="cisloVolaneho"
                               class="form-control" />
                        <label for="cisloVolaneho">Vaše tel. číslo</label>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="teloperator" name="teloperator"
                               class="form-control" />
                        <label for="teloperator">Váš operátor (pod názvem, pod kterým ho znáte vy)</label>
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="form-floating">
                        <input type="text" id="kontakt" name="kontakt"
                               class="form-control" />
                        <label for="kontakt">Případný další kontakt, kde Vás může úřad zastihnout pro doplnění žádosti</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-success" id="formSubmit">Vygenerovat dokument se stížností</button>
            </div>
        </div>
    </div>
</form>

<div class="card mb-3">
    <h5 class="card-header">Odeslání stížnosti</h5>
    <div class="col-sm-9 col-xl-10">
        <div class="card-body">
            <h5 class="card-title">Zde najdete vygenerované soubory ke stažení</h5>
            <div class="mx-auto">
                <button class="btn btn-info collapse me-3" id="downloadAudio" onclick="downloadMP3()"><i class="fa-kit fa-regular-circle-microphone-circle-arrow-down fa-lg"></i>&nbsp;Stáhnout záznam hovoru</button>

                <a class="btn btn-info collapse" id="downloadPdf"><i class="fa-regular fa-file-pdf fa-lg"></i> Stáhnout stížnost jako PDF</a>
            </div>

            <p>
                Připravené dokumenty (PDF a případně zvukový záznam) si stáhněte na disk a pošlete je v příloze úřadu jedním z následujících způsobů:
            </p>
            <ul>
                <li>Emailem na <code>podatelna@ctu.cz</code></li>
                <li>nebo datovou schránkou na <code>a9qaats</code></li>
            </ul>
            <p>
                V předmětu zprávy také uveďte, že jde o <code>Podání stížnosti na nevyžádaný marketingový hovor</code>.
            </p>
        </div>
    </div>
</div>
<div class="card mb-3">
    <h5 class="card-header">Jak pracujeme s údaji z formuláře?</h5>
    <div class="col-sm-9 col-xl-10">
        <div class="card-body">
            <p>
                <ul>
                    <li>Zvukový záznam vzniká <b>pouze na vašem počítači</b> a nikdy ho neposíláme na náš ani jakýkoliv cizí server.</li>
                    <li>
                        Údaje z formuláře (o volajícím a vaše kontaktní údaje) zasíláme pouze na náš server <b>pouze pro potřebu vygenerování PDF se stížností</b>
                        a informace s vašimi kontaktními údaji neukládáme.
                    </li>
                    <li>Údaje o volajícím ukládáme pouze pro statistické účely a nejsou jakkoliv spojeny s informacemi o vás.</li>
                </ul>
            </p>
        </div>

    </div>
</div>


<script>
    let mediaRecorder;
    let audioChunks = [];
    let mp3Blob;
    let audioBlob;
    let audioStream;

    async function startRecording() {
        $('#stopRecording').collapse('show');
        $('#stopRecording2').collapse('show');
        $('#startRecording').collapse('hide');
        $('#downloadAudio').collapse('hide');
        //$('.onRecordingTrigger').collapse('toggle');

        audioStream = await navigator.mediaDevices.getUserMedia({ audio: true });
        const options = { audioBitsPerSecond: 68000 };
        mediaRecorder = new MediaRecorder(audioStream, options);
        mediaRecorder.ondataavailable = event => {
            audioChunks.push(event.data);
        };
        mediaRecorder.onstop = async () => {
            audioBlob = new Blob(audioChunks, { type: "audio/wav" });
        };
        audioChunks = [];
        mediaRecorder.start();
    }

    function stopRecording() {
        $('#stopRecording').collapse('hide');
        $('#stopRecording2').collapse('hide');
        //$('.onRecordingTrigger').collapse('toggle');
        $('#startRecording').collapse('show');
        $('#startRecording').text('Začít znovu nahrávat (přepíše se poslední záznam)');
        $('.audioInfoTrigger').collapse('toggle');
        $('#downloadAudio').collapse('show');
        if (mediaRecorder) {
            mediaRecorder.stop();
        }
        if (audioStream) {
            audioStream.getTracks().forEach(track => track.stop());
        }
    }
  

function downloadMP3() {
    if (audioBlob) {
        const url = URL.createObjectURL(audioBlob);
        const a = document.createElement("a");
        a.href = url;
        a.download = "obtezujici-hovor-nahravka-@(currentTime.ToString("yyyy_MM_dd-HH:mm")).wav";
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        }
    }

async function downloadPDF() {

  const form = document.getElementById('myform');
  const formData = new FormData(form);
  
  fetch('/podani/SaveObtezujiciHovor', {
          method: 'POST',
          body: formData
      })
      .then(response => response.blob())
      .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const downloadEl = document.getElementById("downloadPdf"); 
        
        downloadEl.setAttribute("href", url)
        downloadEl.setAttribute("download", 'obtezujici-hovor-@(currentTime.ToString("yyyy_MM_dd-HH:mm")).pdf')
        $('#downloadPdf').collapse('show');
      })
      .catch((error) => {
          console.error('There was an error:', error);
      });
  
  
}

</script>