@{
    ViewBag.Title = "Podání";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}


<p>
    Obtěžující marketingové hovory zná dnes už bohužel téměř každý, kdo má mobilní telefon.
    Nejde ale jen o to, že nás to skutečně otravuje, ono je to i protizákonné. Více jsme se o tom rozepsali v našem 
    článku z loňského roku - <a href="https://texty.hlidacstatu.cz/ach-jo-uz-zase-volaji/">https://texty.hlidacstatu.cz/ach-jo-uz-zase-volaji/</a>
    Bohužel, moc se od doby platnosti příslušného zákona nezměnilo a takových hovorů spíše přibývá. My vám ale pomůžeme s obranou!
</p>

<p>
    Připravili jsme pro vás jednoduchý formulář a užitečné nahrávátko hovoru. Pokud budete včas připraveni oba tyto 
    nástroje ve vhodnou chvíli použít, máte velkou šanci nejen k potrestání chronických porušovačů zákona, ale zachráníte 
    spoustu dalších lidí od nevyžádaných hovorů a nejen pro nás budete velký hrdina!
</p>

<p>
    <strong>
        Celou aplikaci si pro snadnější přístup vložte do oblíbených ve vašem internetovém prohlížeči, ať ji máte k 
        dispozici na jedno kliknutí.
    </strong>
</p>

<p>
    A proč nahrávátko? Protože váš mobilní telefon nemusí mít funkci nahrávání hovoru přístupnou, nebo ji v té rychlosti 
    nemusíte najít. A nahraný hovor mezi vámi a obtěžujícím volajícím v příloze vaší stížnosti, může výrazně napomoci celému řízení.
</p>

<h3>Jak na to?</h3>

<ul>
    <li>přijmout hovor</li>
    <li>zapnout hlasitý odposlech na vašem telefonu (ikonka reproduktoru)</li>
    <li>jít co nejblíže k počítači (k jeho mikrofonu) a tam zůstat až do konce hovoru</li>
    <li>zapnout <a asp-action="Index">naši webovou aplikaci</a> a odkliknout nahrávání</li>
    <li>zeptat se volajícího na celé jméno firmy (klidně i opakovaně)</li>
    <li>zjistit, co nabízí (zboží nebo služby = to je definice obtěžujícího mtg hovoru)</li>
    <li>ukončit hovor</li>
    <li>kliknout na ukončení nahrávání</li>
    <li>kliknout na stažení nahrávky (a uložení na váš počítač)</li>
    <li>pořízení snímku obrazovky s číslem a časem volajícího (nepovinné)</li>
    <li>vyplnění formuláře na <a asp-action="Index">naší webové aplikaci</a>
    <li>pečlivá kontrola údajů a klik na vygenerovat podání (pdf) (a uložení na váš počítač)</li>
    <li>kontrola všech příloh (1) podání (2) nahrávka hovoru (3) snímek obrazovky</li>
    <li>odeslání na úřad (ČTÚ) (a) e-mailem nebo (b) datovou schránkou</li>
</ul>

<h3>Jak na to? (podrobný návod)</h3>

<p>
    Hned jakmile přijmete na svém telefonu hovor od vám neznámého čísla a zjistíte, že jde právě o ten druh hovoru, na 
    který si můžete stěžovat (viz náš text), <strong>zapněte si na vašem telefonu hlasitý odposlech</strong> 
    (ikonka reproduktoru), <strong>přisuňte telefon co nejblíže k počítači</strong> (k mikrofonu vašeho počítače) a 
    <strong>klikněte na nahrávání</strong>. Od mikrofonu počítače s telefonem neodcházejte! :-)
</p>

<p>
    <strong>Nejspíš nestihnete úplný začátek hovoru, ale to nevadí.</strong> I v jeho průběhu (když už nahráváte) se 
    můžete opakovaně <strong>zeptat na celé jméno firmy</strong> odkud je volající. Pokud vám název vůbec nic neříká 
    a nikdy jste s dotyčnou firmou neměli nic společného*, v klidu dál nahrávejte, abyste zjistili o co vlastně jde. 
    Nabízejí vám speciální služby, nebo snad unikátní či levné zboží? Pak přesně splňují definici obtěžujícího 
    marketingového hovoru, na který si můžete stěžovat.
</p>

<p>
    Pokud už znáte jméno firmy a víte co nabízejí, nemusíte v hovoru pokračovat. Pak také nezapomeňte <strong>kliknout 
        na ukončení nahrávání</strong> a následně na <strong>stažení nahraného hovoru</strong>.
</p>

<p>
    <strong>Nahrávku uložte</strong> na takové místo v počítači, kde ji snadno najdete, až budete odesílat vyplněnou stížnost na úřad.
</p>

<p>
    V tuto chvíli můžete také <strong>vyfotit obrazovku telefonu s číslem a časem volajícího</strong> 
    (funkcí screenshot/snímek obrazovky) a tento obrázek přiložit k vašemu podání jako další důkaz o uskutečněném hovoru. 
    Obrazovku s číslem a časem najdete v historii hovorů vašeho telefonu.
</p>

<p>
    Teď přijde čas na <strong>vyplnění formuláře</strong>, který jsme sestavili tak, aby odpovídal požadavkům úřadu, 
    který se bude stížností zabývat. Většinu políček ve formuláři není třeba zevrubně popisovat - to, co je o vás 
    (příjemce hovoru) vyplníte snadno. Časové údaje o hovoru nebo o číslu volajícím pak najdete ve svém telefonu, 
    kde máte v historii hovorů právě tyto informace o posledním volajícím čísle. Můžete tyto údaje také opsat z právě 
    pořízeného snímku obrazovky. Po vyplnění všech políček formuláře a jejich pečlivé kontrole, klikněte na poslední box 
    <strong>vygenerovat podání</strong> (pdf). Zobrazí se vyplněné podání (vaše stížnost) a vy jen vše ještě jednou 
    zkontrolujete a vyberete si, jakou cestu k odeslání zvolíte - elektronickou poštu nebo datovou schránku.
</p>

<p>
    V obou případech budete vše odesílat jako přílohu a proto ani jednu z nich nevynechejte a raději si to odškrtněte s námi:
</p>

<ul>
    <li><strong>podání</strong> (to obsahuje veškeré údaje o hovoru, které jste zadali do formuláře - povinné)</li>
    <li><strong>nahrávka</strong> uskutečněného hovoru (nepovinné, ale výrazně zvýší šance na úspěch)</li>
    <li><strong>snímek</strong> obrazovky s tel. číslem volajícího (nepovinné, ale může pomoci)</li>
</ul>

<p>
    Pokud zvolíte k odeslání e-mail, pak všechny připravené přílohy odešlete v jedné zprávě na adresu 
    <span class="text-success">podatelna@ctu.cz</span>. (určitě v předmětu e-mailu uveďte, že jde o 
    <strong>Podání stížnosti na nevyžádaný marketingový hovor</strong>).
</p>

<p>
    V případě, že zvolíte odeslání datovou schránkou, postupujte stejně jako u e-mailu. Identifikátor datové schránky 
    Českého telekomunikačního úřadu je <span class="text-success">a9qaats</span>.
</p>

<p>
    Tak a teď už jen čekat. ČTÚ by se měl k vašemu podání vyjádřit nejpozději do XXXXXX dní na adresu, kterou jste 
    zvolili jako kontaktní (ze které jste podání odesílali).
</p>

<p>
    Držíme palce!
</p>