@model HlidacStatu.Web.Models.Dotace_categoryDisclaimer
@{
    var guid = System.Guid.NewGuid().ToString("N").Substring(0,5);
}


@if (Model?.IconOnly == true)
{
    <text>
    <script >
        const tooltipTriggerList@(guid) = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList@(guid) = [...tooltipTriggerList@(guid)].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
        <a href="#" data-bs-toggle="tooltip" data-bs-title="Veškeré rozdělení dotací do kategorií je neoficiální, nemusí být přesné a vychází pouze ze subjektivního posouzení Hlídače státu."><i class="fa-regular fa-circle-info"></i></a>
    </text>
}
else if (Model?.Small == true) //small
{
    <p>Veškeré rozdělení dotací do kategorií je neoficiální, nemusí být přesné a vychází pouze ze subjektivního posouzení Hlídače státu.</p>
}
else
{
    <div class="alert alert-info mt-5" role="alert">
        <h4 class="alert-heading">Upozornění!</h4>
        <p>
            <b>Rozdělení dotací do kategorií je prováděno algoritmem Hlídače státu podle jednotlivých dotačních programů. </b>
            Český stát ani samospráva žádné podobné rozdělení dotací do kategorií neposkytují ani není součástí dostupných dat.
        </p>
        <hr>
        <p class="mb-0">Veškeré rozdělení dotací do kategorií je neoficiální, nemusí být přesné a vychází pouze ze subjektivního posouzení Hlídače státu.</p>
    </div>
}