@model (int? RokOd, int? RokDo, int? selectedYear, string Url)

@using System.Linq;

@{
    int rokOd = Model.RokOd ?? HlidacStatu.Repositories.DotaceRepo.DefaultLimitedYears.Min();
    int rokDo = Model.RokDo ?? HlidacStatu.Repositories.DotaceRepo.DefaultLimitedYears.Max();
    string urlDelimiter = "?";
    if (Model.Url.Contains("?")) {
        urlDelimiter = "&";
    }
}
<a class="btn btn-sm btn-@(Model.selectedYear == null ? "" : "outline-")primary" href="@Model.Url">Vše</a>
@for (int year = rokOd; year <= rokDo; year++)
{
    <a class="btn btn-sm btn-@(Model.selectedYear == year ? "" : "outline-")primary" href="@Model.Url@(urlDelimiter)rok=@year">@year</a>
}