@using System.Text.Json
@model HlidacStatu.Repositories.Searching.DotaceSearchResult


<div class="form-search">
    <label class="sr-only" for="I">Hledat v dotac&#xED;ch</label>

    <div class="hlidac-autocomplete d-flex" id="dotace-ac-old">
        <form method="get" class="d-flex w-100">
            <input value="@ViewBag.Query" id="Q" name="Q" type="text" class="header__search__input d-flex w-100" placeholder='Napište vyhledávaný výraz nebo stiskněte tlačítko "Hledat"'>
            <input type="hidden" name="u" value="2"/>
            <button formaction="/dotace/hledat" class="btn btn-hs btn-primary" >Hledat</button>
        </form>
    </div>
    
    <div class="hlidac-autocomplete d-flex" id="dotace-ac-new">
        <select id="autocomplete-dotace" autocomplete="off" placeholder='Napište vyhledávaný výraz nebo stiskněte tlačítko "Hledat"'></select>
        <button id="sendDotaceQuery" class="btn btn-hs btn-primary" >Hledat
            <span id="searchSpiner" style="display: none" class="spinner-border spinner-border-sm text-light align-middle mb-1 ms-1" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </button>
    </div>

    <div>
        <button class="header__search__hint btn btn-link dotace-ac-new" style="margin-right: 5px; text-decoration: none; padding-top: 0px; font-size: 15px; border: none !important">
            <i class="fa-solid fa-typewriter"></i> Přepnout na vyhledávání bez našeptávače
        </button>
        <button class="header__search__hint btn btn-link dotace-ac-old" style="margin-right: 5px; text-decoration: none; padding-top: 0px; font-size: 15px; border: none !important">
            <i class="fa-solid fa-wand-sparkles"></i> Přepnout na vyhledávání s našeptávačem
        </button>
    </div>
    
    
    <partial name="_SearchFormHelp" />
    
    <div class="clearfix" style="padding-bottom:20px;"></div>
</div>

@{
    var query = Context.Request.Query;
    var inputTags = AutocompleteHelper.CreateInputTagsForJs(query);
    var inputTagsJson = JsonSerializer.Serialize(inputTags).Replace(@"\", @"\\"); //JSON.parse need escaped `\`
}

<script>

$(document).ready(function () {
    const inputTagsJson = '@Html.Raw(inputTagsJson)';
    const autocomplete1 = new AutocompleteManager('#autocomplete-dotace','/dotace/hledat',inputTagsJson, '#sendDotaceQuery' );

    // You can now initialize multiple instances with different selectors if needed
    // const autocomplete2 = new AutocompleteManager('#anotherAutocomplete');
    var defaultSearch = parseInt(readCookie("defaultDotaceSearch"));

    if (isNaN(defaultSearch) || defaultSearch === 0) {
        $('#dotace-ac-old').removeClass('d-flex').addClass('d-none');
        $('#dotace-ac-new').removeClass('d-none').addClass('d-flex');
        $('button.dotace-ac-old').addClass('d-none');
        $('button.dotace-ac-new').removeClass('d-none');
    } else {
        $('#dotace-ac-old').removeClass('d-none').addClass('d-flex');
        $('#dotace-ac-new').removeClass('d-flex').addClass('d-none');
        $('button.dotace-ac-old').removeClass('d-none');
        $('button.dotace-ac-new').addClass('d-none');
    }

    $('button.dotace-ac-old').click(toggleDotaceSearchComponent);
    $('button.dotace-ac-new').click(toggleDotaceSearchComponent);
});

function toggleDotaceSearchComponent() {
    var isOldVisible = $('#dotace-ac-old').hasClass('d-none');

    if (isOldVisible) {
        $('#dotace-ac-old').removeClass('d-none').addClass('d-flex');
        $('#dotace-ac-new').removeClass('d-flex').addClass('d-none');
        $('button.dotace-ac-old').removeClass('d-none');
        $('button.dotace-ac-new').addClass('d-none');
        setOldDotaceSearchAsDefault();
    } else {
        $('#dotace-ac-old').removeClass('d-flex').addClass('d-none');
        $('#dotace-ac-new').removeClass('d-none').addClass('d-flex');
        $('button.dotace-ac-old').addClass('d-none');
        $('button.dotace-ac-new').removeClass('d-none');
        setNewDotaceSearchAsDefault();
    }
}

function setOldDotaceSearchAsDefault() {
    createCookie("defaultDotaceSearch", 1, 60);
}

function setNewDotaceSearchAsDefault() {
    createCookie("defaultDotaceSearch", 0, 60);
}

</script>