@{

    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = "Nový, vylepšený a doplněný";

}
@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="~/bundles/highcharts"></script>
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">Hlídač Dotací</li>
    </ol>
}

<partial name="_SearchForm" model="@(new HlidacStatu.Repositories.Searching.DotaceSearchResult())" />



<div class="watcher-blocks">

    <div class="watcher-blocks__wrapper">


        <div class="watcher-block">

            <div class="watcher__title">
                <h3 class="new-title">
                    Kompletně nový Hlídač dotací
                </h3>
            </div>
            <div class="block-col ">
                <p>
                    Na tomto místě - jako jediném v ČR - najdete nejkompletnější přehled schválených a vyplacených státních a evropských dotací od roku 2010 (občas i starší).
                    Úplně nově jsme doplnili také <b>krajské dotace od roku 2021</b>.
                </p>
                <p>
                    Při zpracování dotací jsme se museli vypořádat z více než 2 miliony duplikátních záznamů,
                    stovky tisíc záznamů jsme museli opravit a vyčistit (ano, data od státu jsou v příšerném stavu).
                </p>
                <p>
                    Všechny dotace jsme navíc zatřídili do oblastí, kterých se týkají, aby se daly lépe porovnat preferované a dominantní cíle pro dotační podporu.
                    300 000 dotací jsme dokonce museli <a target="_blank" href="https://x.com/HlidacStatu/status/1882775214293209292">roztřídit pomocí AI - umělé inteligence</a>, protože to jinak nešlo.
                </p>
                <p class="mark">
                   Dotace za předchozí rok většinou zpracováváme až ve druhé polovině roku, protože čekáme na jejich aktualizaci. Proto data za rok 2024 ještě nejsou kompletní. 
                </p>
            </div>
        </div>
        <div class="watcher-block">

            <div class="watcher__title">
                <h3 class="new-title">
                    <a href="/dotace/reporty">Reporty, žebříčky a spousta překvapení</a>
                </h3>
            </div>
            <div class="block-col ">
                <p>
                    <i class="fa-solid fa-hand-point-right" style="color:black"></i> Připravili jsme přehledové reporty o celé dotační ekonomice <br />
                    <i class="fa-solid fa-hand-point-right" style="color:black"></i> Největší příjemce dotací, státních i krajských.<br />
                    <i class="fa-solid fa-hand-point-right" style="color:black"></i> Porovnejte jednotlivé dotační programy i jednotlivé kraje.<br />
                    <i class="fa-solid fa-hand-point-right" style="color:black"></i> Chybí vám tu některé analýzy? Napište nám, co byste si přáli doplnit.
                </p>
                <p>
                    <a class="btn btn-hs btn-warning btn-sm" href="/dotace/reporty">Reporty dotací</a>
                </p>
            </div>
        </div>

        <div class="watcher-block">
            <div class="watcher__title">
                <h2 class="new-title">
                    Datové zdroje pro dotace
                </h2>
            </div>
            <div class="block-col " style="width:100%">
                <dl class="row">
                    @foreach (var item in HlidacStatu.Entities.Dotace.DataSourceDescription)
                    {
                        <dt class="col-md-3 col-sm-4 col-xs-4"><a href="/dotace/hledat?Q=primaryDataSource%3A&quot;@item.Key&quot;">@HlidacStatu.Entities.Dotace.DataSourceNiceNames[item.Key]</a></dt>
                        <dd class="col-md-9 col-sm-8 col-xs-8">@Html.Raw(item.Value)</dd>
                    }
                </dl>
            </div>
        </div>

        <div class="watcher-block">
            <div class="watcher__title">
                <h2 class="new-title">
                    Jak vyhledávat v dotacích
                </h2>
            </div>
            <div class="block-col " style="width:100%">
                <p>
                    <dl>
                        <dt>Prohledávat specifické položky v databázích</dt>
                        <dd>
                            napište prefix s ":" bez mezery následovaný hledanou hodnotou<br><kbd>ico:44992785</kbd>
                            hledá smlouvy kde je jednou ze stran Statutární město Brno (ICO 44992785).
                            <br><br>
                            Pokud hledaná hodnota obsahuje mezery, musí být v uvozovkách <kbd>jmeno:"Ředitelství silnic a dálnic"</kbd>
                        </dd>
                    </dl>
                    <h2>Podporované prefixy / hledatelné položky v DB</h2>
                    <dl>
                        <dt>Fungující v dotacích</dt>
                        <dd>
                            <kbd>ico:12345678</kbd> - jedna ze smluvních stran má uvedené IČO<br>
                            <kbd>osobaid:oznaceni-osoby</kbd> - smlouvy s vazbou na osobu. Oznacení osoby najdete u profilu osoby (např.
                            andrej-babis)<br>
                            <kbd>holding:12345678</kbd> - IČO matky holdingu, hledá se pro všechny firmy holdingu<br>
                            <br>
                            <br>
                            <kbd>projekt:"název projektu"</kbd> - dotace se specifickým názvem projektu (např. "TJ Vodní stavby Tábor")<br />
                            <kbd>kod:"kód projektu"</kbd> - dotace podle kódu projektu (např. "CZ.03.2.60/0.0/0.0/16_064/0006407")<br />
                            <kbd>jmeno:"jméno příjemce"</kbd> - dotace, kde jméno příjemce odpovídá zadanému výrazu ("Ředitelství silnic a dálnic")<br />
                            <kbd>castka:&gt;castka</kbd> - dotace s částkou vyšší než. Možno použí i <kbd>&gt;=</kbd> <kbd>&lt;=</kbd>
                            <kbd>&lt;</kbd><br />
                        </dd>
                    </dl>
                    <a href="/napoveda">Více o hledání v nápovědě.</a>
                </p>
                <p>
                    <h4>Ukázky možností</h4>
                    <ul>
                        <li>
                            Hledání podle IČO - <a href="/dotace/hledat?Q=ico:00190489">Nemocnice Pardubice</a>, <a href="/dotace/hledat?Q=ico:70994234">SŽDC</a>
                        </li>
                        <li>
                            Hledání podle příjemce - <a href="/dotace/hledat?Q=jmeno:'Ředitelství silnic a dálnic ČR'">ŘSD</a>, <a href="/dotace/hledat?Q=jmeno:univerzita">Univerzita</a>
                        </li>
                        <li>
                            Hledání podle osoby - <a href="/dotace/hledat?Q=osobaid:andrej-babis">Andrej Babiš</a>, <a href="/dotace/hledat?Q=osobaid:zdenek-bakala-2">Zdeněk Bakala</a>
                        </li>

                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>










