@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render
@model List<(int Year, string IcoPoskytovatele, decimal Sum)>

@{
    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = "Report po letech a poskytovatelích";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="~/bundles/highcharts"></script>
}

@{
    var dotacePoskytovatele = new ReportDataSource<(int Rok, string PoskytovatelIco, decimal Castka)>(
        new[]
        {
            // /dotace/hledat?Q=ico:
            new ReportDataSource<(int Rok, string PoskytovatelIco, decimal Castka)>.Column()
            {
                Name = "Rok",
                CssClass = "number",
                HtmlRender = (x) => x.Rok.ToString(),
                TextRender = (x) => x.Rok.ToString()
            },
            new ReportDataSource<(int Rok, string PoskytovatelIco, decimal Castka)>.Column()
            {
                Name = "IČO",
                CssClass = "text",
                HtmlRender = (x) => $"<a href=/subjekt/{x.PoskytovatelIco}>{x.PoskytovatelIco}</a>",
                TextRender = (x) => x.PoskytovatelIco
            },
            new ReportDataSource<(int Rok, string PoskytovatelIco, decimal Castka)>.Column()
            {
                Name = "Jméno poskytovatele",
                CssClass = "text",
                HtmlRender = (x) => $"{FirmaRepo.NameFromIco(x.PoskytovatelIco)}",
                TextRender = (x) => x.PoskytovatelIco
            },
            new ReportDataSource<(int Rok, string PoskytovatelIco, decimal Castka)>.Column()
            {
                Name = "Částka",
                TextRender = (x) => $"{x.Castka:N0} Kč",
                HtmlRender = (x) => $"<a href=/dotace/hledat?Q=subsidyProviderIco:{x.PoskytovatelIco}>{x.Castka:N0}&nbsp;Kč</a>",
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Castka),
                CssClass = "number"
            }
        });
    
    dotacePoskytovatele.AddRows(Model.Where(s => s.Year >= 2021).ToList());
    
}

<h4>Přehled dotací po letech a poskytovatelích</h4>
<div>
    @Html.DataToHTMLTable(dotacePoskytovatele)
</div>
