<h4>Podívejte se na naše dotační reporty</h4>

<div class="card text-bg-light mb-3">
    <ul class="list-group list-group-flush">

        <li class="list-group-item list-group-item-dark">Přehled</li>

        <li class="list-group-item">
            <i class="fa-solid fa-chart-pie"></i>
            <a title="" href="/Dotace/PoLetech">Objemy dotací rozdělené na krajské a státní(+ evropské) po jednotlivých letech</a>
        </li>
        <li  class="list-group-item">
            <i class="fa-solid fa-list-ol"></i><a title="" href="/Dotace/TopDotacniProgramy?typDotace=1">Největší státní a evropské dotační programy</a>
        </li>
        <li  class="list-group-item">
            <i class="fa-solid fa-list-ol"></i>
            <a title="" href="/Dotace/TopDotacniProgramy?typDotace=2">Největší krajské dotační programy</a>
        </li>

        <li class="list-group-item list-group-item-dark">Největší příjemci dotací</li>
        <li  class="list-group-item">
            <i class="fa-regular fa-gauge-high" aria-hidden="true"></i>
            <a title="" href="/Dotace/TopPrijemci?ftyp=0">Největší příjemci dotací ze soukromého sektoru po jednotlivých letech</a>
        </li>
        <li  class="list-group-item">
            <i class="fa-regular fa-gauge-high" aria-hidden="true"></i>
            <a title="" href="/Dotace/TopPrijemci?ftyp=1">Největší příjemci dotací firem vlastněných státem po jednotlivých letech</a>
        </li>
        <li  class="list-group-item">
            <i class="fa-regular fa-gauge-high" aria-hidden="true"></i>
            <a title="" href="/Dotace/TopPrijemci?ftyp=1">Největší příjemci dotací firem, které stát spoluvlastní s podílem alespoň 25 % po jednotlivých letech</a>
        </li>
        <li  class="list-group-item">
            <i class="fa-regular fa-gauge-high" aria-hidden="true"></i>
            <a title="" href="/Dotace/TopPrijemci?ftyp=10">Nejvíce dotované úřady po jednotlivých letech</a>
        </li>
        <li  class="list-group-item">
            <i class="fa-light fa-money-bill-wheat"></i>
            <a title="" href="/Dotace/DotacniExperti">Příjemci, kteří obdrželi krajské dotace ve více krajích</a>
        </li>
        <li  class="list-group-item">
            <i class="fa-solid fa-person-sign"></i>
            <a title="" href="/Dotace/DotovaniSponzori">Příjemci dotací, kteří zároveň přímo, nebo nepřímo sponzorovali politickou stranu</a>
        </li>

        <li class="list-group-item list-group-item-dark">Největší poskytovatelé dotací</li>

        <li  class="list-group-item"><i class="fa-regular fa-hand-holding-dollar"></i><a title="" href="/Dotace/TopPoskytovatele?typDotace=1">Největší poskytovatelé státních dotací</a></li>
        <li  class="list-group-item">
            <i class="fa-regular fa-hand-holding-dollar"></i>
            <a title="" href="/Dotace/TopPoskytovatele?typDotace=2">Největší poskytovatelé krajských dotací</a>
        </li>

        <li class="list-group-item list-group-item-dark">Oblasti, do kterých dotace směřují</li>
        <li  class="list-group-item">
            <i class="fa-solid fa-chart-pie"></i>
            <a title="" href="/Dotace/TopKategorie">Dotace rozdělené podle kategorií</a>
        </li>



    </ul>
</div>