<h4>Podívejte se na naše dotační reporty</h4>
<ul>

    <li><a title="" href="/Dotace/PoLetech">Objemy dotací rozdělené na krajské a státní(+ evropské) po jednotlivých letech</a></li>
    
    <li><a title="" href="/Dotace/TopPrijemci?ftyp=0">Největší příjemci dotací ze soukromého sektoru po jednotlivých letech</a></li>
    <li><a title="" href="/Dotace/TopPrijemci?ftyp=1">Největší příjemci dotací firem vlastněných státem po jednotlivých letech</a></li>
    <li><a title="" href="/Dotace/TopPrijemci?ftyp=1">Největší příjemci dotací firem, které stát spoluvlastní s podílem alespoň 25 % po jednotlivých letech</a></li>
    <li><a title="" href="/Dotace/TopPrijemci?ftyp=10">Nejvíce dotované úřady po jednotlivých letech</a></li>
    <li><a title="" href="/Dotace/TopPrijemci?ftyp=20">Nejvíce dotované obce po jednotlivých letech</a></li>
    
    <li><a title="" href="/Dotace/TopPoskytovatele">Největší poskytovatelé dotací</a></li>
    <li><a title="" href="/Dotace/TopKategorie">Dotace rozdělené podle kategorií</a></li>
    <li><a title="" href="/Dotace/DotacniExperti">Příjemci, kteří obdrželi krajské dotace ve více krajích</a></li>
    <li><a title="" href="/Dotace/TopDotacniProgramy?typDotace=1">Největší krajské dotační programy</a></li>
    <li><a title="" href="/Dotace/TopDotacniProgramy?typDotace=2">Největší státní a evropské dotační programy</a></li>
    <li><a title="" href="/Dotace/DotovaniSponzori">Příjemci dotací, kteří zároveň přímo, nebo nepřímo sponzorovali politickou stranu</a></li>

</ul>
