<h4>Podívejte se na naše dotační reporty</h4>
<ul>

    <li><a title="" href="/Dotace/PoLetech">Objemy dotací rozdělené na krajské a státní(+ evropské) po jednotlivých letech</a></li>
    
    <li><a title="" href="/Dotace/TopPrijemci?ftyp=0">Největší příjemci dotací ze soukromého sektoru po jednotlivých letech</a></li>
    <li><a title="" href="/Dotace/TopPrijemci?ftyp=1">Největší příjemci dotací firem vlastněných státem po jednotlivých letech</a></li>
    <li><a title="" href="/Dotace/TopPrijemci?ftyp=1">Největší příjemci dotací firem, které stát spoluvlastní s podílem alespoň 25 % po jednotlivých letech</a></li>
    <li><a title="" href="/Dotace/TopPrijemci?ftyp=10">Nejvíce dotované úřady po jednotlivých letech</a></li>
    <li><a title="" href="/Dotace/TopPrijemci?ftyp=20">Nejvíce dotované obce po jednotlivých letech</a></li>
    
    <li><a title="" href="/Dotace/TopPoskytovatele">TopPoskytovatele</a></li>
    <li><a title="" href="/Dotace/TopKategorie">TopKategorie</a></li>
    <li><a title="" href="/Dotace/DotacniExperti">DotacniExperti</a></li>
    <li><a title="" href="/Dotace/TopDotacniProgramy?typDotace=2">TopDotacniProgramy</a></li>
    <li><a title="" href="/Dotace/DotovaniSponzori">DotovaniSponzori</a></li>

</ul>
