@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.SharedModels
@using HlidacStatu.XLib.Render
@model List<(string Ico, int Count, decimal Sum)>

@{
    int? rok = null;
    if(ViewData.TryGetValue("rok", out var rokObj))
    {
        rok = (int?)rokObj;
    }

    string yearText = rok > 0 ? $" pro rok {rok}" :"";
    
    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = $"Top příjemci dotací{yearText}";
    
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="~/bundles/highcharts"></script>
}

@{
    var topPrijemci = new ReportDataSource<(string Ico, int Pocet, decimal Castka)>(
        new[]
        {
            new ReportDataSource<(string Ico, int Pocet, decimal Castka)>.Column()
            {
                Name = "IČO",
                CssClass = "text",
                HtmlRender = (x) => $"<a href=/subjekt/{x.Ico}>{x.Ico}</a>",
                TextRender = (x) => x.Ico
            },
            new ReportDataSource<(string Ico, int Pocet, decimal Castka)>.Column()
            {
                Name = "Název příjemce",
                CssClass = "text",
                HtmlRender = (x) => $"{FirmaRepo.NameFromIco(x.Ico)}</a>",
                TextRender = (x) => x.Ico
            },
            new ReportDataSource<(string Ico, int Pocet, decimal Castka)>.Column()
            {
                Name = "Počet dotací",
                TextRender = (x) => $"{x.Pocet}",
                HtmlRender = (x) => $"{x.Pocet}",
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Pocet),
                CssClass = "number"
            },
            new ReportDataSource<(string Ico, int Pocet, decimal Castka)>.Column()
            {
                Name = "Celková částka",
                TextRender = (x) => $"{x.Castka:N0} Kč",
                HtmlRender = (x) => $"<a href=/dotace/hledat?Q=ico:{x.Ico}>{x.Castka:N0}&nbsp;Kč</a>",
                OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Castka),
                CssClass = "number"
            }
        });

    var topPrijemciOrdered = Model.OrderByDescending(m => m.Sum).ToList(); 
    
    topPrijemci.AddRows(topPrijemciOrdered.Take(100));


    SimplePlot chartData = new SimplePlot()
    {
        Data = topPrijemciOrdered.Select(p => (double)p.Sum / 1_000_000).Take(20).ToList(),
        Labels = topPrijemciOrdered.Select(p => FirmaRepo.NameFromIco(p.Ico)).Take(20).ToList(),
        ChartType = "bar",
        Title = $"Top příjemci dotací{yearText}",
        Koncovka = "mil. Kč",
        SeriesName = "Výše dotací"
    };
    
}

<h4>Vyberte rok, za který chcete zobrazit data</h4>
<a href="/dotace/topprijemci">Vše</a>
@for (int year = 2014; year <= DateTime.Now.Year; year++)
{
    <a href="/dotace/topprijemci?rok=@year">@year</a>  
}


<h4>Přehled největších příjemců dotací@(yearText)</h4>
<div>
    <partial name="Charts/_SimpleChart" model="chartData"/>
</div>
<div>
    @{
        string dataTableOptions = @"{
                         'language': {
                            'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                        },
                        'order': [[3, 'desc']],
                        'lengthChange': false,
                        'info': false,
                        }";
    }
    
    @Html.DataToHTMLTable(topPrijemci, tableId:"topPrijemciTab", dataTableOptions:dataTableOptions)
</div>

