@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render
@model List<(string IcoPoskytovatele, decimal Sum)>

@{
    int? rok = null;
    if(ViewData.TryGetValue("rok", out var rokObj))
    {
        rok = (int?)rokObj;
    }
    
    string yearText = rok > 0 ? $" pro rok {rok}" :"";
    
    int typDotace = (int)(ViewData["typDotace"] ?? 0); 
    string typDotaceText = typDotace switch
    {
        1 => "evropské dotace",
        2 => "krajské dotace",
        3 => "obecní dotace",
        _ => "nedefinováno"
        
    };
    
    ViewBag.Title = "Hlídač dotací";
    ViewBag.SubTitle = $"Report podle poskytovatelů{yearText} pro {typDotaceText}";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Hlídač Státu</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dotace")">Dotace</a>
        </li>
        <li class="active">@ViewBag.SubTitle</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="~/bundles/highcharts"></script>
}

@{
    List<ReportDataSource<(string IcoPoskytovatele, decimal Sum)>.Column> dataColumns =
    [
        new()
        {
            Name = "Jméno poskytovatele",
            CssClass = "text",
            HtmlRender = (x) => $"<a href=/subjekt/{x.IcoPoskytovatele}>{FirmaRepo.NameFromIco(x.IcoPoskytovatele)}</a>",
            TextRender = (x) => x.IcoPoskytovatele
        },
        new()
        {
            Name = "Částka",
            TextRender = (x) => $"{x.Sum:N0} Kč",
            HtmlRender = (x) => $"<a href=/dotace/hledat?Q=subsidyProviderIco:{x.IcoPoskytovatele}>{x.Sum:N0}&nbsp;Kč</a>",
            OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Sum),
            CssClass = "number"
        }
    ];
    
    var data = new ReportDataSource<(string IcoPoskytovatele, decimal Sum)>(dataColumns);

    data.AddRows(Model);
    
}

<h4>Vyberte rok, za který chcete zobrazit data</h4>
<partial name="_pager" model="@(ValueTuple.Create((int?)null, (int?)null, rok, $"/Dotace/TopPoskytovatele?typDotace={typDotace}"))"/>

<h2 class="mt-4">Přehled dotací podle poskytovatelů@(yearText)</h2>
<div>
    @Html.DataToHTMLTable(data, dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 2, orderDirection: "desc"))
</div>
