<div>
    <p>Counter value is: <span class="text-bg-success">@Counter</span></p>
    <button @onclick="IncrementCounter">Increment</button>
</div>


@code {

    [Parameter]
    public int Counter { get; set; }
    
    private string _toastClass = "";

    protected override void OnParametersSet()
    {
        Counter = 0;
    }

    private void IncrementCounter()
    {
        Counter++;
    }

}