@page "/"

@inject NavigationManager NavigationManager

<h1>Aplikace na třídění oborů</h1>

<AuthorizeView>
    <Authorized>
        <h1>
            Vyberte si obor, který budete zpracovávat
        </h1>
        <h2>Obory</h2>
        <a href="/tableEditor/it">Editovat IT</a>
        
        <h2>Admin nástroje</h2>
        <label for="specificLoad">Načíst konkrétní tabulku</label>
        <input id="specificLoad" type="number" @bind="_tablePk"/>
        <label for="specificArea">Oblast tabulky</label>
        <input id="specificArea" type="text" @bind="_tableArea"/>
        <button class="btn btn-primary" @onclick="EditSpecificTable">Načti konkrétní tabulku</button>
        
    </Authorized>
    <NotAuthorized>
        <p>Pro práci je potřeba se nejprve <a class="nav-link" href="https://www.hlidacstatu.cz/Identity/Account/Login?returnUrl=/jobtableeditor"><img src="/Content/img/icon-user.svg" style="padding-right: 8px;">Zalogovat</a></p>
    </NotAuthorized>
</AuthorizeView>



@code
{
    private int _tablePk;
    private string _tableArea="IT";
    
    private void EditSpecificTable()
    {
        if( _tablePk > 0 && !string.IsNullOrWhiteSpace(_tableArea))
            NavigationManager.NavigateTo($"/tableEditor/{_tableArea}/{_tablePk}");
    }
}
