@page "/"
@using System.Security.Claims
@using PoliticiEditor.Components.Account

@inject UserHelper UserHelper

<PageTitle>Výtejte v administraci politiků</PageTitle>

<h1>Na těchto stránkách můžete editovat informace o sobě</h1>

@if (User is null || User.Identity?.IsAuthenticated == false)
{
    <Login/>
}
else
{
    <h2>Co byste chtěli upravit o sobě</h2>
    <ul>
        <li>
            <a class="btn btn-primary" href="/EditPhoto">Změnit svou fotografii</a>
        </li>
        <li>
            <a class="btn btn-primary" href="/EditPerson">Změnit některé své osobní údaje</a>
        </li>
        <li>
            <a class="btn btn-primary" href="/EditParty">Přidat/opravit působení v politických stranách</a>
        </li>
        <li>
            <a class="btn btn-primary" href="/EditSocial">Upravit odkazy na sociální sítě</a>
        </li>
        <li>
            <a class="btn btn-primary" href="/EditContacts">Upravit kontaktní údaje</a>
        </li>
        <li>
            <a class="btn btn-primary" href="/EditSalaries">Přidat informaci o platu</a>
        </li>
    </ul>
}


@code {

    private ClaimsPrincipal? User { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        User = await UserHelper.GetCurrentUserAsync();
    }
}
