@using System.Linq;
@using Devmasters;
@using HlidacStatu.DS.Graphs
@using HlidacStatu.Extensions
@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.SharedModels
@using Newtonsoft.Json.Linq;

@{
    Layout = null;

}


@* levy sloupec *@
<div id="div_toc_side" class="sticky-top">
    <p class="pt-4" style="display:none">
        <b>Obsah stránky</b>
    </p>
    <nav id="toc"></nav>

    @* 
        <div class="mt-3">
        @{
            var linkUrl = $"{ViewContext.GetBaseUrl()}/subjekt/{Model.ICO}";
        }
        <share-facebook url="@linkUrl"></share-facebook>
        <br /><share-twitter url="@linkUrl" text="@($"{Model.Jmeno} na @HlidacStatu - {Model.InfoFacts().FirstOrDefault()?.Render(false)}")"></share-twitter>
        <br /><share-widget url="@linkUrl"></share-widget> 

    </div>*@
</div>
