@model HlidacStatu.Entities.Firma 
@using System.Linq;
@using HlidacStatu.RegistrVozidel.Models
@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render
@using Devmasters;
@using Devmasters.DT;

@{
    Layout = null;

    List<VozidloLight> vozidlaRaw = 
        await HlidacStatu.RegistrVozidel.Repo.Cached.GetForICOAsync(this.Model.ICO);
    List<VozidloLightPerIco> vozidla = vozidlaRaw
        .GroupBy(g => g.Pcv)
        .Select(s => new VozidloLightPerIco(s))
        .ToList();


    ReportDataSource<VozidloLightPerIco> rds = new(
        new[]
{
            new  ReportDataSource<VozidloLightPerIco>.Column() { 
                Name="Značka",
                HtmlRender =(s) => {
                    return s.Tovarni_znacka;
                },
                ValueRender = (s) => { return s.Tovarni_znacka; },
                TextRender = (s) => { return s.Tovarni_znacka; },
            },
            new  ReportDataSource<VozidloLightPerIco>.Column() {
                Name="Model",
                HtmlRender =(s) => {
                    return s.Model;
                },
                ValueRender = (s) => { return s.Model; },
                TextRender = (s) => { return s.Model; },
            },
            new  ReportDataSource<VozidloLightPerIco>.Column() {
                Name="Kategorie",
                HtmlRender =(s) => {
                    return s.Kategorie.Kod.ShortenMe(2);
                },
                ValueRender = (s) => { return s.Kategorie.Kod.ShortenMe(2); },
                TextRender = (s) => { return s.Kategorie.Kod.ShortenMe(2); },
                CssClass = "d-none d-lg-table-cell"
            },
            new  ReportDataSource<VozidloLightPerIco>.Column() {
                Name="Palivo",
                HtmlRender =(s) => {
                    return $"<span title='{s.Palivo}'>{s.Palivo.Trim().ShortenMe(2)}</span>";
                },
                ValueRender = (s) => { return s.Palivo; },
                TextRender = (s) => { return s.Palivo; },
                CssClass = "d-none d-lg-table-cell"
            },
            new  ReportDataSource<VozidloLightPerIco>.Column() {
                Name="Rok výroby",
                HtmlRender =(s) => {
                    return s.Rok_vyroby == null ? "&pm;"+s.Datum_1_registrace?.ToString("yyyy") : s.Rok_vyroby.ToString();
                    
                },
                ValueRender = (s) => { return s.Rok_vyroby == null ? s.Datum_1_registrace?.ToString("yyyy") : s.Rok_vyroby.ToString(); },
                TextRender = (s) => { return s.Rok_vyroby == null ? s.Datum_1_registrace?.ToString("yyyy") : s.Rok_vyroby.ToString();},
                OrderValueRender = (s) => { return HlidacStatu.Util.RenderData.OrderValueFormat(s.Rok_vyroby == null ? s.Datum_1_registrace?.Year : s.Rok_vyroby); }
            },
            new  ReportDataSource<VozidloLightPerIco>.Column() {
                Name="Majitel",
                HtmlRender =(s) => {
                    return string.Join("<br />", s.Majitel_v_dobe.Select(m=> m.ToNiceString(dateFormat:"yyyy")))
                    + "&nbsp;";
                },
                ValueRender = (s) => { return s.Majitel_v_dobe.LastOrDefault()?.From?.ToString("yyyy"); },
                TextRender = (s) => { return s.Majitel_v_dobe.LastOrDefault()?.From?.ToString("yyyy") ;}
            },
            new  ReportDataSource<VozidloLightPerIco>.Column() {
                Name="Provozovatel",
                HtmlRender =(s) => {
                    return string.Join("<br />", s.Provozovatel_v_dobe.Select(m=> m.ToNiceString(dateFormat:"yyyy")))
                        + "&nbsp;";
                },
                ValueRender = (s) => { return s.Provozovatel_v_dobe.LastOrDefault()?.From?.ToString("yyyy"); },
                TextRender = (s) => { return s.Provozovatel_v_dobe.LastOrDefault()?.From?.ToString("yyyy") ;}
            },
            new  ReportDataSource<VozidloLightPerIco>.Column() {
                Name="Detail",
                HtmlRender =(s) => {
                    return $"<a href='/vozidla/vin/{s.VIN}'>Detail</a>";
                },
                ValueRender = (s) => { return s.VIN; },
                TextRender = (s) => { return s.VIN ;},
            },
        });

    rds.AddRows(vozidla.Where(m=>m.Aktualni==true));
}

<div id="subjcontent_toc">

   <h3>Aktuální vozový park</h3>

    @Html.DataToHTMLTable(rds, dataTableOptions: HtmlExtensions.DatatableOptions(pageLength: 20))

    @{
        rds.Clear();
        rds.AddRows(vozidla.Where(m=>m.Aktualni==false));
    }
    <hr />
    <h3>Historický vozový park</h3>
    @Html.DataToHTMLTable(rds, dataTableOptions: HtmlExtensions.DatatableOptions(pageLength: 20, orderColumnIdx:4))


</div>


