@using HlidacStatu.Repositories

@* return View(new Tuple<string,string>(sourceUrl, modalId)); *@
@model Tuple<string,string>

@{
    Layout = null;

    var sourceUrl = Model.Item1;
    var modalId = Model.Item2;


}

<!-- Modal Header -->
<div class="modal-header" style="text-align:left;">
    <h4 class="modal-title" id="@(modalId)Title">
        Exkluzivní obsah pro podporovatele Hlídače státu
    </h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal">
        <span aria-hidden="true">×</span>
        <span class="sr-only">Close</span>
    </button>
</div>

<!-- Modal Body -->
<div class="modal-body" style="text-align:left;">

    <p class="fw-bold">
        Speciální a exkluzivní obsah, jako tento, je dostupný pouze pro podporovatele projektu HlidacStatu.cz.
    </p>
    <p>
        <b>Benefity podporovatelů</b>
        <ul>
            <li>Předplatné špičkové video investigativy <a target="_blank" href="https://herohero.co/pastvina" >PastVina</a>.</li>
            <li>Unikátní detailní informace o firmách a úřadech (zakázky, dotace, vozový park, sponzoring).</li>
            <li>Unikátní analýzy a reporty Hlídače státu.</li>
            <li>Podpoříte fungování a existenci nezávislého Hlídače státu.</li>
        </ul>
    </p>
    <p class="text-center">
        <a target="_blank" href="https://www.darujme.cz/darovat/1200384" class="btn btn-success">Podpořit Hlídače státu</a> <br />
        <div class="sub-header-info">Každých 200 Kč Vašeho daru aktivuje exkluzivní přístup a předplatné PastViny na 30 dní.</div>
        <div class="text-muted sub-header-info">Tento dar je možné uplatnit pro snížení daňového základu.</div>
    </p>

</div>

<!-- Modal Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-hs btn-secondary" onclick="confirm@(modalId)();" data-bs-dismiss="modal">
        Odejít
    </button>
    <a target="_blank" href="https://www.darujme.cz/darovat/1200384" onclick="confirm@(modalId)();return true;" class="btn btn-primary">Podpořit Hlídače</a> <br />

</div>

<script>
    function confirm@(modalId)() {
        var prf = '#@(modalId)';
        var url = $(prf + "Url").val();
        window.location.reload();
    }
</script>
