Content-Type: text/html; charset=utf-8

<p>Dobrý den.</p>

<p>Tento email Vám posíláme proto, že byla vyžádána změna registračního emailu na serveru HlidacStatu.cz,
    z původního <b>@Model.OldEmail</b> na nový <b>@Model.NewEmail</b>.
    </p>

<p>
    Pokud jste tuto změnu nepožadovali, je možné, že jde o útok na Váš účet na server HlidacStatu.cz.
    V případě, že ke změně emailu dochází bez Vašeho vědomí, prosím tento email přepošlete na info@hlidacstatu.cz a my změnu emailu zastavíme.
</p>
<p>
    V případě, že jde o vyžádanou změnu, berte tento email pouze jako informační, že změna emailu probíhá.

    Nezapomeňte, že příště se do HlidacStatu.cz budete přihlašovat již novým emailem.
</p>


@Model.EmailFooterHtml

