@{
    ViewBag.Title = "Nápověda - jak hledat v HlídačiSmluv";
}

@section scripts
{
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    }

<p>
    <partial name="~/Views/Home/_SearchFormHelpContent.cshtml"/>
</p>