button {
    font-size:11px;
    padding:0 5px;
}

input {
    margin: 0; 
    padding: 0;
}

td {
    padding-top: 25px;
    padding-left: 2px;
    padding-right: 2px;
}

.can-drop {
    border: 2px dashed green;
}