@using HlidacStatu.JobTableEditor.Data
@using Microsoft.AspNetCore.Components
@using HlidacStatu.DetectJobs

<td class="@cellStyle">
    <button style="font-size:11px;padding:0px 5px;" @onclick="ColorChange"><i class="fad fa-exchange"></i></button>
    <span style="width:1px">&nbsp;</span>
    <button style="font-size:9px;padding:0px 4px;" @onclick="CellShell.SetOriginalValue"><i class="far fa-undo"></i></button>
    <button style="font-size:9px;padding:0px 4px;" @onclick="CellShell.SetMergedValue"><i class="far fa-code-merge"></i></button>
    <input type="text" class="form-control" @bind="@CellShell.Value" />
    <p>@CellShell.Error</p>
</td>


@code {
    
    [Parameter]
    public CellShell CellShell { get; set; }
    
    private string cellStyle;
    
    protected override async Task OnInitializedAsync()
    {
        SetCellStyle(CellShell.CellType);
    }
    
    private void ColorChange()
    {
        CellShell.RotateType();
        SetCellStyle(CellShell.CellType);
    }

    private void SetCellStyle(InHtmlTables.Cell.GuessedCellType cellType)
    {
        cellStyle = cellType switch 
        {
            InHtmlTables.Cell.GuessedCellType.Unknown => "",
            InHtmlTables.Cell.GuessedCellType.Position => "bg-primary bg-opacity-25",
            InHtmlTables.Cell.GuessedCellType.Price => "bg-success bg-opacity-25",
            InHtmlTables.Cell.GuessedCellType.PriceWithVAT => "bg-warning bg-opacity-25",
            _ => ""
            };
    }
    
    // input type by se mohl měnit podle toho, jestli pracuji s pozicí, nebo cenou
    // mohla by se taky udělat validace na správně zadanou cenu
    
    //+ validace pokud se při načtení tabulky liší (merged value vs original value)?

}