
@media print {
    body {
        font-family: "Inter", sans-serif;
    }
    .no-print, .no-print * {
        display: none !important;
    }

}

@media screen {
    .only-print {
        display: none !important;
    }
}

/* Use a more specific selector if possible */
*[id] {
    scroll-margin-top: 5rem;
}
