
@media print {
    body {
        font-family: "Inter", sans-serif;
    }
    .no-print, .no-print * {
        display: none !important;
    }

}

@media screen {
    .only-print {
        display: none !important;
    }
}

/* Use a more specific selector if possible */
*[id] {
    scroll-margin-top: 5rem;
}

.logo-position {
    max-width: 190px;
    height: auto;
    max-height: 84px;
    padding-top: 8px;
    padding: 10px 8px 0px 10px;
    width: auto;
}

.number {
    font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace !important;
    text-align: right !important;
}

    .number .small {
        font-size: 90% !important;
    }
