@{
    ViewBag.Title = "Statistiky vozidel";
    ViewBag.SubTitle = "Registr vozidel ČR";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/vozidla">Registr vozidel</a></li>
        <li class="active">Statistiky</li>
    </ol>
}

<h3 class="mt-2">Statistiky vozidel z registru vozidel</h3>
<p class="text-muted">Data z oficiálních registrů vozidel ČR.</p>

<div class="row mt-4">
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-gauge-high me-2"></i>Nejsilnější auta</h5>
                <p class="card-text">Top 50 nejsilnějších osobních aut registrovaných v daném roce podle výkon motoru (kW).</p>
                <a href="/vozidla/AutaPodleVykonu" class="btn btn-outline-primary">Zobrazit</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-calendar-plus me-2"></i>Nová auta</h5>
                <p class="card-text">Osobní automobily nově registrované v ČR za poslední měsíc.</p>
                <a href="/vozidla/NovaAuta" class="btn btn-outline-primary">Zobrazit</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-triangle-exclamation me-2"></i>Propadlá STK</h5>
                <p class="card-text">Auta s neplatnou technickou prohlídkou, seřazena podle data expirace.</p>
                <a href="/vozidla/PropadlaSTK" class="btn btn-outline-warning">Zobrazit</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-ranking-star me-2"></i>Nejpopulárnější značky</h5>
                <p class="card-text">Žebříček nejprodávanějších automobilových značek v daném roce.</p>
                <a href="/vozidla/NejpopularnejsiZnacky" class="btn btn-outline-primary">Zobrazit</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-bolt me-2"></i>Elektromobily a hybridy</h5>
                <p class="card-text">Vývoj registrací elektrických a hybridních vozidel v čase.</p>
                <a href="/vozidla/Elektromobily" class="btn btn-outline-success">Zobrazit</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-plane-arrival me-2"></i>Dovoz vozidel</h5>
                <p class="card-text">Statistiky dovozu vozidel podle země původu za daný rok.</p>
                <a href="/vozidla/DovozVozidel" class="btn btn-outline-primary">Zobrazit</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-hourglass-half me-2"></i>Stáří vozidel</h5>
                <p class="card-text">Průměrný věk registrovaných vozidel podle výrobce.</p>
                <a href="/vozidla/StariVozidel" class="btn btn-outline-primary">Zobrazit</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-gas-pump me-2"></i>Rozdělení paliv</h5>
                <p class="card-text">Distribuce typu paliv u nově registrovaných vozidel v daném roce.</p>
                <a href="/vozidla/RozdeleniPaliv" class="btn btn-outline-primary">Zobrazit</a>
            </div>
        </div>
    </div>
</div>
