<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Rychlá žádost o voličský průkaz</title>
    <link rel="canonical" href="https://volby.hlidacstatu.cz/"/>
    <meta name="description" content="Nemůžete volit v místě svého bydliště? Požádejte si o voličský průkaz hned teď. Stačí Vám adresa a datum narození."/>

    <link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/icons/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/assets/icons/smalltile.png"/>
    <meta name="msapplication-square150x150logo" content="/assets/icons/mediumtile.png"/>
    <meta name="msapplication-wide310x150logo" content="/assets/icons/widetile.png"/>
    <meta name="msapplication-square310x310logo" content="/assets/icons/largetile.png"/>

    <!-- open graph specification if anyone shares -->
    <meta property="og:title" content="Rychlá žádost o voličský průkaz"/>
    <meta property="og:description" content="Nemůžete volit v místě svého bydliště? Požádejte si o voličský průkaz hned teď. Stačí Vám adresa a datum narození."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://volby.hlidacstatu.cz/"/>
    <meta property="og:image" content="https://volby.hlidacstatu.cz/assets/images/sharing-banner-2021.jpg"/>
    <meta property="fb:app_id" content="803455203348459"/>
    <meta name="twitter:site" content="Voličské Průkazy"/>
    <meta name="twitter:url" content="https://volby.hlidacstatu.cz/"/>
    <meta name="twitter:title" content="Rychlá žádost o voličský průkaz"/>
    <meta name="twitter:description" content="Nemůžete volit v místě svého bydliště? Požádejte si o voličský průkaz hned teď. Stačí Vám adresa a datum narození."/>
    <meta name="twitter:image" content="https://volby.hlidacstatu.cz/assets/images/sharing-banner-2021.jpg"/>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">

    <script src="https://kit.fontawesome.com/a0fc082c81.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="~/css/globalsite.css" rel="stylesheet">
    <link href="~/css/social-share-kit.css" rel="stylesheet">
    <link href="~/css/hlidac.css" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/VolicskyPrukaz.styles.css" asp-append-version="true"/>
</head>
<body class="new-body">
<div class="header__navbar">
    <a href="https://www.hlidacstatu.cz/" class="logo">
        <svg width="46" height="46" viewBox="0 0 46 46">
            <use xlink:href="assets/images/defs.svg#logo"></use>
        </svg>
        Hlídač <strong>Státu</strong>
    </a>
    <nav class="navbar__level1">
        <a href="#" class="hamburger"></a>
        <ul>
            <li class="navbar__watchers">
                <a href="https://www.hlidacstatu.cz/smlouvy">Smlouvy</a>
                <a href="https://www.hlidacstatu.cz/VerejneZakazky">Veřejné zakázky</a>
                <a href="https://www.hlidacstatu.cz/Dotace">Dotace</a>
                <a href="https://www.hlidacstatu.cz/ucty">Insolvence</a>
                <a href="https://www.hlidacstatu.cz/Sponzori">Sponzori</a>
                <a href="https://www.hlidacstatu.cz/StatniWeby">Weby státu</a>
            </li>
            <li class="hidden-sm hidden-xs">
                <a href="https://www.hlidacstatu.cz/account/Login?returnUrl=%2F" id="loginLink">
                    <img src="assets/images/icon-user.svg" style="padding-right: 8px;">
                    Přihlášení
                </a>
                <a href="https://www.hlidacstatu.cz/account/Register?nextUrl=%2F" id="regLink">Registrace</a>
            </li>
            <!-- mobile menu items below -->
            <li class="level2">
                <a href="https://www.hlidacstatu.cz/data">Další databáze</a>
            </li>
            <li class="level2">
                <a href="https://www.hlidacstatu.cz/reporty">Analýzy a reporty</a>
            </li>
            <li class="level2">
                <a href="https://www.hlidacstatu.cz/texty">Zjistili jsme</a>
            </li>
            <li class="level2">
                <a href="https://www.darujme.cz/projekt/1200384">Podpořte nás</a>
                <a href="https://www.hlidacstatu.cz/PridatSe">Přidejte se k nám</a>
            </li>
            <li class="level2">
                <a href="https://www.hlidacstatu.cz/Account/Login">Přihlášení</a>
                <a href="https://www.hlidacstatu.cz/account/Register">Registrace</a>
            </li>
        </ul>
    </nav>
</div>
<div class="header__content">
    <!-- desktop menu items only -->
    <div class="navbar__level2">
        <ul>
            <li class="">
                <a href="https://www.hlidacstatu.cz/data">Další databáze</a>
            </li>
            <li class="">
                <a href="https://www.hlidacstatu.cz/reporty">Analýzy a reporty</a>
            </li>
            <li class="">
                <a href="https://www.hlidacstatu.cz/texty">Zjistili jsme</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="https://www.hlidacstatu.cz/pridatse">Přidat se</a>
                <a href="https://www.darujme.cz/projekt/1200384">Podpořit nás</a>
            </li>
        </ul>
    </div>
    <div class="header__title">
        <h1>Volba prezidenta republiky 2023</h1>
        <p>
            <span>Volba prezidenta republiky 2023 se uskuteční <strong>13. a 14. ledna 2023</strong>.</span>
            <span>Následující druhé kolo prezidentských voleb je naplánováno na <strong>27. a 28. ledna 2013</strong>.</span>
        </p>
        @* <p> *@
        @*     <span>Nejste rozhodnuti koho volit? Můžete si nastudovat <a class="link" href="https://programydovoleb.cz/" title="Volebni programy" target="_blank">volební programy stran a kandidátů</a>.</span> *@
        @*     <!-- <span>Nejste rozhodnuti koho volit? Můžete vyzkoušet <a class="link" href="https://volebnikalkulacka.cz/" title="Volební kalkulačka" target="_blank">Volební kalkulačku</a> nebo si nastudovat <a class="link" href="https://programydovoleb.cz/" title="Volebni programy" target="_blank">volební programy stran a kandidátů</a>.</span> --> *@
        @* </p> *@
    </div>
    <!-- desktop menu items only -->
    <partial name="_Navbar"/>
</div>
<div class="body container">
    @RenderBody()
</div>

<footer>
    <div class="container">
        <ul class="list-inline">
            <li>
                <a href="https://www.hlidacstatu.cz/texty/vize">Vize Hlídače Státu</a>
            </li>
            <li>
                <a href="https://www.hlidacstatu.cz/texty/O-Registru">O registru smluv</a>
            </li>
            <li>
                <a href="https://www.hlidacstatu.cz/texty/kontakt">Kontakt</a>
            </li>
            <li>
                <a href="https://www.darujme.cz/projekt/1200384" onclick="return trackOutLink(this,'footer');">
                    <span style="color:red;">Finanční podpora</span>
                </a>
            </li>
            <li>
                <a href="https://www.HlidacStatu.cz/api">API a opendata pro vývojáře</a>
            </li>
        </ul>
        <p>
            &copy; Hlídač Státu z.ú. ve spolupráci a s pomocí <a href="https://cesko.digital">Česko.Digital</a>♥️.
            Převzetí údajů a použití dat možné pod <a href="https://www.hlidacstatu.cz/texty/licence">licencí CC BY 3.0</a> anebo po vzájemné <a href="https://www.hlidacstatu.cz/texty/kontakt/">písemné dohodě</a>.
            <a href="https://www.HlidacStatu.cz/texty/provoznipodminky">Podmínky užívání</a>
        </p>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/html2pdf.bundle.min.js"></script>
<script src="~/js/mojeid_connect.2.0.0.js" id="mojeid-connect-script" data-jsrsasign="assets/jsrsasign-all-min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>