@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        function adjustDataTablesWidth() {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        }
    </script>
    <script>
        function updateHiddenInput(hiddenId) {
            const input = document.getElementById(hiddenId+'filter');
            const hiddenInput = document.getElementById(hiddenId);
            const datalist = document.getElementById('organizace_list');
            const options = datalist.options;
            hiddenInput.value = '';
            for (let i = 0; i < options.length; i++) {
                if (options[i].value === input.value) {
                    hiddenInput.value = options[i].getAttribute('data-value');
                    break;
                }
            }
        }
    </script>
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index">Platy úředníků</a>
        </li>
        <li class="active">Analýzy</li>
    </ol>
}


<section class="d-flex align-items-center justify-content-center pageblock-small">
    <div class="container">


        <h2 class="pb-2 border-bottom">Analýzy nad daty Platy úředníků</h2>

        <partial name="_Analyzy_List" />


    </div>
</section>

