@using HlidacStatu.Repositories.SharedModels
@using PlatyUredniku.Models
@using HlidacStatu.Repositories;
@using Devmasters;

@model string

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        function adjustDataTablesWidth() {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        }
    </script>
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Platy</a>
        </li>
        <li>
            <a asp-action="Index">Platy úředníků</a>
        </li>
        <li>
            <a asp-action="Statistiky">Statistiky</a>
        </li>
        <li class="active">Roční změny mezd a platů</li>
    </ol>
}

<section class="d-flex align-items-center justify-content-center pageblock-small">
    <div class="container">

        @{
            var d1 = await PuRepo.LoadVydelekForZamestnaniAsync("1112", HlidacStatu.Entities.PuVydelek.VydelekSektor.StatSamosprava);
            var d2 = await PuRepo.LoadVydelekForZamestnaniAsync("1120", HlidacStatu.Entities.PuVydelek.VydelekSektor.Soukromy);
            var d3 = await PuRepo.LoadVydelekForZamestnaniAsync("1120", HlidacStatu.Entities.PuVydelek.VydelekSektor.StatSamosprava);
            var d1Name = d1.OrderByDescending(m => m.Rok).Select(m => m.FullNazevKategorieZamestnani()).FirstOrDefault().ShortenMe(140);
            var d2Name = d2.OrderByDescending(m => m.Rok).Select(m => m.FullNazevKategorieZamestnani()).FirstOrDefault().ShortenMe(140);
            var d3Name = d3.OrderByDescending(m => m.Rok).Select(m => m.FullNazevKategorieZamestnani()).FirstOrDefault().ShortenMe(140);


            AreaRangeCompareRenderOptions chartModel = new AreaRangeCompareRenderOptions()
            {
                CssHeight = "450",
                Data = new[] {
                    AreaRangePlot.ToAreaRangePlotWithPrumer(d1,d1Name),
                    AreaRangePlot.ToAreaRangePlotWithPrumer(d2,d2Name),
                    AreaRangePlot.ToAreaRangePlotWithPrumer(d3,d3Name),
                    }
            };
        }
        <partial name="Graphs/_AreaRangeComparePlot" model="@chartModel" />

     

    </div>
</section>

