@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "_Layout.cshtml";
    }
}

@if (IsSectionDefined("breadcrumb"))
{
    @RenderSection("breadcrumb", required: false)
}

<h2>Správa účtu</h2>

<div>
    <h4>Zde můžete změnit své nastavení</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
