@{
    ViewData["Title"] = "Str치nku, kterou hled치te jsme nena코li...";
    var x = HlidacStatu.Repositories.Cache.OsobaCache.GetTopPoliticiObchodujiciSeStatemAsync().Result;
}

<h1>@ViewData["Title"]</h1>

<img src="Content/Img/404.png" alt="Ani ve skladu jsme nic nena코li"/>