
@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li><a asp-action="Index" asp-controller="Politici">Politici</a></li>
        <li class="active">Seznam politiků</li>
    </ol>
}

<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <div>

        </div>
    </div>
</section>