@using HlidacStatu.Repositories
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PlatyUredniku.Models

<section class="d-flex align-items-center justify-content-center">
    <div class="container">


        <h2 class="pb-2 border-bottom">Open data</h2>

        <p>
            Kompletní data s platy sesbíranými projektem Platy úředníků. 
        </p>
        <div class="alert alert-primary" role="alert">
            Licence (<a href="https://texty.hlidacstatu.cz/licence/" class="alert-link">úplný text</a>) umožňuje data použít bez omezení, podmínkou je uvedení
            zdroje na projekt včetně aktivního odkazu.
        </div>
        <div>

            <partial 
                name="ExportModal" 
                model="@(new ExportModalViewModel() 
                   { 
                       DatovaSchranka = null, 
                       Titulek = $"Kompletní export všech dat za všechny roky", 
                       NazevTlacitka = $"Kompletní export všech dat za všechny roky"
                   })"/>

            @for (int year = PuRepo.MinYear; year <= PuRepo.DefaultYear; year++)
            {
                <partial 
                    name="ExportModal" 
                    model="@(new ExportModalViewModel() 
                       { 
                           DatovaSchranka = null, 
                           Rok = year, 
                           Titulek = $"Export dat za rok {year}", 
                           NazevTlacitka = $"Export dat za rok {year}"
                       })"/>
            }
        </div>


    </div>
</section>