@model (string ico, int rok)

@using HlidacStatu.Entities
@using HlidacStatu.Lib.Web.UI
@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render

@{


    string ico = Model.ico;
    int rok = Model.rok;
    Firma f = Firmy.Get(ico);
    ViewBag.Title = $"{f.Jmeno} ({rok})" ;

    var platy = await PpRepo.GetPlatyAsync(rok, true, ico);

}
@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li><a asp-action="Index" asp-controller="Politici">Politici</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
@section Scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
}

@{

    ReportDataSource<PpPrijem> rds = new(
        new ReportDataSource<PpPrijem>.Column()
                {
                    Name = "Politik",
                    HtmlRender = (m) => {
                        var o = Osoby.GetByNameId.Get(m.Nameid);
                        return $"<a href='/politici/politik/{m.Nameid}'>{o.FullNameWithYear()}</a>";
                    },
                    OrderValueRender = (m) => {
                        var o = Osoby.GetByNameId.Get(m.Nameid);
                        return $"{o.Prijmeni} {o.Jmeno}";
                    },
                },
                new ReportDataSource<PpPrijem>.Column()
                        {
                            Name = $"Celkový roční příjem v {f.Jmeno}",
                            HtmlRender = (m) =>
                                    {
                                        var o = Osoby.GetByNameId.Get(m.Nameid);
                                        return $"<a href='/politici/politik/{o.NameId}'>{HlidacStatu.Util.RenderData.NicePrice(m.CelkovyRocniPlatVcetneOdmen, html: true)}</a>";
                                    },
                            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.CelkovyRocniPlatVcetneOdmen),
                            CssClass = "number"
                        }

    );
    rds.AddRows(platy);

}


<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <div>
            <p>
                @Html.DataToHTMLTable(rds,
                         dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 1, orderDirection: "desc", paging: false))
            </p>
        </div>
    </div>
</section>