@using HlidacStatu.Entities
@using HlidacStatu.Lib.Web.UI
@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render

@{
    ViewBag.Title = "Seznam organizací";
}
@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li><a asp-action="Index" asp-controller="Politici">Politici</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
@section Scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
}

@{
    var platy = await PpRepo.GetPlatyAsync(PpRepo.DefaultYear, true);

    ReportDataSource<PpPrijem[]> rds = new(
        new ReportDataSource<PpPrijem[]>.Column()
                {
                    Name = "Organizace",
                    HtmlRender = (m) =>
{
            var f = Firmy.GetByDS(m.First().Organizace.DS);

            return $"<a href='/politici/organizace/{f.ICO}'>{f.Jmeno} (IČ:{f.ICO})</a>";
        },
                    OrderValueRender = (m) =>
{
            var f = Firmy.GetByDS(m.First().Organizace.DS);
            return $"{f.Jmeno}";
        },
                },
                new ReportDataSource<PpPrijem[]>.Column()
                        {
                            Name = "Působící politici",
                            HtmlRender = (m) =>
                            {
                                var s = string.Join(",", m.Take(3).Select(n => $"<a href='/politici/politik/{n.Nameid}'>{Osoby.GetByNameId.Get(n.Nameid).FullName()}</a>"));
                                if (m.Count() > 3)
                                {
                                    s =s + $" a {Devmasters.Lang.CS.Plural.Get(m.Count()-3, "další jeden politik", "další {0} politici", "dalších {0} politiků")}";
                                }
                                return s;
                            },
                            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.Count()),
                            CssClass = "number"
                        },
                new ReportDataSource<PpPrijem[]>.Column()
                        {
                            Name = "Roční příjem",
                            HtmlRender = (m) =>
    {
                        string s = "";
                        decimal min = m.Min(v => v.CelkovyRocniPlatVcetneOdmen);
                        decimal max = m.Max(v => v.CelkovyRocniPlatVcetneOdmen);
                        if (min == max)
                        {
                            s =  $"{HlidacStatu.Util.RenderData.NicePrice(min, html: true)}";
                        }
                        else
                        {
                    s = $"<span style='white-space:nowrap'>{HlidacStatu.Util.RenderData.NicePrice(min, html: true)} - {HlidacStatu.Util.RenderData.NicePrice(max, html: true)}</span>";
                        }

                        return s;
                    },
                            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.Max(v => v.CelkovyRocniPlatVcetneOdmen)),
                        }

    );
    foreach (var org in platy.Select(m => m.IdOrganizace).Distinct())
    {
        var platyPerPolitik = platy.Where(m => m.IdOrganizace == org).ToArray();
        rds.AddRow(platyPerPolitik);
    }
    //rds.AddRows(platyPerPolitik);

}


<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <div>
            <p>
                @Html.DataToHTMLTable(rds,
                         dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 0, orderDirection: "asc", paging: false))
            </p>
        </div>
    </div>
</section>