@{
    ViewData["Title"] = "Naše chyba - omlouváme se";
}

<h1>@ViewData["Title"]</h1>
<img src="Content/Img/500.png" alt="Celé se nám to rozsypalo"/>
<p>Během zpracovávávávávává... ... ...ní dodododo chybě šlo vaší žááááádosti. </p>
