@model List<PpPrijem>

@using HlidacStatu.Entities
@using HlidacStatu.Lib.Web.UI
@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render
@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li><a asp-action="Index" asp-controller="Politici">Politici</a></li>
        <li class="active">Seznam politiků</li>
    </ol>
}
@section Scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
}

@{
    List<PpPrijem> platy = Model;

    ReportDataSource<PpPrijem[]> rds = new(
        new ReportDataSource<PpPrijem[]>.Column()
                {
                    Name = "Politik",
                    HtmlRender = (m) =>
                    {
                        var o = Osoby.GetByNameId.Get(m.First().Nameid);

                        return $"<a href='/politici/{o.NameId}'>{o.FullNameWithYear()}</a> <a href='{o.GetUrl(false)}' class='small'>(profil)</a>";
                    },
                    OrderValueRender = (m) =>
                            {
                                var o = Osoby.GetByNameId.Get(m.First().Nameid);
                                return $"{o.Prijmeni} {o.Jmeno}";
                            },
                },
                new ReportDataSource<PpPrijem[]>.Column()
                {
                    Name = "Celkový roční příjem",
                    HtmlRender = (m) =>
                            {
                                var o = Osoby.GetByNameId.Get(m.First().Nameid);
                                return $"<a href='/politici/politik/{o.NameId}'>{HlidacStatu.Util.RenderData.NicePrice(m.Sum(v=>v.CelkovyRocniPlatVcetneOdmen),html:true)}</a>";
                    },
                    OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.Sum(v => v.CelkovyRocniPlatVcetneOdmen)),
                    CssClass = "number"
                },
                new ReportDataSource<PpPrijem[]>.Column()
                        {
                            Name = "Působí v organizacích",
                            HtmlRender = (m) =>
                                {
                                    return string.Join("<br />",m.Select(n=>n.Organizace.Nazev).Distinct());
                                },
                        }

    );
    foreach (var pol in platy.Select(m=>m.Nameid).Distinct())
    {
        var platyPerPolitik = platy.Where(m => m.Nameid == pol).ToArray();
       rds.AddRow(platyPerPolitik);        
    }
    //rds.AddRows(platyPerPolitik);

}


<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <h2>Seznam politiků</h2>
        <div>
            <p>@Html.DataToHTMLTable(rds, 
                dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 1, orderDirection: "desc"))
                </p>
        </div>
    </div>
</section>