@model (PpRepo.PoliticianGroup Group, int Year)

@using Devmasters.Enums
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render

@{
    List<PpPrijem> vsechnyPlaty = await PpRepo.GetPrijmyForGroupAsync(PpRepo.PoliticianGroup.Vse, Model.Year);

    List<string> nameIdFilter = [];
    if (Model.Group == PpRepo.PoliticianGroup.Vse)
    {
        nameIdFilter = vsechnyPlaty.Select(m => m.Nameid).Distinct().ToList();
        ViewBag.Title = $"Seznam platů politiků";

    }
    else
    {
        nameIdFilter = await PpRepo.GetNameIdsForGroupAsync(Model.Group, Model.Year);
        ViewBag.Title = $"Seznam platů politiků - " + Model.Group.ToNiceDisplayName();
    }

    ReportDataSource<(PpPrijem[] Prijem, Osoba Osoba)> rds = new(
        new ReportDataSource<(PpPrijem[] Prijem, Osoba Osoba)>.Column()
        {
            Name = "Politik",
            HtmlRender = (m) =>
            {
                return $"<a href='/politici/{m.Osoba.NameId}'>{m.Osoba.FullNameWithYear()}</a> <a href='{m.Osoba.GetUrl(false)}' class='small'>(profil)</a>";
            },
            OrderValueRender = (m) =>
            {
                return $"{m.Osoba.Prijmeni} {m.Osoba.Jmeno}";
            },
        },
        new ReportDataSource<(PpPrijem[] Prijem, Osoba Osoba)>.Column()
        {
            Name = "Politické role",
            HtmlRender = (m) => m.Osoba.MainRoles(Model.Year),
            OrderValueRender = (m) => m.Osoba.MainRoles(Model.Year),
        },
        new ReportDataSource<(PpPrijem[] Prijem, Osoba Osoba)>.Column()
        {
            Name = "Celkový roční příjem",
            HtmlRender = (m) =>
            {
                return $"<a href='/politici/politik/{m.Osoba.NameId}'>{HlidacStatu.Util.RenderData.NicePrice(m.Prijem.Sum(v => v.CelkovyRocniPlatVcetneOdmen), html: true)}</a>";
            },
            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.Prijem.Sum(v => v.CelkovyRocniPlatVcetneOdmen)),
            CssClass = "number"
        },
        new ReportDataSource<(PpPrijem[] Prijem, Osoba Osoba)>.Column()
        {
            Name = "Působí v organizacích (řazeno podle počtu)",
            HtmlRender = (m) => { return string.Join("<br />", m.Prijem.Select(n => n.Organizace.Nazev).Distinct()); },
            OrderValueRender = (m) => HlidacStatu.Util.RenderData.OrderValueFormat(m.Prijem.Count()),
        }
    );
    foreach (var pol in nameIdFilter)
    {
        var platyPerPolitik = vsechnyPlaty.Where(m => m.Nameid == pol).ToArray();
        if (platyPerPolitik.Any())
        {
            rds.AddRow((platyPerPolitik, Osoby.GetByNameId.Get(pol)));

        }
    }
    //rds.AddRows(platyPerPolitik);
}


@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li><a asp-action="Index" asp-controller="Politici">Politici</a></li>
        <li class="active">Seznam politiků</li>
    </ol>
}

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
}

<section class="d-flex align-items-center justify-content-center">
    <div class="container">
        <h2>@ViewBag.Title </h2>
        <div class="row">
            @{
                var groupList = new PpRepo.PoliticianGroup[]
                {
                        PpRepo.PoliticianGroup.Vse,
                        PpRepo.PoliticianGroup.Vlada,
                        PpRepo.PoliticianGroup.Poslanci,
                        PpRepo.PoliticianGroup.Senatori,
                        PpRepo.PoliticianGroup.KrajstiZastupitele,
                };
            }
            @foreach (var item in groupList)
            {
                <a class="btn btn@(Model.Group == item ? "" : "-outline")-primary btn-sm col @(Model.Group == item ? "disabled" : "")" href="/politici/seznam?groupName=@(item.ToString())&year=@(PpRepo.DefaultYear)" role="button">
                    @(item.ToNiceDisplayName())
                </a>
            }
        </div>
        <div>
            <p>
                @Html.DataToHTMLTable(rds,
                dataTableOptions: HtmlExtensions.DatatableOptions(orderColumnIdx: 2, orderDirection: "desc"))
            </p>
        </div>
    </div>
</section>