@model (List<PlatyUredniku.Controllers.PoliticiController.PoliticiViewData> FullPoliticiViewData, PlatyUredniku.Controllers.PoliticiController.PoliticiFilter PoliticiFilter)

@{
    ViewBag.Title = "Seznam platů politiků";
}

@section breadcrumbs
{
    <ol class="breadcrumb">
        <li>
            <a asp-action="Index" asp-controller="Home">Platy</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Politici">Platy politiků</a>
        </li>
        <li>Seznam politiků</li>
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
}

<section class="d-flex align-items-center justify-content-center pageblock">
    <div class="container">
        <h2>@ViewBag.Title </h2>
        <partial name="_SeznamFilter" model="@((Model.PoliticiFilter, Model.FullPoliticiViewData, "/politici/seznamdata" ))"/>
    </div>
</section>