@{
    ViewBag.Title = "Stránka pro roboty";
}

<div class="p-5 mb-4 bg-jumbo rounded-3">
    <h1>Zdravíme</h1>
    <p>Velmi nám chováním připomínáte robota a pro roboty tento server určen není. </p>
    <p>Pokud jste člověk a nemůžete se dostat na naše stránky či přes náš formulář,
        moc se Vám za tyto komplikace omlouváme.
    </p>
    <h4>Jak problém překonat?</h4>
    <p>
        Z důvodu množství citlivých dat máme na našich stránkách specifickou ochranu a ta v určitých případech může detekovat člověka jako robota, což se bohužel stalo ve Vašem případě.
    </p><p>
        Jedním z důvodů proč se to stalo může být to, že pro vyplňování registračních (nebo přihlašovacích) údajů používáte nějaký druh password managera (správce hesel),  
        který se v kombinaci s některými internetovými prohlížeči a operačními systémy může být identifikovaný jako robot. 
    </p><p>
        Pokud je to tak, <b>zkuste vypnout veškeré našeptávání, včetně uživatelského jména nebo e-mailu a zadat vše ručně</b> (písmenko po písmenku).
        Heslo můžete přenést CTRL-C a CTRL-V ze správce hesel, ale nenechte ho vyplnit prohlížeč či správce hesel.

    </p>
    <p>Pokud nic z toho nepomohlo, napište nám na <a href="https://texty.hlidacstatu.cz/kontakt">kontaktní stránce</a>. Jako člověk ji zde snadno najdete.</p>

    <p>Vraťte se na <a href="history.back()">předchozí stránku</a> a zkuste, zda naše rada pomohla.</p>
    <p>
        <button class="btn btn-primary" onclick="history.back()">Vrátit se na předchozí stránku</button>
    </p>
</div>
