@model int

@{
    ViewBag.Title = @Model.ToString();
    Layout = "_Layout";
}


@switch (Model)
{
    case 401:
        <h1>
            Nejste přihlášen
            <br /><small class="text-warning">Chyba @Model</small>
        </h1>
        <p><a href="https://www.hlidacstatu.cz/Identity/Account/Login?retUrl_2=/"><i class="fas fa-chevron-circle-right"></i> Přihlásit se</a></p>
        <p><a href="https://www.hlidacstatu.cz/Identity/Account/Register?retUrl_2=/Identity/Account/Login?retUrl_2=/"><i class="fas fa-chevron-circle-right"></i> Vytvořit účet</a></p>

        break;

    case 403:
        <h1>
            Nemáte oprávnění pro přístup k tomuto zdroji.
            <br /><small class="text-warning">Chyba @Model</small>
        </h1>

        break;

    default:
        <h1>
            Nastala nečekaná chyba.
            <br /><small class="text-warning">Chyba @Model</small>
        </h1>
        <p>
            Chybu jsme zaznamenali a budeme se ji věnovat.
        </p>

        break;
}

