<h3>Custom blazor component</h3>
<button @onclick="Test" class="btn btn-dark">Click to get answer</button>
<br />
<div>@Data</div>
@code {
    [Parameter]  
    public string Data { get; set; } = string.Empty;

    int i = 0;
    
    private void Test()
    {
        if (i == 3)
        {
            Data = "Hokus pokus";
        }
        else
        {
            Data = "Pokus";
        }
        i++;
    }
}