@model HlidacStatu.JobsWeb.Models.BarGraph

@{
    var guid = Guid.NewGuid();
    string uniqueName = $"cc_{guid:N}";
    
    var data = Model.Data;

    var res = data.GroupBy(x => Math.Ceiling(x.SalaryMd / 2000))
        .Select(g => new {Klic = g.Key, pocet = g.Count()})
        .OrderBy(x => x.Klic);


    int tickInterval = 5000;
    int pixelsPerTick = 100;
    //int tickCount = (int)Math.Ceiling(Model.BasicData.Max(x => x.Maximum) / tickInterval);

    //int jobCount = Model.BasicData.Count;
    int pixelsPerJob = 100;

}


<figure class="highcharts-figure" style="max-width: 400px">
    <div id="@uniqueName"></div>
    <p class="highcharts-description">
        @Model.Description
    </p>
</figure>

<script>
Highcharts.chart('@uniqueName', {
    chart: {
        type: 'column'
    },
    title: {
        text: '@Model.Title'
    },
    xAxis:{
        tickInterval: 2000
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Počet smluv'
        }
    },
    tooltip: {
        formatter: function () {
            return '<p>Cenové rozpětí <b>' + this.x +
                '-'+ (this.x+2000) + '</b> Kč bez DPH</p><p>' + this.y + ' smluv obsahuje ceny za den práce v tomto rozpětí</p>';
        },
        //headerFormat: '<p>Cenové rozpětí {point.key}-{point.key}</p><p>',
        //pointFormat: '{point.y:.0f} smluv obsahuje ceny v tomto rozpětí',
        //footerFormat: '</p>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0,
            borderWidth: 1,
            groupPadding: 0
        }
    },
    series: [{
        name: 'Sazba na den pr8ce',
        data: [@Html.Raw(string.Join(",",res.Select(x => $"[{x.Klic * 2000},{x.pocet}]")))]

    }]
});

</script>