@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4 auth">
            <NavLink class="nav-link" href="/">
                Domů
            </NavLink>
            <NavLink class="nav-link" href="history">
                Historie
            </NavLink>
            <LoginDisplay/>
        </div>

        <div class="content px-4">
            @Body
        </div>
        <ToastContainer />
    </div>
</div>