@page
@model VolicskyPrukaz.Pages.GenerovatZadost

@{
    string[] staty = new []
    {
        "Afghánistán", "Albánie", "Alžírsko", "Andorra", "Angola", "Anguilla", "Antigua a Barbuda", "Argentina", "Arménie", "Aruba", "Austrálie", "Ázerbájdžán", 
        "Bahamy", "Bahrajn", "Bangladéš", "Barbados", "Belgie", "Belize", "Bělorusko", "Benin", "Bermudy", "Bhútán", "Bolívie", "Bosna a Hercegovina", "Botswana", 
        "Brazílie", "Britské indickooceánské území", "Britské Panenské ostrovy", "Brunej", "Bulharsko", "Burkina Faso", "Burundi", 
        "Cookovy ostrovy", "Curaçao", "Čad", "Černá Hora", "Čína", "Česko", "Dánsko", "Faerské ostrovy", "Grónsko ", "Dominika", 
        "Dominikánská republika", "Džibutsko", "Egypt", "Ekvádor", "Eritrea", "Estonsko", "Svazijsko", "Etiopie", "Falklandy (Malvíny)", 
        "Fidži", "Filipíny", "Finsko", "Francie", "Francouzská Guyana", "Francouzská jižní a antarktická území", "Francouzská Polynésie", 
        "Gabon", "Gambie", "Ghana", "Gibraltar", "Grenada", "Gruzie", "Guadeloupe", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", 
        "Haiti", "Honduras", "Hongkong", "Chile", "Chorvatsko", "Indie", "Indonésie", "Irák", "Írán", "Irsko", "Island", "Itálie", "Izrael", 
        "Jamajka", "Japonsko", "Jemen", "Jižní Afrika", "Jižní Súdán", "Jordánsko", "Kajmanské ostrovy", "Kambodža", "Kamerun", "Kanada", "Kapverdy", 
        "Bonaire, Svatý Eustach a Saba", "Katar", "Kazachstán", "Keňa", "Kiribati", "Kolumbie", "Komory", "Konžská republika", "Konžská demokratická republika", 
        "Korejská lidově demokratická republika", "Korejská republika", "Kosovo", "Kostarika", "Kuba", "Kuvajt", "Kypr", "Kyrgyzstán", 
        "Laos", "Lesotho", "Libanon", "Libérie", "Libye", "Lichtenštejnsko", "Litva", "Lotyšsko", "Lucembursko", 
        "Macao", "Madagaskar", "Maďarsko", "Makedonie - článek zrušen", "Malajsie", "Malawi", "Maledivy", "Mali", "Malta", "Maroko",
        "Marshallovy ostrovy", "Martinik", "Mauricius", "Mauritánie", "Mexiko", "Mikronésie", "Moldavsko", "Monako", "Mongolsko", "Montserrat", "Mosambik", 
        "Myanmar", "Namibie", "Nauru", "Německo", "Nepál", "Niger", "Nigérie", "Nikaragua", "Niue", "Nizozemsko", "Norsko", "Nová Kaledonie", "Nový Zéland", 
        "Tokelau", "Cookovy ostrovy", "Niue ", "Omán", "Pákistán", "Palau", "Panama", "Papua Nová Guinea", "Paraguay", "Peru", "Pitcairn", "Pobřeží slonoviny", 
        "Polsko", "Portoriko", "Portugalsko", "Rakousko", "Réunion", "Rovníková Guinea", "Rumunsko", "Rusko", "Rwanda", "Řecko", "Svatá Helena", 
        "Svatý Kryštof a Nevis", "Svatá Lucie", "San Marino", "Svatý Martin (NL)", "Saint Pierre a Miquelon", "Svatý Tomáš a Princův ostrov", 
        "Svatý Vincenc a Grenadiny", "Salvador", "Samoa", "Saúdská Arábie", "Senegal", "Severní Makedonie", "Seychely", "Sierra Leone", "Singapur", 
        "Slovensko", "Slovinsko", "Somálsko", "Spojené arabské emiráty", "Spojené státy", "Srbsko", "Šrí Lanka", "Středoafrická republika", "Súdán", "Surinam", 
        "Sýrie", "Šalomounovy ostrovy", "Španělsko", "Švédsko", "Švýcarsko", "Tádžikistán", "Tchaj-wan", "Tanzanie", "Thajsko", "Togo", "Tonga", "Trinidad a Tobago", 
        "Tristan da Cunha", "Tunisko", "Turecko", "Turkmenistán", "Turks a Caicos", "Tuvalu", "Uganda", "Ukrajina", "Uruguay", "Uzbekistán", "Vanuatu", "Vatikán", 
        "Velká Británie", "Guernsey", "Jersey", "Man", "Venezuela", "Vietnam", "Východní Timor", "Wallis a Futuna", "Zambie", "Zimbabwe"
        
    };
}

<div id="form" class="form pane table">
    <form id="myForm" asp-page="GenerovatZadost" method="post">
        <div class="mb-3">
            <h2><i class="fa-solid fa-shield-halved"></i>&nbsp;Soukromí</h2>
            <p class="new-p">
                Vámi vyplněné osobní údaje nikomu neodesíláme, ani je dále nezpracováváme.
                Pokud chcete mít 100% jistotu, stáhněte si a vyplňte
                <a href="assets/files/Zadost-Volicsky-Prukaz-Volby2022-CR.pdf">šablonu žádosti </a> ručně sami.
            </p>
            <p class="new-p">
                Pokud se můžete na váš obecní úřad dostavit osobně, nepotřebujete předem žádnou písemnou žádost vytvářet.
                Stačí, pokud se dostavíte na úřad s platným dokladem totožnosti.
            </p>
        </div>

        <div class="mb-3 w-50">
            <h2><i class="fa-solid fa-magnifying-glass"></i>&nbsp;Vyhledat svou adresu</h2>
            <div style="position:relative">
                <label for="hsAutocompleteTool">Najděte svoji adresu</label>
                <input placeholder="Zadejte adresu" type="text" name="hsAutocompleteTool" id="hsAutocompleteTool" class="form-control input-lg" autocomplete="off" oninput="CallAutocompleteApi(this)"/>
                <div id="hsAutocompleteResults"></div>
            </div>
        </div>

        <div class="mb-3 w-50">
            <h2><i class="fa-regular fa-id-card"></i>&nbsp;Osobní údaje</h2>
            <label for="jmenoZadatele" class="required">Jméno a příjmení</label>
            <input asp-for="Zadost.JmenoZadatele" id="jmenoZadatele" type="text" placeholder="Celé jméno" class="form-control input-lg"/>
            <label for="datumNarozeniZadatele" class="required">Datum narození</label>
            <input asp-for="Zadost.DatumNarozeniZadatele" id="datumNarozeniZadatele" type="text" placeholder="Datum narození" class="form-control input-lg"/>
            <label for="telefonZadatele">Telefon</label>
            <input asp-for="Zadost.TelefonZadatele" id="telefonZadatele" type="text" placeholder="Telefon" class="form-control input-lg"/>
        </div>
        <div class="mb-3 w-50">
            <h2><i class="fa-solid fa-house"></i>&nbsp;Adresa</h2>
            <label for="ulice" class="required">Ulice</label>
            <input asp-for="Zadost.Ulice" id="ulice" type="text" placeholder="Ulice + čp" class="form-control input-lg"/>
            <label for="castobce">Část obce</label>
            <input asp-for="Zadost.CastObce" id="castobce" type="text" placeholder="Část obce" class="form-control input-lg"/>
            <label for="obec" class="required">PSČ a Obec</label>
            <input asp-for="Zadost.Obec" id="obec" type="text" placeholder="PSČ + Obec" class="form-control input-lg"/>
        </div>
        <div class="mb-3 w-50">
            <h2><i class="fa-solid fa-building-columns"></i>&nbsp;Adresa úřadu</h2>
            <label for="uradnazev" class="required">Název</label>
            <input asp-for="Zadost.UradNazev" id="uradnazev" type="text" placeholder="Název úřadu" class="form-control input-lg"/>
            <label for="uradulice" class="required">Ulice</label>
            <input asp-for="Zadost.UradUlice" id="uradulice" type="text" placeholder="Ulice úřadu" class="form-control input-lg"/>
            <label for="uradcastobce">Část obce</label>
            <input asp-for="Zadost.UradCastObce" id="uradcastobce" type="text" placeholder="Část obce úřadu" class="form-control input-lg"/>
            <label for="uradobec" class="required">Obec</label>
            <input asp-for="Zadost.UradObec" id="uradobec" type="text" placeholder="PSČ + Obec úřadu" class="form-control input-lg"/>
            <label for="uradobec" class="required">Datová schránka</label>
            <input id="datovka" type="text" class="form-control input-lg" disabled readonly/>
        </div>

        <div class="mb-3 w-50">
            <h2><i class="fa-solid fa-envelope"></i>&nbsp;Doručení</h2>
            <div class="button-group" role="group" aria-label="Basic checkbox button group">
                <div class="form-check">
                    <input asp-for="Zadost.PrvniKolo" id="prvnikolo" type="checkbox" placeholder="Název úřadu" class="form-check-input"/>
                    <label for="prvnikolo" class="form-check-label required">Chci vygenerovat žádost pro 1. kolo - 13. a 14. ledna 2023</label>
                </div>
                <div class="form-check">
                    <input asp-for="Zadost.DruheKolo" id="druhekolo" type="checkbox" placeholder="Název úřadu" class="form-check-input"/>
                    <label for="druhekolo" class="form-check-label required">Chci vygenerovat žádost pro 2. kolo - 27. a 28. ledna 2023</label>
                </div>
            </div>
            <div class="button-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" name="doruceni" onclick="SetPrevzeti(this)" value="převezmu osobně." id="in-person"> <label for="in-person">převezmu osobně</label><br>
                <input type="radio" name="doruceni" onclick="SetPrevzeti(this)" value="převezme osoba, která se prokáže plnou mocí s mým úředně ověřeným podpisem." id="representative"> <label for="representative">převezme osoba, která se prokáže plnou mocí s mým úředně ověřeným podpisem</label><br>
                <input type="radio" name="doruceni" onclick="SetPrevzeti(this)" value="žádám zaslat na adresu mého trvalého pobytu." id="my-address"> <label for="my-address">žádám zaslat na adresu mého trvalého pobytu</label><br>
                <input type="radio" name="doruceni" onclick="SetPrevzetiWithAddress(this)" value="žádám zaslat na jinou adresu: " id="other-address"> <label for="other-address">žádám zaslat na jinou adresu</label>
            </div>
            <div style="display: none" id="additionalAddress">
                <div class="mb-3 w-50">

                    <div style="position:relative">
                        <label for="prevzetiAutocomplete">vyhledat adresu</label>
                        <input placeholder="Zadejte adresu" type="text" name="prevzetiAutocomplete" id="prevzetiAutocomplete" class="form-control input-lg" autocomplete="off" oninput="CallPrevzetiAutocompleteApi(this)"/>
                        <div id="prevzetiAutocompleteResults"></div>
                    </div>

                    
                    <label for="prevzetiJmeno" class="required">Jméno a příjmení</label>
                    <input id="prevzetiJmeno" type="text" placeholder="Celé jméno" class="form-control input-lg"/>
                    <label for="prevzetiUlice" class="required">Ulice</label>
                    <input id="prevzetiUlice" type="text" placeholder="Ulice + čp" class="form-control input-lg"/>
                    <label for="prevzetiCastobce">Část obce</label>
                    <input id="prevzetiCastobce" type="text" placeholder="Část obce" class="form-control input-lg"/>
                    <label for="prevzetiObec" class="required">PSČ a Obec</label>
                    <input id="prevzetiObec" type="text" placeholder="PSČ + Obec" class="form-control input-lg"/>
                    <label for="prevzetiStat">Stát</label>
                    <input id="prevzetiStat" type="text" list="datalistOptions" placeholder="Stát" class="form-control input-lg"/>
                    <datalist id="datalistOptions">
                    @foreach (var stat in staty)
                    {
                        <option value="@stat" />
                    }
                    </datalist>
                </div>
            </div>

            <input asp-for="Zadost.Prevzeti" id="prevzeti" type="hidden"/>
            <input asp-for="Zadost.PrevzetiAdresa" id="prevzetiAdresa" type="hidden"/>

        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#stahnoutPdfModal" onclick="PrepareModalData()">Připravit žádost</button>

        <!-- Modal -->
        <div class="modal fade" id="stahnoutPdfModal" tabindex="-1" aria-labelledby="stahnoutPdfModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="stahnoutPdfModalLabel">Žádost je připravena</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2>
                            Zkontrolujte žádost
                        </h2>
                        <p>
                            Prosíme, zkontrolujte si údaje ve vygenerované žádosti.
                            Pokud jsou všechny údaje v pořádku, pročtěte si následující sekci s informacemi o možnostech jejího způsobu doručení.
                            Pokud není některá z vyplněných informací správná, nic se neděje. Údaje můžete snadno změnit.
                        </p>

                        <h2>Doručte žádost na váš úřad</h2>

                        <h3>Pomocí datové schránky</h3>
                        <p>
                            Pokud máte datovou schránku, stačí odeslat vytvořenou žádost jako přílohu ve formátu PDF do datové schránky vašeho obecního úřadu: <br/>
                            <span class="text-success" id="modalDatovka"></span><br/>
                            Žádost nemusí být podepsaná (nebo opatřena elektronickým podpisem) a tím pádem nemusíte podpis ani ověřovat – vaše identita je ověřena přihlášením do datové schránky.
                            Žádost odešlete nejpozději do 1. 10. 2021.
                        </p>
                        <h3>Poštou</h3>
                        <p>
                            Vytvořenou žádost vytiskněte, opatřete ji úředně ověřeným podpisem (na libovolném obecním úřadu, u notáře apod.) a odešlete na adresu vašeho úřadu: <br/>
                            <span class="text-success" id="modalAdresaUradu"></span><br/>
                            Žádost musí být doručena (doručena, nikoliv odeslána) do 1. 10. 2021.
                        </p>
                        <h3>Osobně</h3>
                        <p>
                            Dostavte se na váš obecní úřad:<br/>
                            <span class="text-success" id="modalAdresaUradu2"></span><br/>
                            s platným dokladem totožnosti. Na úřad můžete přijít podat žádost nejpozději 6. 10. 2021 do 16:00 hodin. Raději si ale předem zkontrolujte úřední hodiny!
                        </p>

                        <h2>Přejeme dobrou volbu!</h2>
                        <p>
                            Pro volby do zastupitelstev obcí a Senátu ČR se dostavte s vaším volebním průkazem a platným průkazem totožnosti 23. 9. 2022 či 24. 9. 2022 do libovolného volebního okrsku.
                            Upozornění: pokud máte vystaven volební průkaz a chcete volit ve volební místnosti vašeho volebního okrsku, musíte mít volební průkaz také sebou. Bez něj vám volba nebude umožněna!
                        </p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Změnit údaje</button>
                        <button type="submit" class="btn btn-primary">Vygenerovat žádost</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<style>
    .whisp {
        width: 100%;
        text-align: left;
        background-color: white;
        border-left: 2px grey solid;
        border-top: 0px;
        border-bottom: 1px grey dotted;
        border-right: 2px grey solid;
        padding-bottom: 2px;
    }

        .whisp:focus {
            background-color: lightblue;
        }

    #hsAutocompleteResults {
        margin-bottom: 10px;
        position:absolute;
        z-index: 10;
    }

</style>

<script>

    // další fnc
    function SetPrevzeti(data)
    {
        $('#additionalAddress').hide();
        $('#prevzeti').val(data.value);
    }
        
    function SetPrevzetiWithAddress(data)
    {
        $('#additionalAddress').show();
        $('#prevzeti').val(data.value);
    }
    
    function PrepareModalData()
    {
        $('#modalDatovka').text($('#datovka').val());
        
        let adresaUradu = $('#uradnazev').val() + '<br>';
        adresaUradu = adresaUradu + $('#uradulice').val() + '<br>';
        
        let uradCastObce = $('#uradcastobce').val();
        if (uradCastObce.length > 0) 
        {
            adresaUradu = adresaUradu + uradCastObce + '<br>';
        }
        
        adresaUradu = adresaUradu + $('#uradobec').val();
        
        $('#modalAdresaUradu').html(adresaUradu);
        $('#modalAdresaUradu2').html(adresaUradu);
        
        FillAdditionalPrevzeteti()
    }
    
    function FillAdditionalPrevzeteti()
    {
        if ($('#other-address').prop('checked'))
        {
            
            let jmeno = $('#prevzetiJmeno').val();
            let ulice = $('#prevzetiUlice').val();
            let cast = $('#prevzetiCastobce').val();
            let obec = $('#prevzetiObec').val();
            let stat = $('#prevzetiStat').val();
            
            let adresa = [];
            if (jmeno.length > 1) {
                adresa.push(jmeno);
            }
            if (ulice.length > 1) {
                adresa.push(ulice);
            }
            if (cast.length > 1) {
                adresa.push(cast);
            }
            if (obec.length > 1) {
                adresa.push(obec);
            }
            if (stat.length > 1) {
                adresa.push(stat);
            }
            
            $('#prevzetiAdresa').val(adresa.join(', '));
        }
    }

    // první autocomplete
    var currentRequest = null;
    function CallAutocompleteApi(caller) {
        let url = "/findAddress/" + caller.value;

        currentRequest = jQuery.ajax({
            type: 'GET',
            url: url,
            beforeSend: function(){           
                if(currentRequest != null) {
                    currentRequest.abort();
                }
            },
            success: function(data) {
                EmptyAutocompleteResults();
                data.forEach(autocompData => {
                    var button = $('<button/>',
                        {
                            text: autocompData.adresa.replaceAll('~','; '),
                            class: 'whisp',
                            click: function () { FillDetail(autocompData); EmptyAutocompleteResults(); }
                        });
                    $("#hsAutocompleteResults").append(button);
                });
            },
            error:function(e){
                console.log(e);
            }
        });

        Navigate();
    }
    
    function FillDetail(autocompData) {
        $('#hsAutocompleteTool').val(autocompData.adresa.replaceAll('~','; '));
        let split = autocompData.adresa.split('~');
        if (split.length == 2) {
            $('#ulice').val(split[0]);
            $('#obec').val(split[1]);
            $('#castobce').val('');
        } else {
            $('#ulice').val(split[0]);
            $('#castobce').val(split[1]);
            $('#obec').val(split[2]);
        }
        let splitUrad = autocompData.adresaUradu.split('~');
        $('#uradnazev').val(autocompData.nazevUradu);
        if (splitUrad.length == 2) {
            $('#uradulice').val(splitUrad[0]);
            $('#uradobec').val(splitUrad[1]);
            $('#uradcastobce').val('');
        } else {
            $('#uradulice').val(splitUrad[0]);
            $('#uradcastobce').val(splitUrad[1]);
            $('#uradobec').val(splitUrad[2]);
        }
        $('#datovka').val(autocompData.datovkaUradu);
    }
    
    function EmptyAutocompleteResults() {
        $('#hsAutocompleteResults').empty();
    }

    function EraseSearchBox() {
        $('#hsAutocompleteTool').val("").focus();
    }

    function Navigate() {
        var index = -1;
        jQuery(parent).on('keydown', function (e) {
            var checkboxes = $('#hsAutocompleteResults').find('button.whisp');
            if (e.keyCode == 38) {
                if (index > 0) {
                    index = index - 1;
                }
                checkboxes[index].focus();
                e.preventDefault();
                e.stopPropagation();
            }
            else if (e.keyCode == 40) {
                if (index < checkboxes.length - 1) {
                    index = index + 1;
                    e.preventDefault();
                    e.stopPropagation();
                }
                else {
                    index = checkboxes.length - 1;
                }
                checkboxes[index].focus();
            }
            else if (e.keyCode == 27) {
                EmptyAutocompleteResults();
                EraseSearchBox();
            }
        });
    }
    
    // Druhý autocomplete (šlo by udělat lépe)
    var prevzetiRequest = null;
        function CallPrevzetiAutocompleteApi(caller) {
            let url = "/findAddress/" + caller.value;
    
            prevzetiRequest = jQuery.ajax({
                type: 'GET',
                url: url,
                beforeSend: function(){           
                    if(prevzetiRequest != null) {
                        prevzetiRequest.abort();
                    }
                },
                success: function(data) {
                    EmptyPrevzetiAutocompleteResults();
                    data.forEach(autocompData => {
                        var button = $('<button/>',
                            {
                                text: autocompData.adresa.replaceAll('~','; '),
                                class: 'whisp',
                                click: function () { FillPrevzetiDetail(autocompData); EmptyPrevzetiAutocompleteResults(); }
                            });
                        $("#prevzetiAutocompleteResults").append(button);
                    });
                },
                error:function(e){
                    console.log(e);
                }
            });
        }
        
        function FillPrevzetiDetail(autocompData) {
            $('#prevzetiAutocomplete').val(autocompData.adresa.replaceAll('~','; '));
            let split = autocompData.adresa.split('~');
            if (split.length == 2) {
                $('#prevzetiUlice').val(split[0]);
                $('#prevzetiObec').val(split[1]);
                $('#prevzetiCastobce').val('');
            } else {
                $('#prevzetiUlice').val(split[0]);
                $('#prevzetiCastobce').val(split[1]);
                $('#prevzetiObec').val(split[2]);
            }
        }
        
        function EmptyPrevzetiAutocompleteResults() {
            $('#prevzetiAutocompleteResults').empty();
        }
    
        function ErasePrevzetiSearchBox() {
            $('#prevzetiAutocomplete').val("").focus();
        }
    


</script>