@page
@model IndexModel
@{
    ViewData["Title"] = "Voličský průkaz";
}

<div class="text-center">
    <h2>Nemůžete volit prezidenta v místě svého bydliště? Požádejte si o voličský průkaz.</h2>
    <p>O voličský průkaz můžete požádat osobně na místně příslušném obecním úřadě, a to do středy 24. ledna 2018 do 16.00 hodin.</p>

    <p>Pokud 26. a 27. ledna 2018 nemůžete volit prezidenta (2.kolo voleb) v místě svého trvalého pobytu a přesto volit chcete, potřebujete voličský průkaz. Ten vám umožní volit v libovolné volební místnosti v ČR anebo na ambasádách České republiky po světě. </p>
    <hr/>

    <h2>Důležité termíny a pravidla</h2>
    <ul>
        <li>
            Doručení žádosti osobní datovou schránkou:
            <ul>
                <li>
                    nejpozději do pátku 19. ledna 2018
                </li>
                <li>
                    nemusí být notářsky ověřena
                </li>
            </ul>
        </li>
        <li>
            Doručení žádosti poštou/zásilkovou službou:
            <ul>
                <li>
                    žádost musí být fyzicky na úřadě nejpozději v pátek 19. ledna 2018 v pracovní době
                </li>
                <li>
                    musí být ověřen podpis (notář, pošta, czechpoint,...)
                </li>
            </ul>
        </li>
        <li>
            Podání žádosti osobně:
            <ul>
                <li>
                    žádost není potřeba
                </li>
                <li>
                    pouze v úředních hodinách úřadu
                </li>
                <li>
                    nejpozději do středy 24. ledna 2018 do 16.00 hodin pro druhé kolo
                </li>
            </ul>
        </li>
    </ul>
    <hr/>
    <ul>
        <li>
            Vytvoření žádosti trvá asi 2 minuty
        </li>
        <li>
            Žádost je generovaná pouze na vašem zařízení (mobilu či počítači)
        </li>
        <li>
            Žádné osobní údaje se z vašeho počítače neposílají k nám na server či kamkoliv jinam
        </li>
        <li>
            Klidně se můžete odpojit od internetu, pokud chcete mít jistotu
        </li>
    </ul>


    
    <hr/>
</div>