@page
@model IndexModel
@{
    ViewData["Title"] = "Voličský průkaz";
}

<div class="text-center">
    <h2>Volba prezidenta republiky 2023</h2>
    
    <p>
        <span>Volba prezidenta republiky 2023 se uskuteční <strong>13. a 14. ledna 2023</strong>.</span><br/>
        <span>Následující druhé kolo prezidentských voleb je naplánováno na <strong>27. a 28. ledna 2013</strong>.</span>
    </p>

    <p>
        Volební místnosti budou ve dnech prvního i druhého kola voleb pro voliče v ČR otevřeny:<br/>
        <span>V pátek <strong>od 14.00 hodin do 22.00 hodin</strong></span><br/>
        <span>a v sobotu <strong>od 8.00 hodin do 14.00 hodin</strong>.</span>
    </p>

    <p>
    V ČR obdrží voliči hlasovací lístky (každý kandidát na samostatném lístku) na adresu trvalého pobytu nejpozději 3 dny před dnem prvního kola voleb. V zahraničí obdrží voliči hlasovací lístky až ve volební místnosti. V případě druhého kola budou lístky k dispozici až ve volebních místnostech.
    </p>

    <p>
        Nejste rozhodnuti kterého z kandidátů zvolit? Můžete se podívat na jednotlivé osobnosti, které kandidují na post prezidenta republiky na webu <a href="https://kohonevolit.cz/Volby_Prezident/VolbyPrez23.html">KOHO (NE)VOLIT</a>.
    </p>


    <p>
    Volbu prezidenta republiky upravuje Ústava ČR (čl. 54 a 61), zákon č. 275/2012 Sb. a prováděcí vyhláška č. 294/2012 Sb.. Prezident republiky je volen v přímých volbách podle zásad většinového systému na dobu 5 let a nemůže být zvolen více jak dvakrát za sebou. Volba provádí oprávnění voliči v ČR nebo na zastupitelských nebo konzulárních úřadech ČR v zahraničí.
    </p>


</div>