@page
@model VolicskyPrukaz.Pages.JinyOkrsek

<h2>Chci volit jinde než ve svém volebním okrsku - potřebuji voličský průkaz</h2>
<p>
    Na voličský průkaz může volič hlasovat v jakémkoliv volebním okrsku na území České republiky nebo ve zvláštním volebním okrsku v zahraničí. 
    <span class="text-danger">Žádost o průkaz i vyzvednutí průkazu si naplánujte včas!</span> 
    Berte v potaz nejen vlastní možnosti, ale i pracovní dobu příslušných úřadů.
</p>
<p>
    Pokud chcete volit mimo své trvalé bydliště, potřebujete tzv. voličský průkaz. 
    O voličský průkaz můžete zažádat pouze sám za sebe (= ne jako zástupce žadatele) na svém obecním úřadu podle 
    místa trvalého bydliště, <span class="text-danger">a to na každé kolo voleb zvlášť.</span> 
    Volební průkaz totiž musíte ve volební místnosti odevzdat před hlasováním.
</p>
<p>
    Žádat můžete:<br/>
    <span><strong>osobně</strong> – dostavte se přímo na úřad s platným dokladem totožnosti nejpozději <span class="text-danger">do 11. ledna 2023 do 16.00 hodin (pro první kolo voleb) a do 25. ledna 2023 do 16.00 hodin (pro druhé kolo voleb)</span></span><br/>
    <span><strong>písemně</strong> – žádost musíte úřadu doručit <span class="text-danger">do 6. ledna 2023 do 16.00 hodin (pro první kolo voleb) a do 20. ledna 2023 do 16.00 hodin (pro druhé kolo voleb)</span> pomocí vaší datové schránky nebo v listinné podobě s úředně ověřeným podpisem (poštou apod.).</span>
</p>
<p>
    Voličský průkaz úřad začne vydávat průkazy nejdříve 15 dní před prvním kolem voleb (30. prosince 2022). Předá jej osobně vám nebo tomu, kdo má vaši plnou moc s ověřeným podpisem, nebo vám jej zašle. Voličský průkaz si můžete nechat na základě žádosti zaslat i na adresu zastupitelského úřadu, kde jste se rozhodl/a hlasovat (a zde si ho "vyzvednout" až v den voleb).
</p>
<p>
Pozor! Pokud jste řádně požádali o voličský průkaz a rozhodnete se nakonec hlasovat ve svém volebním okrsku, musíte voličský průkaz odevzdat okrskové volební komisi. Občanka/pas nestačí. Jinak nebudete moci hlasovat.
</p>


<a class="btn btn-primary" asp-page="GenerovatZadost">Chci vygenerovat žádost o voličský průkaz</a>
