@page
@model VolicskyPrukaz.Pages.Nemocnice
@section breadcrumb
{
    <li class="breadcrumb-item active" aria-current="page">Budu volit z nemocnice</li>
}

<h2>Chci volit z nemocnice (z porodnice, sanatoria, ústavu sociální péče, či jiného podobného zařízení)</h2>
<p>
    Občan, který má zájem volit, přestože je (nebo teprve bude - plánovaná hospitalizace apod.) v takovém zařízení, může volit a to několika způsoby.
</p>
<p>
    <strong>Pokud je zařízení v místě bydliště</strong> voliče, může volič sám zažádat svůj obecní úřad (v den voleb svoji okrskovou volební komisi) o možnost volby mimo volební místnost. Okrsková volební komise vyšle své členy s přenosnou volební schránkou (volební urnou). Hlasovací lístky volič obdrží od komise v den voleb.
</p>
<p>
    <strong>Na základě zápisu do zvláštního seznamu voličů</strong> (v případě, že je volič v zařízení mimo svůj volební okrsek dlouhodobě). O této možnosti by měla voliče včas informovat správa zařízení, která požádá obecní úřad o možnost hlasování v zařízení. Volič by měl správě zařízení potvrdit zájem o volby a předat své identifikační údaje správě zařízení, která voliče zapíše na seznam a předá je obecnímu úřadu pod který zařízení spadá. To musí správa zajistit nejpozději do 9. ledna 2023 do 14 hodin a v případě druhého kola nejpozději do 23. ledna do 14 hodin. Okrsková volební komise vyšle své členy s přenosnou volební schránkou (volební urnou). Hlasovací lístky volič obdrží od komise v den voleb.
</p>
<p>
    <strong>Na základě voličského průkazu</strong> (v případě, že je volič v zařízení mimo svůj volební okrsek plánovaně). Správa zařízení požádá obecní úřad o možnost hlasování v zařízení. Okrsková volební komise vyšle své členy s přenosnou volební schránkou (volební urnou). Hlasovací lístky volič obdrží od komise v den voleb. O voličský průkaz žádejte způsobem, o kterém informujeme v části: <a asp-page="@nameof(JinyOkrsek)">“Chci volit jinde než ve svém volebním okrsku - potřebuji voličský průkaz”</a>.
</p>