@page
@model VolicskyPrukaz.Pages.StrankaJedna

<h2>Vygenerování volebního průkazu</h2>
<p>Stačí vyplnit jméno, adresu a my už vám volební průkaz vygenerujeme</p>


    

    
<a asp-page="GenerovatZadost">Chci si vygenerovat žádost</a>