@page
@model VolicskyPrukaz.Pages.StrankaJedna

<h2>Vygenerování volebního průkazu</h2>
<p>Stačí vyplnit jméno, adresu a my už vám volební průkaz vygenerujeme</p>

<form action="/generatePdf" method="post" >
    

<input id="jmeno" type="text" placeholder="Celé jméno" name="jmeno" class="form-control input-lg"/>
<partial name="_AutocompletePartial"/>

<input type="submit"/>
</form>