@page
@model VolicskyPrukaz.Pages.VlastniOkrsek
@section breadcrumb
{
    <li class="breadcrumb-item active" aria-current="page">Chci volit ve svém volebním okrsku</li>
}

<h2>Chci volit v místě svého trvalého bydliště</h2>

<p>
Nic vám nebrání. Dostavte se s platným průkazem totožnosti (občanský průkaz, cestovní, diplomatický nebo služební pas České republiky) v den voleb do volební místnosti ve vašem volebním obvodu (dle trvalého bydliště). A samozřejmě je nutné dovršit 18 let věku alespoň druhý den voleb a být svéprávný k výkonu volebního práva. Pokud nemůžete jít (závažné, zejména zdravotní důvody), požádejte svůj obecní úřad (v den voleb svoji okrskovou volební komisi) o možnost volby mimo volební místnost. Volební komise vyšle své členy s přenosnou volební schránkou (volební urnou).
</p>

<p>
Druhé kolo prezidentských voleb se uskuteční 27. a 28. ledna 2023.
</p>

<p>
Volební místnosti budou ve dnech prvního i druhého kola voleb pro voliče v ČR otevřeny:<br/>
v pátek 27. ledna 2023 od 14 do 22 hodinn<br/>
v sobotu 28. ledna 2023 od 8 do 14 hodin.
</p>