@page
@model VolicskyPrukaz.Pages.VlastniOkrsek
@section breadcrumb
{
    <li class="breadcrumb-item active" aria-current="page">Chci volit ve svém volebním okrsku</li>
}

<h2>Chci volit v místě svého trvalého bydliště</h2>

<p>
Nic vám nebrání. Dostavte se s platným průkazem totožnosti (občanský průkaz, cestovní, diplomatický nebo služební pas České republiky) v den voleb do volební místnosti ve vašem volebním obvodu (dle trvalého bydliště). A samozřejmě je nutné dovršit 18 let věku alespoň druhý den voleb a být svéprávný k výkonu volebního práva.
Pokud nemůžete jít (závažné, zejména zdravotní důvody), požádejte svůj obecní úřad (v den voleb svoji okrskovou volební komisi) o možnost volby mimo volební místnost. Volební komise vyšle své členy s přenosnou volební schránkou (volební urnou).
</p>

<p>
Volba prezidenta republiky 2023 se uskuteční 13. a 14. ledna 2023.<br/> 
Následující druhé kolo prezidentských voleb je naplánováno na 27. a 28. ledna 2023.
</p>

<p>
Volební místnosti budou ve dnech prvního i druhého kola voleb pro voliče v ČR otevřeny:<br/>
V pátek od 14.00 hodin do 22.00 hodin<br/>
a v sobotu 8.00 hodin do 14.00 hodin.
</p>