@page
@model VolicskyPrukaz.Pages.Zahranici
@section breadcrumb
{
    <li class="breadcrumb-item active" aria-current="page">Chci volit v zahraničí</li>
}

<h2>V zahraničí</h2>
<p>
Pokud je volič občanem ČR, může ve volbě prezidenta hlasovat na zastupitelských úřadech v zahraničí. Musí být starší 18 let a musí být zapsán ve zvláštním seznamu voličů u zastupitelského úřadu. A samozřejmě musí doložit svou totožnost.
</p>
<p>
    Pokud volič v tomto seznamu není zapsán, může o zápis požádat zastupitelský úřad, v jehož územním obvodu má bydliště. Takovou žádost ale musí podat nejpozději 40 dnů před dnem voleb a to nejpozději do 16 hodin (do 4. prosince 2022). Při podání žádosti musí volič doložit svou totožnost, státní občanství ČR a bydliště v územním obvodu zastupitelského úřadu, kde žádost podává.
</p>

<p>
    Pokud volič v zahraničí nemá trvalé bydliště, ale ví, že v době prvního nebo druhého kola v zahraničí bude, může v takovém případě volit na voličský průkaz i bez toho, aby byl zapsán na zvláštním seznamu voličů. Seznam zastupitelských úřadů v zahraničí, kde se bude volit, najde na webu 
    <a href="https://www.mzv.cz/jnp/">Ministerstva zahraničních věcí</a> pod odkazem "státy a území" je nutné zvolit název státu a Kontaktní český úřad.
</p>

<p>
Termíny voleb na zastupitelských úřadech jsou následující:<br/>
<span><strong>čtvrtek a pátek od 14 do 21 hodin</strong> místního času, je-li časový rozdíl 2 hodiny a více oproti ČR.</span><br/>
<span><strong>pátek 12 - 22 hodin a sobota 8 - 12 hodin</strong> místního času, je-li časový rozdíl do 2 hodin oproti ČR.</span><br/>
<span><strong>pátek 14 - 22 hodin a sobota 8 - 14 hodin</strong> místního času, pokud není časový rozdíl = stejné časové pásmo</span>
</p>

<p>
    Pokud bude chtít volič zapsaný na zvláštním seznamu voličů volit u jiného zastupitelského úřadu nebo v ČR, musí si zažádat o voličský průkaz.  
</p>
<p>
    O voličský průkaz je potřeba zažádat u zastupitelského úřadu, v jehož územním obvodě má volič bydliště. <a asp-page="@nameof(JinyOkrsek)">Postup, termíny a lhůty podání žádosti o voličský průkaz jsou shodné pro zahraničí i ČR.</a> 
</p>

    
<a class="btn btn-primary" asp-page="GenerovatZadost">Chci vygenerovat žádost o voličský průkaz</a>
