@model HlidacStatu.Lib.Analysis.TemplatedQuery

@section scripts
{
    <link href="https://cdn.datatables.net/v/ju/jqc-1.12.4/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/datatables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/v/ju/jqc-1.12.4/jszip-2.5.0/dt-1.13.4/b-2.3.6/b-html5-2.3.6/datatables.min.js"></script>


    <script src="~/bundles/highcharts"></script>
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

@if (!string.IsNullOrEmpty( Model?.Query))
{
<cache enabled="@(!Html.IsDebug())" expires-after="@Constants.CachedActionLength.Cache12H" vary-by="@(ViewData[Constants.CacheKeyName])">
    <partial name="Partials/_analyzaPage" model="Model"/>
</cache>
}
else
{
    <partial name="Partials/AnalyzaStart" />
}
