@model HlidacStatu.Lib.Analysis.TemplatedQuery

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="~/bundles/highcharts"></script>
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<cache enabled="@(!Html.IsDebug())" expires-after="@Constants.CachedActionLength.Cache12H" vary-by="@(ViewData[Constants.CacheKeyName])">
@if (!string.IsNullOrEmpty( Model?.Query))
{
    <partial name="Partials/_analyzaPage" model="Model"/>
}
else
{
    <partial name="Partials/AnalyzaStart" />
}
</cache>