@{
    ViewBag.Title = "Hlídač státu";
    ViewBag.SubTitle = "Hlídáme je, protože si to zaslouží!";
    ViewBag.HideTitle = true;
    ViewBag.HideAd = true;
}

@section scripts
{
    @WebUtil.SetAutofocusOnId("Q")
}

<div class="watcher-blocks">

    <div class="watcher-blocks__wrapper">
        <partial name="Partials/_hp_box_left_2025_platypolitiku"/>
        <partial name="Partials/_hp_box_right_2025_platypolitiku"/>
    </div>
</div>
