@{
    ViewBag.Title = "Hlídač státu";
    ViewBag.SubTitle = "Hlídáme je, protože si to zaslouží!";
    ViewBag.HideTitle = true;
    ViewBag.HideAd = true;
}

@section scripts
{
    @WebUtil.SetAutofocusOnId("Q")
}

<div class="watcher-blocks">

    <div class="watcher-blocks__wrapper">
        <partial name="Partials/_2026_hp_box_left" />
        <partial name="Partials/_2026_hp_box_right" />
    </div>
</div>
