@model string[]


@{

    ViewBag.Title = Context.Request.Query.ContainsKey("title") ? Context.Request.Query["title"].ToString() : "Porovnání organizací"; 
    ViewBag.SubTitle = "";

}
@section scripts
    {
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="~/bundles/highcharts"></script>
    

}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/porovnat">Porovnání a analýzy</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

