@{
    ViewBag.Title = "Analytické a souhrnné reporty";

}
@section scripts
{
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    }
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h3 style="margin-top:0;">Politici</h3>
            <div class="col-block-shadow ">
                <h3><a href="/Report/21">Členové vlády</a></h3>
                <p>Kdo jsou poradci na úřadu vlády? Obchodují jejich firmy se státem? Hrozí jim nějaký konflikt zájmů?</p>
                <p><a class="btn btn-default" href="/Report/21" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow">
                <h3><a href="/Report/19">Poradci na úřadu vlády</a></h3>
                <p>Kdo jsou poradci na úřadu vlády? Obchodují jejich firmy se státem? Hrozí jim nějaký konflikt zájmů?</p>
                <p><a class="btn btn-default" href="/Report/19" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow">
                <h3><a href="/Report/18">Krajští hejtmani</a></h3>
                <p>Sponzorují krajští hejtmani politické strany? Jaké mají obchodní vztahy se státem?</p>
                <p><a class="btn btn-default" href="/Report/18" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow">
                <h3><a href="/Report/16">Aktuální složení PSP ČR</a></h3>
                <p>Sponzorují noví poslanci politické strany? A mají obchodní vztahy se státem?</p>
                <p><a class="btn btn-default" href="/Report/16" role="button">Podrobnosti »</a></p>
            </div>

        </div><!-- /.col-lg-4 -->
        
        <div class="col-sm-12 col-md-4">
            <h3 style="margin-top:0;">Další</h3>
            <div class="col-block-shadow newbadge top-right">
                <h3><a href="/Report/27">Pomáhá stát v koronavirové krizi jak slibuje?</a></h3>
                <p>
                    Jaká je slibovaná a jaká je skutečná pomoc státu v dobách koronavirové epidemie?

                    Dopady pandemie koronaviru a restart ekonomiky by měli politici řešit rychle, jednoduše a účinně. Sliby politiků jsme slyšeli, pojďme se kouknout na skutečnou pomoc.
                </p>
                <p><a class="btn btn-default" href="/Report/27" role="button">Podrobnosti »</a></p>
            </div>
            <div class="col-block-shadow newbadge top-right">
                <h3><a href="/Report/25">Které politické strany mají největší podíl na řízení státu?</a></h3>
                <p>
                    Které strany a hnutí v ČR dominují?
                </p>
                <p><a class="btn btn-default" href="/Report/24" role="button">Podrobnosti »</a></p>
            </div>
            @*<div class="col-block-shadow">
                <h3><a href="/Report/24">2018: Osoby s největšími obchodními vztahy se státem dle registru smluv</a></h3>
                <p>
                    Osoby s největšími obchodními vztahy se státem dle registru smluv v roce 2018
                </p>
                <p><a class="btn btn-default" href="/Report/24" role="button">Podrobnosti »</a></p>
            </div>*@
            @*<div class="col-block-shadow ">
                <h3><a href="/Report/23">2018: Firmy a holdingy s největšími obchodními vztahy se státem</a></h3>
                <p>
                    Firmy a holdingy s největšími obchodními vztahy se státem dle registru smluv v roce 2018
                </p>
                <p><a class="btn btn-default" href="/Report/23" role="button">Podrobnosti »</a></p>
            </div>*@
            
            

        </div>

    </div>

    
    <div class="clearfix"></div>
