@{
    ViewBag.Title = "";

    //Layout = null;
    //int b = 12 / aa;




}
@using System.Linq
@using System.Net.Http
@using HlidacStatu.Entities
@using Microsoft.Extensions.Primitives

@inject IHttpClientFactory HttpClientFactory

@{
    int PocetReportu = 24;

    try
    {
        var query = new StringValues();
        if (string.IsNullOrEmpty(ViewBag.Query)
            && Context.Request.Query.TryGetValue("Q", out query)
        )
        {
            ViewBag.Query = query;
        }
    }
    catch (Exception)
    {
        if (ViewData.ContainsKey("InvokeErrorAction") == false)
        {
            throw;
        }
    }

    string title = ViewBag.Title;
    if (string.IsNullOrEmpty(title))
    {
        title = "Hlídač státu. Hlídame je, protože si to zaslouží.";
    }
    else
    {
        title = title + " - " + "Hlídač státu.";
    }
    string description = "Hlídač státu - veřejná kontrola státních a veřejných institucí. Veřejnoprospěšný projekt. Hlídač smluv a registr smluv. Hlídač Webů.";
    if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        description = ViewBag.Description + " Hlídač státu.";
    }

    bool ShowEmailConfirmation = false;
    if (User.Identity?.IsAuthenticated ?? false)
    {
        if (!string.IsNullOrEmpty(this.User?.Identity?.Name))
        {
            var email = this.User?.Identity?.Name;
            using (DbEntities db = new())
            {
                var user = db.Users.AsQueryable().Where(m => m.Email == email && m.EmailConfirmed == false).FirstOrDefault();
                ShowEmailConfirmation = user != null;
            }
        }

    }

}
<p>
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
</p>