@{
    ViewBag.Title = "";
    
    //int b = 12 / aa;

    
    var tw = new HlidacStatu.Lib.Data.External.Twitter(HlidacStatu.Lib.Data.External.Twitter.TwAccount.HlidacW);

    var twid = tw.NewThreadAsync("prvni tweet", "nasledovany druhym", "a mozna pribyde i treti", " a ctvrty").Result;

    

}
@section Scripts
{
}

<h2>Current time: @(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.ffff"))</h2>

<hr />
<h2>tweet @twid</h2>
<hr />
@*<form id="new-search-input2" class="new-search-input" method="get" action="/hledat">
    <div class="select2-wrapper">
        <div class="input-group input-group-lg">
            <input class="form-control input-lg nopadding" name="q" id="new-search-input2-q" />
            <span class="input-group-btn">
                <button id="new-search-input2-btn" class="btn btn-primary" style="left:-7px;top:-5px"> hledat</button>
            </span>
        </div>
    </div>

</form>*@


<hr />

<hr />
@*<div class="tagify__dropdown__item " tabindex="0" role="option" id="osobaid:andrej-babis" value="Andrej Babiš (Ing. )" searchby="Ing. Andrej Babiš (*1954), poslanec (od 2013)  - Poslanecká sněmovna PČR, premiér (od 2017)  - Vláda České republiky. Ing. Andrej Babiš mezi roky 2012 - 19 sponzoroval stranu ANO 2011 v celkové výši 30 mil. Kč. Nejvyšší sponzorský dar byl ve výši 8 mil. Kč. " html="%3Cimg%20src%3D'https%3A%2F%2Fwww.hlidacstatu.cz%2FPhoto%2Fandrej-babis'%20%2F%3E" type="Politik" description="Ing. Andrej Babiš (*1954), poslanec (od 2013)  - Poslanecká sněmovna PČR, premiér (od 2017)  - Vláda České republiky. Ing. Andrej Babiš mezi roky 2012 - 19 sponzoroval stranu ANO 2011 v celkové výši 30 mil. Kč. Nejvyšší sponzorský dar byl ve výši 8 mil. Kč. " tagifysuggestionidx="0">
    <div class="clearfix">
        <div class="tagify__dropdown__item__avatar"><img src="https://www.hlidacstatu.cz/Photo/andrej-babis"></div>
        <div class="tagify__dropdown__item__info">
            <div class="tagify__dropdown__item__title">Andrej Babiš (Ing. )</div>
            <div class="tagify__dropdown__item__descr">Ing. Andrej Babiš (*1954), poslanec (od 2013) - Poslanecká sněmovna PČR, premiér (od 2017) - Vláda České republiky. Ing. Andrej Babiš mezi roky 2012 - 19 sponzoroval stranu ANO 2011 v celkové výši 30 mil. Kč. Nejvyšší sponzorský dar byl ve výši 8 mil. Kč. </div>
            <div class="tagify__dropdown__item__stat"><i>Politik</i></div>
        </div>
    </div>
</div>*@
@*<img src="~/Content/kindex/iconD.svg" style="height:30px" />
    <br />
    <img src="~/Content/kindex/iconD.svg" style="height:130px" />


    <div class="row">

        <div class="col-xs-3 ">
            <div class="low-box">
                <p>malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <p class="line"><a href="#" class="more">Read More</a></p>
            </div>
        </div>
    </div>

    <partial name="WebUtil/DynamicModal"
             model="@(new DynamicModalViewModel($"/api/v1/modalclassification/234234", "(Má být smlouva označena jako platná?).", loadingText: "Ověřuji platnost smlouvy v registru smluv", style: "padding:0;margin:0"))" />



    <div class="clearfix"></div>
    <hr />

    <script src='/widget/porj5?width=500' type='text/javascript'></script>
    <div id='porj5' style='width:500px' widget-page='/Subjekt/00281859'></div>

    <div class="clearfix"></div>
    <hr />

    <script src='/widget/asdf?width=500' type='text/javascript'></script>
    <div id='asdf' style='width:500px' widget-page='/kindex/detail/00006947'></div>*@
