@using HlidacStatu.Lib

@using HlidacStatu.Web.Framework

@{
    ViewBag.Title = "";
    int aa = 1 + 2 - 3;
    //int b = 12 / aa;
}
@section Scripts
{
    <script src="https://unpkg.com/@@yaireo/tagify"></script>
    <script src="https://unpkg.com/@@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://unpkg.com/@@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

}

<h2>Current time: @(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.ffff"))</h2>

<hr />

<form id="new-search-input2" class="new-search-input" method="get">
    <div class="select2-wrapper">
        <div class="input-group input-group-lg">
            <input class="form-control input-lg nopadding" name="qq" id="new-search-input2-q" />
            <span class="input-group-btn">
                <button class="btn btn-primary" style="left:-7px;top:-5px" onsubmit="javascript:onTagifyFixQuery(this)" onclick="javascript:onTagifyFixQuery(this)"> hledat</button>
            </span>
        </div>
    </div>
</form>

<script src="/scripts/autocomplete.js"></script>
<script>
    MakeAutocomplete('#new-search-input2');
</script>

<hr />

<style>
    .tagify.nopadding {
        padding: 0 !important;
    }

    .tagify__dropdown__item__title {
        color: black;
        font-weight: 700;
        word-wrap: break-word;
        line-height: 1.1;
        margin-bottom: 4px;
    }

    .tagify__dropdown__item__descr {
        font-size: 13px;
        color: #777;
        margin-top: 4px;
        /* max-height: 35px; */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .tagify__dropdown__item__stat {
        display: inline-block;
        color: #aaa;
        font-size: 11px;
    }

    .tagify__dropdown__item__info {
        margin-left: 70px;
    }

    .tagify__dropdown__item__avatar {
        float: left;
        width: 45px;
        margin-right: 10px;
        font-size: 45px;
        color: #CCCCCC;
        position: relative;
    }
</style>

@*<img src="~/Content/kindex/iconD.svg" style="height:30px" />
    <br />
    <img src="~/Content/kindex/iconD.svg" style="height:130px" />


    <div class="row">

        <div class="col-xs-3 ">
            <div class="low-box">
                <p>malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <p class="line"><a href="#" class="more">Read More</a></p>
            </div>
        </div>
    </div>

    <partial name="WebUtil/DynamicModal"
             model="@(new DynamicModalViewModel($"/api/v1/modalclassification/234234", "(Má být smlouva označena jako platná?).", loadingText: "Ověřuji platnost smlouvy v registru smluv", style: "padding:0;margin:0"))" />



    <div class="clearfix"></div>
    <hr />

    <script src='/widget/porj5?width=500' type='text/javascript'></script>
    <div id='porj5' style='width:500px' widget-page='/Subjekt/00281859'></div>

    <div class="clearfix"></div>
    <hr />

    <script src='/widget/asdf?width=500' type='text/javascript'></script>
    <div id='asdf' style='width:500px' widget-page='/kindex/detail/00006947'></div>*@
