
<div id="dar-footer-msg-bookmark" class="ad-footer-msg">
    <div id="ad1">
        <div class="fund-list grey" style="display: block;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-xs-12">
                        <p class="small">
                            Pokud vás zaujme nějaký dokument, profil firmy, výsledek hledání či prakticky jakýkoliv údaj na Hlídači,
                            <b>nemusíte si ho pamatovat</b>. Stačí si ho uložit do záložek a my si to zapamatujeme za vás.
                        </p>
                        <p class="small">
                            Uložení záložky je snadné, stačí kliknout na ikonu  <a style="font-size:120%" href="#" class="bookmark bookmarkOff" onclick="javascript:return false;"></a>.
                            Pokud už je konkrétní záložka vytvořená, pak je vybarvena červeně <a style="font-size:120%" href="#" class="bookmark bookmarkOn" onclick="javascript:return false;"></a>.
                        </p>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <a style="margin-top:15px;" class="fund-daruj-btn float-end text-end" onclick="_my_event('send', 'event', 'darujAdFooter', 'daruj-btn', '1'); return false;" id="fund-daruj-btn" target="_blank" href="#">Chápu, díky!</a>
                    </div>
                    <div class="fund-zavri">
                        <a id="fund-info-btn" onclick="_my_event('send', 'event', 'darujAdFooter', 'viceinfo', '1');" target="_blank" href="https://www.hlidacstatu.cz/texty/zalozky-si-za-vas-zapamatuji-vse-co-potrebujete/">Více informací</a>
                        <a id="fund-zavri-btn" onclick="_my_event('send', 'event', 'darujAdFooter', 'zavri', '1');" style="margin-left:30px;color:#ff5900" href="#"><span class="fas fa-times"></span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <noscript>
        <style>
            #dar-footer-msg {
                display: none;
            }
        </style>
    </noscript>
</div>

