@page
@using Microsoft.Extensions.Primitives
@model LoginModel

@{
    ViewData["Title"] = "Přihlášení";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-sm-12">
        <section>
            <form id="account" method="post" class="form-horizontal">
                @if (!StringValues.IsNullOrEmpty(Request.Query["ReturnUrl"]))
                {
                    <div class="alert alert-warning">
                        Pro přístup na požadovanou stránku musíte být přihlášeni pod svým uživatelským účtem.
                    </div>
                }
                <h4>Přihlášení do Hlídače státu.</h4>
                <p>Pokud účet ještě nemáte, <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">tady se snadno a zdarma zaregistrujete</a>.</p>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="col-md-2 control-label">E-mail</label>
                    <div class="col-sm-8">
                        <input asp-for="Input.Email" class="form-control"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="col-md-2 control-label">Heslo</label>
                    <div class="col-sm-8">
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe"/>
                                Zapamatuj si mě
                            </label>
                            <div class="text-warning small">
                                Nezaškrtávejte, pokud sdílíte počítač s více lidmi nebo jste u veřejného počítače.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-primary">Přihlásit se do Hlídače státu</button>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Zapomenuté heslo?</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Odeslat potvrzení e-mailem</a>
                        </p>
                        <honeypot></honeypot>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
