@page
@model LogoutModel
@{
    ViewData["Title"] = "Odhlásit";
}

<header>

    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-retUrl_2="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Klikněte pro odhlášení</button>
            </form>
        }
        else
        {
            <p>Úspěšně jste se odhlásili.</p>
        }
    }
</header>