@page "/politik/{NameId}"
@using HlidacStatu.Repositories
@rendermode InteractiveServer

<PageTitle>@NameId</PageTitle>
@if (OsobaInternalId is not null)
{
    // person edit
    <EditPerson OsobaId="OsobaInternalId.Value"/>
    // Social networks
    <EditSocial OsobaId="OsobaInternalId.Value"/>
    // political party
    <EditParty OsobaId="OsobaInternalId.Value"/>
    
    // todo: přidávání platů
    <a href="">Editovat platy</a>
}



@code {
    
    [Parameter]
    public string NameId { get; set; }

    private int? OsobaInternalId { get; set; } = null;
    
    protected override void OnParametersSet()
    {
        if(string.IsNullOrWhiteSpace(NameId))
            return;
        var osoba = OsobaRepo.GetByNameId(NameId);
        if (osoba is not null)
            OsobaInternalId = osoba.InternalId;
        
        base.OnParametersSet();
    }

}