<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="https://www.hlidacstatu.cz/Content/GlobalSite.v1.15.css" />
    <link rel="stylesheet" href="https://www.hlidacstatu.cz/Content/social-share-kit.css" />
    <link rel="stylesheet" href="https://www.hlidacstatu.cz/Content/new.v1.20.css" />
    <link rel="stylesheet" href="https://www.hlidacstatu.cz/Scripts/jquery-1.11.3.min.js" />
    <link rel="stylesheet" href="https://www.hlidacstatu.cz/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://www.hlidacstatu.cz/css/bootstrap-hs-modif.css" />

    <link rel="stylesheet" href="PoliticiEditor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <script src="https://kit.fontawesome.com/a0fc082c81.js" crossorigin="anonymous"></script>

    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>