<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/> *@
    @* <link rel="stylesheet" href="app.css"/> *@
    <link rel="stylesheet" href="https://www.hlidacstatu.cz/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://www.hlidacstatu.cz/css/bootstrap-hs-modif.css" />
    <link rel="stylesheet" href="https://www.hlidacstatu.cz/Content/GlobalSite.v1.15.css" />
    <link rel="stylesheet" href="https://www.hlidacstatu.cz/Content/social-share-kit.css" />
    <link rel="stylesheet" href="https://www.hlidacstatu.cz/Content/new.v1.20.css" />
    
    <link rel="shortcut icon" href="/content/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/content/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/content/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/content/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/content/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/content/icons/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/content/icons/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/content/icons/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/content/icons/widetile.png" />
    <meta name="msapplication-square310x310logo" content="/content/icons/largetile.png" />
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,600,700&amp;subset=latin-ext" rel="stylesheet" />

    <link rel="stylesheet" href="PoliticiEditor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <script src="https://kit.fontawesome.com/a0fc082c81.js" crossorigin="anonymous"></script>

    <HeadOutlet/>
</head>

<body class="new-body">
    
<Routes/>

<script src="_framework/blazor.web.js"></script>
<script src="bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>