@model object
@using Nest;
@using System.Linq;
@using HlidacStatu.Datasets
@using HlidacStatu.Repositories

@{
    Layout = null;

    DataSet ds =
        DataSet.CachedDatasets.Get((string)Model);

    var vyzvy = await ds.ESClient.SearchAsync<object>(s => s
    .MatchAll()
    .Size(0)
    .Aggregations(a => a
        .MultiTerms("vyzvy", m => m
            .Size(10000)
            .ShardSize(5000)
            .Terms(new Term() { Field = "nazev_programu_vyzvy.keyword" }, new Term() { Field = "kod_vyzvy.keyword" })
            //t=>t.Field("kod_vyzvy.keyword","nazev_programu_vyzvy.keyword"),t=>t.Field("kod_vyzvy.keyword","kod_vyzvy.keyword"))
            )

        )
    );
    var vyzvyVds = await ds.ESClient.SearchAsync<object>(s => s
        .MatchAll()
        .Size(0)
        .Aggregations(a => a
            .Terms("vyzvy", m => m
                .Size(10000)
                .ShardSize(5000)
                .Field("kod_vyzvy.keyword")
                .Aggregations(aa => aa
                    .Stats("stat", ss => ss.
                         Field("dotace")
                    )
                )
            )

        )
    );


    Dictionary<string, string> vyzvyNames = ((BucketAggregate)vyzvy.Aggregations["vyzvy"]).Items
                    .Select(m => new
                    {
                        key = ((List<object>)((Nest.KeyedBucket<object>)m)?.Key)[1],
                        name = ((List<object>)((Nest.KeyedBucket<object>)m).Key)[0]
                    })
                    .ToDictionary(k => k?.key?.ToString() ?? "", v => v?.name?.ToString() ?? "");


    Dictionary<string, Nest.StatsAggregate> vyzvyStats = ((BucketAggregate)vyzvyVds.Aggregations["vyzvy"]).Items
                    .Select(m => new
                    {
                        key = ((Nest.KeyedBucket<object>)m)?.Key?.ToString() ?? "",
                        num = (Nest.StatsAggregate)(((Nest.KeyedBucket<object>)m).Values.First())
                    })
                    .ToDictionary(k => k.key, v => v.num);

}
<p>
    COVID výzvy vypsané MPO detailně
</p>
<hr />
<div class="row">
    <div class="col-xs-12">

        <table class="table table-hover table-sm table-striped mt-4">
            <thead>
                <tr>
                    <th>Výzva</th>
                    <th>Vyplaceno celkem</th>
                    <th>Největší příjemci</th>
                </tr>
            </thead>



            @foreach (var vyzvaId in vyzvyNames.Keys
                .OrderBy(m => vyzvyNames[m])
            )
            {
                Dictionary<string, Nest.StatsAggregate> statPerIco = null;
                var icoQ = await ds.ESClient.SearchAsync<object>(s => s
                    .Size(0)
                    .Query(q => q.Term(t => t.Field("kod_vyzvy.keyword").Value(vyzvaId)))
                    .Aggregations(a => a
                    .Terms("name", m => m
                        .Size(10000)
                        .ShardSize(10000)
                        .Field("ico.keyword")
                        .Aggregations(aa => aa
                            .Stats("stat", ss => ss.Field("dotace"))
                            )
                        )
                    )
                );

                statPerIco = ((BucketAggregate)icoQ.Aggregations["name"]).Items
                .Select(m => new
                {
                    key = ((Nest.KeyedBucket<object>)m)?.Key?.ToString() ?? "",
                    num = (Nest.StatsAggregate)(((Nest.KeyedBucket<object>)m).Values.First())
                })
                .Where(m => m.key != "")
                .ToDictionary(k => k.key, v => v.num);

                    <tr id="vyzva_@vyzvaId">
                        <td>@vyzvyNames[vyzvaId]</td>
                        <td>
                            <a href="/data/Hledat/covid-podpory-mpo?Q=kod_vyzvy.keyword%3A@(vyzvaId)">
                                @(HlidacStatu.Util.RenderData.NicePriceHtml((decimal)vyzvyStats[vyzvaId].Sum,shortFormat:true, showDecimal: HlidacStatu.Util.RenderData.ShowDecimalVal.AsNeeded))
                            </a>    
                            </td>
                        <td>
                            <ul>
                                    @foreach (var kvv in statPerIco.OrderByDescending(o => o.Value.Sum).ThenBy(m=> HlidacStatu.Util.Consts.Rnd.Next()).Take(10))
                                    {
                                    <li>
                                        <a href="/data/Hledat/covid-podpory-mpo?Q=ico.keyword%3A@(kvv.Key)">
                                                @(Firmy.GetJmeno(kvv.Key))
                                        </a> <b>@(HlidacStatu.Util.RenderData.NicePriceHtml((decimal)kvv.Value.Sum,shortFormat:true, showDecimal: HlidacStatu.Util.RenderData.ShowDecimalVal.AsNeeded))</b>

                                    </li>
                                    }
                                <li style="list-style:none"><i class="fas fa-angle-double-right"></i> <a href="/data/Hledat/covid-podpory-mpo?Q=kod_vyzvy.keyword%3A@(vyzvaId)&order=dotace%20desc">Další příjemci podpor</a></li>                                
                            </ul>
                            
                        </td>
                </tr>
            }
        </table>
    </div>
</div>
