@model object

@{
    Layout = null;



}
<div class="card text-bg-light" style="margin-top:40px;">
    <div class="card-header">
        <h3 class="card-title">Jak přidat moji obec?</h3>
    </div>
    <div class="card-body">
        <p>
            Uložte video nebo audiozáznamy do jednoho jediného veřejného seznamu nebo playlistu na YouTube. 
            My poté nastavíme automatickou kontrolu tohoto playlistu odkazu. 
            Jakmile do takového seznamu nebo playlistu přibude další záznam, automaticky se nám zařadí do fronty ke zpracování na text. 
        </p>
        <p>
            Jednotlivé záznamy by měly být také dobře označeny, abychom je dokázali co možná nejlépe odlišit a uživatelé je mohli snáze vyhledávat. Doporučené varianty názvů by měly obsahovat celé datum a označení. To by mělo obsahovat následující klíčová slova: "zastupitelstvo", "jednani", "zasedani" (například "Jednání zastupitelstva ze dne 29. července 2022" apod.). 
        </p>
        <p>
            Pak už jen stačí nám vědět na e-mail <a href="mailto:podpora@hlidacstatu.cz">podpora@hlidacstatu.cz</a> jméno obce, její ICO a adresu playlistu.
        </p>
    </div>
</div>