@using System.Text.Json

@section scripts
{
    @*
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
 *@
}

<style>
    .selectize-dropdown-content {
        max-height: none !important; /* Disable max-height */
        overflow: visible !important; /* Ensure overflow is visible */
    }

    .hlidac-autocomplete {
        /*border: 2px solid yellow;   */
        position: relative;
        padding: 0;
        margin: 0;
    }

    .hs-avatar {
        width: 50px;
        height: auto;
        color: #ccc;
        font-size: 45px;
    }

        .hs-avatar.small {
            font-size: 25px;
        }

        .hs-avatar img {
            width: 50px;
        }

    .hs-autocomplete-description {
        margin-left: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .hs-autocomplete-description.small {
            margin-top: 10px;
        }

    .selectize-control .selectize-input {
        height: 100% !important;
    }
    
    /*.selectize-control {*/
    /*    width: 100% !important;*/
    /*}*/

        .selectize-control.multi .selectize-input > div {
            background-color: var(--bs-primary-bg-subtle) !important;
        }

</style>

<div>
    <div class="hlidac-autocomplete row g-2 flex-wrap">
        <div class="col-12 col-sm-9">
            <select id="autocomplete"
                    class="form-select w-100 h-100"
                    autocomplete="off"
                    placeholder='Napište vyhledávaný výraz nebo stiskněte tlačítko "Hledat"'>
            </select>
        </div>
        <div class="col-12 col-sm-3">
            <button id="getValuesBtn"
                    class="btn btn-hs btn-primary">
                Hledat
                <span id="searchSpiner"
                      style="display: none"
                      class="spinner-border spinner-border-sm text-light align-middle mb-1 ms-1"
                      role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
            </button>
        </div>
    </div>
</div>

@{
    var query = Context.Request.Query;
    var inputTags = AutocompleteHelper.CreateInputTagsForJs(query);
    var inputTagsJson = JsonSerializer.Serialize(inputTags).Replace(@"\", @"\\"); //JSON.parse need escaped `\`
}

<script>

$(document).ready(function () {
    const inputTagsJson = '@Html.Raw(inputTagsJson)';
    const autocomplete1 = new AutocompleteManager('#autocomplete','/hledat',inputTagsJson, '#getValuesBtn');

    // You can now initialize multiple instances with different selectors if needed
    // const autocomplete2 = new AutocompleteManager('#anotherAutocomplete');
});
</script>

