<div style="margin-top:80px;" class="footer">
    <div class="footer__content">
        <div class="footer__content__col">
            <a href="https://texty.hlidacstatu.cz/o-serveru">O nás</a>
            <a href="https://texty.hlidacstatu.cz/vsem-nasim-darcum-ze-srdce-dekujeme-za-podporu/">Podporují nás <i class="fas fa-heart" style="font-size:20px;color:red"></i></a>
            <a href="https://texty.hlidacstatu.cz/hlidame-stat/">Proč hlídáme</a>
            <a href="https://texty.hlidacstatu.cz/kodex">Náš kodex</a>
            <a href="https://texty.hlidacstatu.cz/kontakt">Kontakt</a>
        </div>
        <div class="footer__content__gap"></div>
        <div class="footer__content__col">
            <a href="https://texty.hlidacstatu.cz/team">Team</a>
            <a href="https://texty.hlidacstatu.cz/pomohu-spravnemu-fungovani-cr/" style="color:#3c763d;font-weight:bold">Podpořte nás!<i class="fas fa-heart" style="color:red"></i></a>
            <a href="/api">API a Open data pro vývojáře</a>
            <a href="https://texty.hlidacstatu.cz/provoznipodminky/">Podmínky užívání a ochrana soukromí</a>
            <a href="https://texty.hlidacstatu.cz/pro-media">Pro média, loga</a>
        </div>
        <div class="footer__content__gap"></div>
        <div class="footer__content__col">
            <div style="padding: 7px 5px"><a href="https://texty.hlidacstatu.cz/kontakt/" target="_blank" style="color:orange"><span style="color:orange" class="fas fa-exclamation-triangle"></span>&nbsp;Nahlásit chybu</a>/ <a href="/status">Běží nám servery?&nbsp;<img src="https://status.hlidacstatu.cz/semaphore" style="border:0;height:14px;width:auto"></img></a>
            </div>
            <div style="padding: 7px 5px"><a href="https://texty.hlidacstatu.cz/k-index/">K-index: Hlídáme stát s odvahou!</a>/<a href="https://texty.hlidacstatu.cz/k-index-watchdog-bravely-monitors-public-corruption/">EN</a></div>
            <div style="padding: 7px 5px">
                <span>Sledujte nás</span>
                <a href="https://www.facebook.com/hlidacstatu">
                    <i class="fa-brands fa-square-facebook fa-2x"></i>
                </a>
                <a href="https://x.com/hlidacstatu">
                    <i class="fa-brands fa-square-x-twitter fa-2x"></i>
                </a>
                <a href="https://www.instagram.com/hlidacstatu/">
                    <i class="fa-brands fa-square-instagram fa-2x"></i>
                </a>
                <a href="https://linkedin.com/company/hlidacstatu/">
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                </a>
                <a href="https://threads.com/@@HlidacStatu">
                    <i class="fa-brands fa-square-threads fa-2x"></i>
                </a>
                <a href="https://bsky.app/profile/hlidacstatu.bsky.social">
                    <i class="fa-brands fa-square-bluesky fa-2x"></i>
                </a>
            </div>
            <div style="padding-top:7px;font-size:9px;color:#050505">CORE5 @(System.Reflection.Assembly.GetEntryAssembly().GetName().Version) @(System.IO.File.GetLastWriteTime(System.Reflection.Assembly.GetEntryAssembly().Location).ToString("yyyy-MM-dd HH:mm"))</div>
        </div>
    </div>

</div>