@model TabsViewModel

@{
    string tabId = Guid.NewGuid().ToString("N");
    if (Model.GaPageEventId is null)
    {
        Model.GaPageEventId = Context.Request.Path;
    }

    bool first = true;
    var arrTabnames = Model.Tabnames?.ToArray();
}

<nav>
    <div class="nav nav-tabs" id="tbl@(tabId)" role="tablist">
        @for (int i = 0; i < arrTabnames?.Length; i++)
        {
            string? s = arrTabnames[i];
            if (s != null)
            {
                <button class="nav-link @(first ? "active" : "")" id="tab@(tabId + "_" +i.ToString())" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">@Html.Raw(s)</button>
            }
        }
    </div>
</nav>

<div class="tab-content" id="tabc@(tabId)">
    @for (int i = 0; i < arrTabnames?.Length; i++)
    {
        string? s = arrTabnames[i];
        if (s != null)
        {

            <div class="tab-pane fade @(first ? "show active" : "")" id="tab@(tabId + "_" +i.ToString())" role="tabpanel" aria-labelledby="tab@(tabId + "_" +i.ToString())" tabindex="0">
            @Html.Raw(s)
            </div>
        }
    }
</div>

