@model TabsViewModel

@{
    string tabId = Guid.NewGuid().ToString("N");
    if (Model.GaPageEventId is null)
    {
        Model.GaPageEventId = Context.Request.Path;
    }

    var arrTabnames = Model.Tabnames?.ToArray();
    var arrContent = Model.Contents?.ToArray();
}

<div >
    <ul class="nav nav-tabs" role="tablist">
        @for (int i = 0; i < arrTabnames?.Length; i++)
        {
            string? s = arrTabnames[i];
            if (s != null)
            {
                <li role="presentation" class="nav-item @(i==0 ? "active" : "")">
                    <a href="#tab@(tabId + "_" +i.ToString())" class="nav-link" aria-controls="tab@(tabId + "_" +i.ToString())" role="tab" data-bs-toggle="tab" aria-selected="false">@Html.Raw(s)</a>
                </li>
            }
        }
    </ul>


    <div class="tab-content">
        @for (int i = 0; i < arrTabnames?.Length; i++)
        {
            string? s = arrContent[i];
            if (s != null)
            {
                <div class="tab-pane @(i==0 ? "active" : "")" id="tab@(tabId + "_" +i.ToString())" role="tabpanel">
                    @Html.Raw(s)
                </div>
            }
        }
    </div>
</div>
