@inherits LayoutComponentBase

<div>
    <TopBar/>
</div>
<ToastArea/>
<div>
    @Body
</div>
<Footer/>

<div id="blazor-error-ui">
    Došlo k neočekávané chybě
    <a href="" class="reload">Znovu načíst</a>
    <a class="dismiss">🗙</a>
</div>