@inherits LayoutComponentBase

<div class="page">
    <main>
            <TopBar/>
            <ToastArea/>

            <article class="content px-4">
                @Body
            </article>
    </main>
</div>

<div id="blazor-error-ui">
    Došlo k neočekávané chybě
    <a href="" class="reload">Znovu načíst</a>
    <a class="dismiss">🗙</a>
</div>