@inherits LayoutComponentBase

<div>
    <TopBar/>
    <div class="header__content header__content--compact  d-print-none" style="padding-top: 32px">
        @* Empty blue strip *@
    </div>
</div>
<ToastArea/>
<div class="container" style="margin-top:3em;">
    @Body
</div>
<Footer/>

<div id="blazor-error-ui">
    Došlo k neočekávané chybě
    <a href="" class="reload">Znovu načíst</a>
    <a class="dismiss">🗙</a>
</div>