@using PoliticiEditor.Components.Account
@inject UserHelper UserHelper


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        @if (IsAuthenticated)
        {
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/EditPhoto">Foto</a>
                <a class="nav-link" href="/EditPerson">Osobní údaje</a>
                <a class="nav-link" href="/EditParty">Politická strana</a>
                <a class="nav-link" href="/EditSocial">Sociální sítě</a>
                <a class="nav-link" href="/EditContacts">Kontakt</a>
                <a class="nav-link" href="/EditSalaries">Platy</a>
            </div>
            <span class="navbar-text">
                Přihlášen jako: @LoggedInNameId
            </span>
            <Logout/>
        }
        else
        {
            <span class="navbar-text">
                Je potřeba se nejprve přihlásit
            </span>
        }
        </div>
    </div>
</nav>

@code {
    private bool IsAuthenticated = false;
    private string? LoggedInNameId = null;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserHelper.GetCurrentUserAsync();
        IsAuthenticated = user.Identity?.IsAuthenticated ?? false;
        if (IsAuthenticated)
        {
            LoggedInNameId = user.GetNameId();
        }
    }
}