@using PoliticiEditor.Components.Account
@inject UserHelper UserHelper

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<nav class="navbar navbar-expand-lg navbar-light shadow hlidac" data-enhance-nav="false">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="margin-right:1em;">
            <div class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46px"
                     height="46px" viewBox="0 0 46 46" version="1.1">
                    <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="06-DOBRA" transform="translate(-31.000000, -18.000000)">
                            <g id="Group" transform="translate(31.000000, 18.000000)">
                                <path
                                    d="M34.7926176,43 L34.7926176,25.8136542 C34.7926176,19.2536826 29.4005716,14.55625 22.8156981,14.55625 L22.7226406,14.55625 C16.137767,14.55625 10.4707785,19.2536826 10.4707785,25.8136542 L10.4707785,43 L34.7926176,43 Z"
                                    id="Fill-1" fill="#25272D"/>
                                <path
                                    d="M30.6778527,27.9431372 C29.1549094,27.5784772 26.5447427,27.4633214 24.731801,27.9431372 C22.9188592,28.422953 22.6712952,30.9140119 24.731801,30.9140119 C26.7923068,30.9140119 32.200796,28.3077972 30.6778527,27.9431372 Z"
                                    id="Oval" fill="#266cae"/>
                                <path
                                    d="M21.7334082,27.9431372 C20.2104649,27.5784772 17.6002983,27.4633214 15.7873565,27.9431372 C13.9744148,28.422953 13.7268507,30.9140119 15.7873565,30.9140119 C17.8478623,30.9140119 23.2563515,28.3077972 21.7334082,27.9431372 Z"
                                    id="Oval" fill="#266cae"
                                    transform="translate(18.166667, 29.269506) scale(-1, 1) translate(-18.166667, -29.269506) "/>
                                <path
                                    d="M23.1340731,0.78903332 C22.7184471,0.423872614 22.0477586,0.424188294 21.6368425,0.78903332 L0.744673078,19.3388181 C0.333401493,19.7039788 0.245239258,20.3678589 0.557111502,20.8356673 L1.4428885,22.1643327 C1.75057268,22.625859 2.33675444,22.7031399 2.74956077,22.3392375 L22.3815156,5.03302363 L42.2405567,22.3392375 C42.6593161,22.7041666 43.2441756,22.6321411 43.5562369,22.1643327 L44.4425508,20.8356673 C44.7504215,20.374141 44.6627092,19.7036631 44.2474425,19.3388181 L23.1340731,0.78903332 Z"
                                    id="Combined-Shape" fill="#25272D"/>
                            </g>
                        </g>
                    </g>
                </svg>
                <div style="float: right;line-height: 1.2em;">
                    <div>Hlídač</div>
                    <div>
                        <strong>státu</strong>
                    </div>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @* <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" *@
        @*         data-bs-target="#navbar-content"> *@
        @*     <div class="hamburger-toggle"> *@
        @*         <div class="hamburger"> *@
        @*         </div> *@
        @*     </div> *@
        @* </button> *@
        <div class="collapse navbar-collapse" id="navbarNav">
            @if (IsAuthenticated)
            {
                <ul class="navbar-nav me-auto mr-auto mb-2 mb-lg-0 ms-4">
                    <li class="nav-item mainmenu">
                        <NavLink Match="NavLinkMatch.All" class="nav-link mainmenu" href="/">Úvod</NavLink>
                    </li>
                    <li class="nav-item mainmenu">
                        <NavLink class="nav-link mainmenu" href="/EditPhoto">Foto</NavLink>
                    </li>
                    <li class="nav-item mainmenu">
                        <NavLink class="nav-link mainmenu" href="/EditPerson">Osobní údaje</NavLink>
                    </li>
                    <li class="nav-item mainmenu">
                        <NavLink class="nav-link mainmenu" href="/EditParty">Politická strana</NavLink>
                    </li>
                    <li class="nav-item mainmenu">
                        <NavLink class="nav-link mainmenu" href="/EditSocial">Sociální sítě</NavLink>
                    </li>
                    <li class="nav-item mainmenu">
                        <NavLink class="nav-link mainmenu" href="/EditSalaries">Platy</NavLink>
                    </li>
                    <li class="nav-item mainmenu">
                        <NavLink class="nav-link mainmenu" href="/EditContacts">Kontakt</NavLink>
                    </li>
                </ul>
                <div class="d-flex">
                <span class="navbar-text me-3">
                    Přihlášen jako: @LoggedInNameId
                </span>
                    <LogoutButton/>
                </div>
            }
            else
            {
                <span class="navbar-text">
                Pro editaci je potřeba se nejprve přihlásit.
            </span>
            }
        </div>
        <div class="d-none d-lg-flex rightmenu">
        </div>
    </div>
</nav>

@code {
    private bool IsAuthenticated = false;
    private string? LoggedInNameId = null;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserHelper.GetCurrentUserAsync();
        IsAuthenticated = user.Identity?.IsAuthenticated ?? false;
        if (IsAuthenticated)
        {
            LoggedInNameId = user.GetNameId();
        }
    }

}