@using PoliticiEditor.Components.Account
@inject UserHelper UserHelper


<nav class="navbar navbar-expand-lg navbar-light bg-light" data-enhance-nav="false">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">B-R-A-N-D</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        @if (IsAuthenticated)
        {
            <div class="navbar-nav me-auto">
                <NavLink class="nav-link text-primary" href="/EditPhoto">Foto</NavLink>
                <NavLink class="nav-link text-primary" href="/EditPerson">Osobní údaje</NavLink>
                <NavLink class="nav-link text-primary" href="/EditParty">Politická strana</NavLink>
                <NavLink class="nav-link text-primary" href="/EditSocial">Sociální sítě</NavLink>
                <NavLink class="nav-link text-primary" href="/EditContacts">Kontakt</NavLink>
                <NavLink class="nav-link text-primary" href="/EditSalaries">Platy</NavLink>
            </div>
            <div class="d-flex">
                <span class="navbar-text me-3">
                    Přihlášen jako: @LoggedInNameId
                </span>
                <LogoutButton/>
            </div>
        }
        else
        {
            <span class="navbar-text">
                Pro editaci je potřeba se nejprve přihlásit.
            </span>
        }
        </div>
    </div>
</nav>

@code {
    private bool IsAuthenticated = false;
    private string? LoggedInNameId = null;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserHelper.GetCurrentUserAsync();
        IsAuthenticated = user.Identity?.IsAuthenticated ?? false;
        if (IsAuthenticated)
        {
            LoggedInNameId = user.GetNameId();
        }
    }
}