
section.pageblock {
    min-height: 30vh;
    padding-top: 4rem;
    padding-bottom: 1rem;
}
section.pageblock-small {
    min-height: 30vh;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.alter-bg-color {
    background: #f2f5f7;
}

/*somehow this doesnt work in bootstrap but it should?!*/
.table-borderless td,
.table-borderless th {
    border: 0 !important;
    background-color: transparent;
}

.hashtag {
    text-decoration: underline;
    text-decoration-style: dotted;

}


/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}
*/


button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


.footer {
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



a.link-cta {
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: underline 2px;
    text-transform: uppercase;
    text-underline-offset: .375rem
}

   a.link-cta:hover {
        color: #0163ee
    }
