@rendermode InteractiveAuto

<hr/>
<h1>Counter</h1>

<p role="status">číslo: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<hr/>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
