<div class="block-in">

    <h1>Aktuality</h1>

    <article>

        <a href="/aktuality/platy-za-rok-2022-jsou-zde-2023-06-21">
            <h3>Platy za rok 2022 jsou zde!</h3>
            <span>21.6.2023</span> -
            <table border="0" cellpadding="0" cellspacing="0" role="presentation">
                <tbody>
                <tr>
                    <td id="bodyText-10">
                        <p>Výše platů a odměn za rok 2022 letos poskytlo 242 institucí z dotázaných 323, čímž se zase vylepšilo skóre: nejen podle reagujících subjektů, ale i podle počtu poskytnutých pozic je vidět velký posun v chování úřadů. Nejde zdaleka jen o velké a významné úřady, ale i o příspěvkové organizace, státní podniky a jiné organizační složky státu.&nbsp;<a data-link-id="1160486982" href="https://www.platyuredniku.cz/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign=platy_a_odmeny_uredniku_za_rok_2022&amp;utm_term=2023-06-21" target="_blank">Web Platy úředníků</a>&nbsp;nyní obsahuje data k více než 6700 pozicím.</p>
                    </td>
                </tr>
                </tbody>
            </table>

        </a>
    </article>


    <article>

        <a href="/aktuality/napsali-o-nas-2023-06-21">
            <h3>Napsali o nás</h3>
            <span>21.6.2023</span> -
        </a>
        <p><a href="/aktuality/napsali-o-nas-2023-06-21">Data z našeho webu použila ve své reportáži dne 19. června </a><a href="https://tn.nova.cz/zpravodajstvi/clanek/509855-prehled-horentni-odmeny-krizi-navzdory-kolik-berou-sefove-statnich-podniku">TV Nova</a>.</p>

        <p>Naše data o platech zpracovaly do velkého článku 21. června <a href="https://www.seznamzpravy.cz/clanek/domaci-politika-prehledne-nejvic-loni-brali-sefove-ceske-posty-a-spravy-zeleznic-232887">Seznam zprávy</a>.</p>

        <p>&nbsp;</p>


    </article>


    <article>

        <a href="/aktuality/dalsi-rok-dalsi-zadosti-2023-02-23">
            <h3>Další rok, další žádosti!</h3>
            <span>23.2.2023</span> -
            <p>Informace o platech a odměnách za uplynulý rok 2022 už by měly mít všechny úřady, instituce a organizace&nbsp;hezky pohromadě a tak je teď řada na nás, abychom si o ně opět zažádali. A letos máme o argument navíc!</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

        </a>
    </article>


    <article>

        <a href="/aktuality/vladni-navrh-na-upravu-quotstosestkyquot-2022-06-24">
            <h3>Vládní návrh na úpravu "stošestky"</h3>
            <span>24.6.2022</span> -
            <p>Dočkáme se důležité změny zákona o svobodném přístupu k informacím?</p>

        </a>
    </article>


    <article>

        <a href="/aktuality/platy-a-odmeny-za-rok-2021-jsou-na-webu-2022-05-31">
            <h3>Platy a odměny za rok 2021 jsou na webu!</h3>
            <span>31.5.2022</span> -
            <p>Více než 1800 jednotlivých pozic nejvyšších úředníků či vrcholných manažerů státních podniků má k dnešnímu dni zaevidovány platy a odměny za rok 2021...</p>

        </a>
    </article>


    <article>

        <a href="/aktuality/dokoncujeme-evidenci-platu-a-odmen-za-rok-2021-2022-05-10">
            <h3>Dokončujeme evidenci platů a odměn za rok 2021!</h3>
            <span>10.5.2022</span> -
            <p>Veškeré platy a odměny, keré jsme k dnešnímu datu&nbsp;od dotazovaných institucí získali, už jsou zveřejněné.&nbsp;Aktulně čekáme už pouze na poslední přislíbená data.&nbsp;</p>

            <p>Všem zástupcům úřadů&nbsp;a institucí, kteří vyhověli naší žádosti a zaslali nám požadované informace, mnohokrát děkujeme!</p>

        </a>
    </article>


    <article>

        <a href="/aktuality/zmena-zakona-o-platech-2022-04-27">
            <h3>Změna zákona o platech</h3>
            <span>27.4.2022</span> -
            <p>Od ledna 2021 s vstoupil vplatnost nový zákon č. 587/2020 Sb., kterým se mění zákon&nbsp;č. 236/1995 Sb.&nbsp;o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu.</p>

        </a>
    </article>


    <article>

        <a href="/aktuality/quotstosestkyquot-jsou-opet-rozeslany-2022-02-16">
            <h3>"Stošestky" jsou opět rozeslány!</h3>
            <span>16.2.2022</span> -
            <p>Začátkem letošního února jsme opět rozeslali žádosti dle zákona č. 106/1999 Sb. o svobodném přístupu k informacích, abychom mohli doplnit platy a odměny&nbsp;vedoucích představitelů státu,&nbsp;úřadů, státních podniků či organizačních složek státu za loňský rok.&nbsp;</p>

            <p>&nbsp;</p>

        </a>
    </article>


    <article>

        <a href="/aktuality/jak-jsme-ziskavali-data-za-rok-2020-2021-06-14">
            <h3>Jak jsme získávali data za rok 2020</h3>
            <span>14.6.2021</span> -
        </a>
        <p>
            <a href="/aktuality/jak-jsme-ziskavali-data-za-rok-2020-2021-06-14">Trochu více jsme se o platech a odměnách za rok 2020 rozepsali <strong></strong></a>
            <strong>
                <a href="https://texty.hlidacstatu.cz/hlidame-i-platy-uredniku/">
                    <span style="color:#DAA520;">na webu naší organizace</span>
                </a>
            </strong> Hlídač státu.
        </p>

        <p>&nbsp;</p>


    </article>


    <article>

        <a href="/aktuality/platy-za-rok-2020-2021-06-13">
            <h3>Platy za rok 2020!</h3>
            <span>13.6.2021</span> -
            <p>V březnu letošního roku jsme zažádali o platy více než 360 institucí a úřadů!</p>

        </a>
    </article>


    <br>
    <br>
    <div class="navig">
        <p>

            <span>
            </span>
            <span>
                <strong>1</strong><a href="/aktuality?page=2">2</a><a href="/aktuality?page=3">3</a>
            </span>
            <span>
            </span>
        </p>
        <p>

        </p>
    </div><!-- /navig -->
    <br>
    <br>

</div>