<section class="container">
    

<div class="block-in">

        <h1>Platy nejvyšších státních úředníků</h1>
        <p>
            Projekt "Platy úředníků" je součástí Hlídače státu. Snažíme se, aby stát hospodařil transparentně a efektivně. Velká část pozic, o kterých zveřejňujeme výši platů, nejsou pod služebním zákonem, ale jejich platy <b>se stanovují podle zákona.</b>
        </p>

        <p>Konkrétně podle zákona č. 236/1995 Sb., což je zákon o „platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu“ nebo podle zákona č. 201/1997 Sb. „Zákon o platu a některých dalších náležitostech státních zástupců a o změně a doplnění zákona č. 143/1992 Sb., o platu a odměně za pracovní pohotovost v rozpočtových a v některých dalších organizacích a orgánech, ve znění pozdějších předpisů“.</p>

        <p><img src="/content/img/platyuredniku.jpg" alt="Platy nejvyšších státních úředníků" width="99%" loading="lazy"></p>

        <p>Aktuální znění celého zákona včetně jeho historie i novelizací je v databázi <a href="https://www.zakonyprolidi.cz/cs/1995-236/zneni-20240101" rel="nofollow">Zákony pro lidi</a>.</p>

        <p>
            <strong>V zákoně č. 236/1995 Sb. můžeme nalézt definici platu:</strong>
        </p>

        <ol type="a">
            <li>poslance a senátora Parlamentu</li>
            <li>člena vlády,</li>
            <li>prezidenta republiky,</li>
            <li>soudce Ústavního soudu,</li>
            <li>člena, viceprezidenta a prezidenta Nejvyššího kontrolního úřadu,</li>
            <li>
                člena, místopředsedy a předsedy Rady pro rozhlasové a televizní vysílání, člena, místopředsedy a předsedy Rady
                Ústavu pro studium totalitních režimů, člena Národní rozpočtové rady a člena a předsedy Rady Českého
                telekomunikačního úřadu,
            </li>
            <li>soudce okresního, krajského a vrchního soudu, Nejvyššího soudu a Nejvyššího správního soudu,</li>
            <li>poslance Evropského parlamentu, zvoleného na území České republiky.</li>

        </ol>

        <h2>Platy úředníků</h2>
        <p>Tyto platy jsou závislé na průměrném platu v&nbsp;České republice a násobí se určitým koeficientem na základě konkrétní funkce. Důležitá je zde tzv. „platová základna“, která se definuje pomocí průměrné nominální měsíční mzdy fyzických osob v nepodnikatelské sféře dosažené podle zveřejněných údajů Českého statistického úřadu za předminulý kalendářní rok <a href="#_ftn1" id="_ftn1" title="Reference">[1]</a>. Tato průměrná mzda je poté násobena určitým koeficientem. Výši platové základny pro příslušný kalendářní rok vyhlašuje <a href="https://www.mpsv.cz/" rel="nofollow">Ministerstvo práce a sociálních věcí</a> ve Sbírce zákonů sdělením. Platová základna se liší pro představitele státní moci a pro soudce.</p>

        <p>Pro představu, jak se předmětná platová základna postupně zvyšuje, si můžete prohlédnout následující tabulku, ve které můžete vidět vývoj platové základny za poslední roky.</p>

        <p>
            <strong>Tabulka 1: Platová základna pro představitele státní moci a soudce</strong>
        </p>

        <table style="width: 100%; float: left; background-color: #f0f0f0; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #d3d3d3; font-weight: bold; font-size: 1.1em; font-family: Arial, sans-serif;">
                    <td style="width: 44px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Rok</td>
                    <td style="width: 111px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Představitele státní moci</td>
                    <td style="width: 69px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Soudci</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2016</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">60 815,65 Kč</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">77 637 Kč</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2017</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">65 733,50 Kč</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">80 490 Kč</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2018</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">70 195 Kč</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">84 234 Kč</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2019</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">76 245 Kč</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">91 494 Kč</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2020</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">84 060 Kč</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">100 872 Kč</td>
                </tr>
            </tbody>
        </table>


        <h2> nová tabulka</h2>

        <table style="width: 100%; float: left; background-color: #f0f0f0; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #d3d3d3; font-weight: bold; font-size: 1.1em; font-family: Arial, sans-serif;">
                    <td style="width: 44px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Rok</td>
                    <td style="width: 111px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Představitelé státní moci</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2016</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">60 816 Kč</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2017</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">65 734 Kč</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2018</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">70 195 Kč</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2019</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">76 245 Kč</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2020</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">84 060 Kč</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2021</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">84 060 Kč</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2022</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">84 060 Kč</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2023</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">94 758 Kč</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2024</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">cca 108 000 Kč</td>
                </tr>
            </tbody>
        </table>




        <p>&nbsp;</p>

        <p>Plat je přesně určován koeficientem, například prezidentu republiky náleží plat určený z&nbsp;platové základny platovým koeficientem ve výši 3,60. Ústavní soudci dostávají plat na základě platové základny pro soudce zvýšené koeficientem 2,06, která je dále navýšena o 0,84 pro předsedu Ústavního soudu a o 0,43 pro místopředsedu Ústavního soudu. Tabulka 2 ukazuje vybrané pozice a jejich platové koeficienty.</p>

        <p>&nbsp;</p>

        <p>
            <strong>Tabulka 2: Vybrané pozice a platové koeficienty</strong>
        </p>

        <table style="width: 100%; float: left; background-color: #f0f0f0; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #d3d3d3; font-weight: bold; font-size: 1.1em; font-family: Arial, sans-serif;">
                    <td style="width: 458px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Pozice</td>
                    <td style="width: 148px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Koeficient</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Prezident</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">3,6</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Ústavní soudce</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2,06</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Místopředseda Ústavního soudu</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2,06 + 0,43</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Předseda Ústavního soudu</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2,06 + 0,84</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Člen Nejvyššího kontrolního úřadu</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,52</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Viceprezident Nejvyššího kontrolního úřadu</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2,06</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Prezident Nejvyššího kontrolního úřadu</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2,5</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Člen Rady pro rozhlasové a televizní vysílání</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,08</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Místopředseda Rady pro rozhlasové a televizní vysílání</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,19</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Předseda Rady pro rozhlasové a televizní vysílání</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,3</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Člen Rady Českého telekomunikačního úřadu</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,52</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Předseda Rady Českého telekomunikačního úřadu</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">2,06</td>
                </tr>
            </tbody>
        </table>


        <p>&nbsp;</p>

        <p>Soudcům se plat určuje také na základě platového koeficientu uvedeným výše, ale mění se v&nbsp;závislosti na počtu let, dále se některým soudcům tento koeficient dále zvyšuje v&nbsp;závislosti na pozici a konkrétním soudu (například zda je soudce předseda atd.), jak ukazuje tabulka 3.</p>

        <p>&nbsp;</p>

        <p>
            <strong>Tabulka 3: Platové koeficienty soudců</strong>
        </p>

        <table style="width: 100%; float: left; background-color: #f0f0f0; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #d3d3d3; font-weight: bold; font-size: 1.1em; font-family: Arial, sans-serif;">
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Okresního soudu</td>
                    <td style="width: 132px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Krajského soudu</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">Vrchního soudu</td>
                    <td style="width: 227px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">0,88</td>
                    <td style="width: 132px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">0,96</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,05</td>
                    <td style="width: 227px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">do ukončení 5. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,01</td>
                    <td style="width: 132px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,09</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,17</td>
                    <td style="width: 227px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 6. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,14</td>
                    <td style="width: 132px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,26</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,33</td>
                    <td style="width: 227px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 9. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,22</td>
                    <td style="width: 132px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,35</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,47</td>
                    <td style="width: 227px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 12. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,30</td>
                    <td style="width: 132px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,44</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,60</td>
                    <td style="width: 227px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 15. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,35</td>
                    <td style="width: 132px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,53</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,68</td>
                    <td style="width: 227px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 18. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,39</td>
                    <td style="width: 132px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,56</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,72</td>
                    <td style="width: 227px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 21. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,43</td>
                    <td style="width: 132px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,59</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,75</td>
                    <td style="width: 227px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 24. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,46</td>
                    <td style="width: 132px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,64</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,80</td>
                    <td style="width: 227px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 27. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,51</td>
                    <td style="width: 132px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,67</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,84</td>
                    <td style="width: 227px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 30. roku</td>
                </tr>
            </tbody>
        </table>



        <p>&nbsp;</p>

        <p>Kromě platu mají představitelé státní moci a soudci také nárok na náhrady výdajů a naturální plnění. Náhrady výdajů a naturální plnění jsou přesně definovány zákonem č. 236/1995 Sb. Náhrady výdajů a naturální plnění se liší podle konkrétní funkce, například prezident dostává zvláštní víceúčelovou paušální náhradu ve výši 335 % platové základny a naturální plnění zahrnující užívání služebního vozidla s řidičem i bez něho k výkonu funkce nebo v souvislosti s ním a k osobní dispozici, užívání nemovitostí tvořících sídlo prezidenta republiky, úhrada zdravotních služeb, a&nbsp; zřízení a užívání dvou účastnických telefonních stanic. Soudci mají zase nárok na víceúčelovou paušální náhradu ve výši 5,5 % platové základny.</p>

        <p>&nbsp;</p>

        <p>V&nbsp;budoucnu je však možné čekat určité zmrazení platu představitelů státní moci a jisté metodologické změny pro výpočet platové základny se týkají i soudců, více například zde: <a href="http://www.ceska-justice.cz/2018/02/soudcu-se-zmrazeni-platu-politiku-nedotkne-pozivaji-zvysene-ochrany-sve-nezavislosti/">http://www.ceska-justice.cz/2018/02/soudcu-se-zmrazeni-platu-politiku-nedotkne-pozivaji-zvysene-ochrany-sve-nezavislosti/</a></p>

        <p>&nbsp;</p>

        <p>Zákon č. 143/1992 Sb. Definuje platy státních zástupců. Logika je podobná jako v&nbsp;zákoně, který upravuje platy představitelů státní moci a soudců, odvíjí se od platové základny soudců, která je vylíčena výše, platová základna státních zástupců je však o něco nižší, dosahuje 90% platové základny soudců. Tabulka 4 ukazuje platové koeficienty státních zástupců, které se odvíjí od stupně státního zastupitelství a také od počtu let započitatelné praxe. Koeficienty platů se nadále navyšují funkcionářům dle zákona.</p>

        <p>&nbsp;</p>

        <p>
            <strong>Tabulka 4: Platový koeficient se určuje státnímu zástupci</strong>
        </p>

        <table style="width: 100%; float: left; background-color: #f0f0f0; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #d3d3d3; font-weight: bold; font-size: 1.1em; font-family: Arial, sans-serif;">
                    <td style="width: 159px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">
                        okresního státního<br>zastupitelství
                    </td>
                    <td style="width: 155px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">
                        krajského státního<br>zastupitelství
                    </td>
                    <td style="width: 166px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">
                        vrchního státního<br>zastupitelství
                    </td>
                    <td style="width: 155px; padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">0,88</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">0,96</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,05</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">do ukončení 5. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,01</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,09</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,17</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 6. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,14</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,26</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,33</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 9. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,22</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,35</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,47</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 12. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,30</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,44</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,60</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 15. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,35</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,53</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,68</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 18. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,39</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,56</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,72</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 21. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,43</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,59</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,75</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 24. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,46</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,64</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,80</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 27. roku</td>
                </tr>
                <tr>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,51</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,67</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">1,84</td>
                    <td style="padding: 8px; text-align: right; vertical-align: top; border: 1px solid #aaa;">od počátku 30. roku</td>
                </tr>
            </tbody>
        </table>


        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <h3>Zdroje našich dat</h3>
        <p>Zákon č. 236/1995 Sb. <em>Zákon o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu </em><a href="https://www.zakonyprolidi.cz/cs/1995-236">https://www.zakonyprolidi.cz/cs/1995-236</a></p>

        <p>Zákon č. 201/1997 Sb. <em>Zákon o platu a některých dalších náležitostech státních zástupců a o změně a doplnění zákona č. 143/1992 Sb., o platu a odměně za pracovní pohotovost v rozpočtových a v některých dalších organizacích a orgánech, ve znění pozdějších předpisů</em> <a href="https://www.zakonyprolidi.cz/cs/1997-201">https://www.zakonyprolidi.cz/cs/1997-201</a></p>

        <p>
            Sdělení č. 439/2017 Sb. <em>Sdělení Ministerstva práce a sociálních věcí o vyhlášení výše platové základny pro určení platu a některých náhrad výdajů soudců podle zákona č. 236/1995 Sb., o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu, ve znění pozdějších předpisů </em>
            <a href="https://www.zakonyprolidi.cz/cs/2017-439">
                <em>https://www.zakonyprolidi.cz/cs/2017-439</em>
            </a>
        </p>


        <p>Sdělení č. 440/2017 Sb. <em>Sdělení Ministerstva práce a sociálních věcí o vyhlášení výše platové základny pro určení platu a některých náhrad výdajů představitelů podle zákona č. 236/1995 Sb., o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu, ve znění pozdějších předpisů </em><a href="https://www.zakonyprolidi.cz/cs/2017-440">https://www.zakonyprolidi.cz/cs/2017-440</a></p>


        <p>Sdělení č. 401/2016 Sb. <em>Sdělení Ministerstva práce a sociálních věcí o vyhlášení výše platové základny pro určení platu a některých náhrad výdajů představitelů podle zákona č. 236/1995 Sb., o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu, ve znění pozdějších předpisů </em><a href="https://www.zakonyprolidi.cz/cs/2016-401">https://www.zakonyprolidi.cz/cs/2016-401</a></p>


        <p>Sdělení č. 402/2016 Sb. <em>Sdělení Ministerstva práce a sociálních věcí o vyhlášení výše platové základny pro určení platu a některých náhrad výdajů soudců podle zákona č. 236/1995 Sb., o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu, ve znění pozdějších předpisů </em><a href="https://www.zakonyprolidi.cz/cs/2016-402">https://www.zakonyprolidi.cz/cs/2016-402</a></p>


        <p>Sdělení č. 329/2015 <em>Sb. Sdělení Ministerstva práce a sociálních věcí o vyhlášení výše platové základny pro určení platu a některých náhrad výdajů představitelů podle zákona č. 236/1995 Sb., o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu, ve znění pozdějších předpisů. </em><a href="https://www.zakonyprolidi.cz/cs/2015-329">https://www.zakonyprolidi.cz/cs/2015-329</a></p>


        <p>Sdělení č. 330/2015 Sb.<em> Sdělení Ministerstva práce a sociálních věcí o vyhlášení výše platové základny pro určení platu a některých náhrad výdajů soudců podle zákona č. 236/1995 Sb., o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu, ve znění pozdějších předpisů </em><a href="https://www.zakonyprolidi.cz/cs/2015-330">https://www.zakonyprolidi.cz/cs/2015-330</a></p>


        <p>USNESENÍ VLÁDY ČESKÉ REPUBLIKY ze dne 3. ledna 2018 č. 25 <em>o návrhu dalšího postupu ve věci zjišťování a zveřejňování údaje o průměrné hrubé měsíční nominální mzdě fyzických osob v nepodnikatelské sféře Českým statistickým úřadem pro účely zákona č. 236/1995 Sb.</em></p>

        <p>
            <a href="https://apps.odok.cz/attachment/-/down/RCIAAUTF5E9F">https://apps.odok.cz/attachment/-/down/RCIAAUTF5E9F</a>
        </p>


        <div>
            <hr style="text-align: left; width: 33%; border: none; border-top: 1px solid black;">
            <div id="ftn1">
                <p>
                    <a href="#_ftnref1" id="ftnref1" title="">[1]</a> Zajímavostí je současná situace, kdy ČSÚ přestal publikovat v&nbsp;metodologických důvodů průměrné nominální měsíční mzdy fyzických osob v nepodnikatelské sféře, v&nbsp;současné době zasedá pracovní skupina, která má určit novou metodiku, podle které bude ČSÚ sledovat platy v nepodnikatelské sféře. Více informací ve zdrojích a zde: <a href="http://www.statistikaamy.cz/2016/05/csu-nebude-publikovat-data-za-mzdy-v-nepodnikatelske-sfere/">http://www.statistikaamy.cz/2016/05/csu-nebude-publikovat-data-za-mzdy-v-nepodnikatelske-sfere/</a>
                </p>

                <p>
                    <a href="http://www.ceska-justice.cz/2017/06/platy-v-justici-vlada-chce-csu-naridit-sledovat-mzdy-v-nepodnikatelske-sfere-ten-to-odmita/">http://www.ceska-justice.cz/2017/06/platy-v-justici-vlada-chce-csu-naridit-sledovat-mzdy-v-nepodnikatelske-sfere-ten-to-odmita/</a>
                </p>

                <p>
                    <a href="http://www.zdravotnickydenik.cz/2017/12/vlada-odvraci-nejistotu-ve-vypoctu-platu-soudcu-a-statnich-zastupcu/">http://www.zdravotnickydenik.cz/2017/12/vlada-odvraci-nejistotu-ve-vypoctu-platu-soudcu-a-statnich-zastupcu/</a>
                </p>
            </div>
        </div>

</div>
</section>