<section class="container">
    

<div class="block-in">


<p>Velká část pozic, u kterých zveřejňujeme platy, nejsou pod služebním zákonem, ale určují se podle zákona č. 236/1995 Sb., což je zákon o „platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu“ nebo podle zákona Zákon č. 201/1997 Sb. „Zákon o platu a některých dalších náležitostech státních zástupců a o změně a doplnění zákona č. 143/1992 Sb., o platu a odměně za pracovní pohotovost v rozpočtových a v některých dalších organizacích a orgánech, ve znění pozdějších předpisů“.&nbsp;</p>

<p>Aktuální znění celého zákona včetně jeho historie i novelizací je v databázi <a href="https://www.zakonyprolidi.cz/cs/1995-236/zneni-20240101">Zákony pro lidi</a>.</p>

<p>
    <strong>V zákoně č. 236/1995 Sb. můžeme nalézt definici platu:</strong>
</p>

<p>a) poslance a senátora Parlamentu</p>

<p>b) člena vlády,</p>

<p>c) prezidenta republiky,</p>

<p>d) soudce Ústavního soudu,</p>

<p>e) člena, viceprezidenta a prezidenta Nejvyššího kontrolního úřadu,</p>

<p>f) člena, místopředsedy a předsedy Rady pro rozhlasové a televizní vysílání, člena, místopředsedy a předsedy Rady Ústavu pro studium totalitních režimů, člena Národní rozpočtové rady a člena a předsedy Rady Českého telekomunikačního úřadu</p>

<p>g) soudce okresního, krajského a vrchního soudu, Nejvyššího soudu a Nejvyššího správního soudu</p>

<p>h) poslance Evropského parlamentu, zvoleného na území České republiky</p>

<p>&nbsp;</p>

<p>Tyto platy jsou závislé na průměrném platu v&nbsp;České republice a násobí se určitým koeficientem na základě konkrétní funkce. Důležitá je zde tzv. „platová základna“, která se definuje pomocí průměrné nominální měsíční mzdy fyzických osob v nepodnikatelské sféře dosažené podle zveřejněných údajů Českého statistického úřadu za předminulý kalendářní rok<a href="#_ftn1" name="_ftnref1" title="">[1]</a>. Tato průměrná mzda je poté násobena určitým koeficientem. Výši platové základny pro příslušný kalendářní rok vyhlašuje Ministerstvo práce a sociálních věcí ve Sbírce zákonů sdělením. Platová základna se liší pro představitele státní moci a pro soudce.</p>

<p>Pro představu, jak se předmětná platová základna postupně zvyšuje, si můžete prohlédnout následující tabulku, která informuje o posledních několika letech.</p>

<p>
    <strong>Tabulka 1: Platová základna pro představitele státní moci a soudce</strong>
</p>

<table border="1" cellpadding="0" cellspacing="0" style="width: 100%;">
    <tbody>
    <tr>
        <td style="width:189px;">
            <p>Rok</p>
        </td>
        <td style="width:189px;">
            <p>Představitele státní moci</p>
        </td>
        <td style="width:189px;">
            <p>Soudci</p>
        </td>
    </tr>
    <tr>
        <td style="width:189px;">
            <p>2016</p>
        </td>
        <td style="width:189px;">
            <p>60 815,65 Kč</p>
        </td>
        <td style="width:189px;">
            <p>77 637 Kč</p>
        </td>
    </tr>
    <tr>
        <td style="width:189px;">
            <p>2017</p>
        </td>
        <td style="width:189px;">
            <p>65 733,50 Kč</p>
        </td>
        <td style="width:189px;">
            <p>80 490 Kč</p>
        </td>
    </tr>
    <tr>
        <td style="width:189px;">
            <p>2018</p>
        </td>
        <td style="width:189px;">
            <p>70 195 Kč</p>
        </td>
        <td style="width:189px;">
            <p>84 234 Kč</p>
        </td>
    </tr>
    <tr>
        <td style="width:189px;">2019</td>
        <td style="width:189px;">76 245 Kč</td>
        <td style="width:189px;">
            <p>91 494 Kč</p>
        </td>
    </tr>
    <tr>
        <td style="width:189px;">2020</td>
        <td style="width:189px;">84 060 Kč</td>
        <td style="width:189px;">
            <p>100 872 Kč</p>
        </td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>

<p>Plat je přesně určován koeficientem, například prezidentu republiky náleží plat určený z&nbsp;platové základny platovým koeficientem ve výši 3,60. Ústavní soudci dostávají plat na základě platové základny pro soudce zvýšené koeficientem 2,06, která je dále navýšena o 0,84 pro předsedu Ústavního soudu a o 0,43 pro místopředsedu Ústavního soudu. Tabulka 2 ukazuje vybrané pozice a jejich platové koeficienty.</p>

<p>&nbsp;</p>

<p>
    <strong>Tabulka 2: Vybrané pozice a platové koeficienty</strong>
</p>

<table border="1" cellpadding="0" cellspacing="0" style="width: 100%;" width="455">
    <tbody>
    <tr>
        <td style="width:458px;height:12px;">
            <p>Pozice</p>
        </td>
        <td style="width:148px;height:12px;">
            <p>Koeficient</p>
        </td>
    </tr>
    <tr>
        <td style="width:458px;height:13px;">
            <p>Prezident</p>
        </td>
        <td style="width:148px;height:13px;">
            <p>3,6</p>
        </td>
    </tr>
    <tr>
        <td style="width:458px;height:12px;">
            <p>Ústavní soudce</p>
        </td>
        <td style="width:148px;height:12px;">
            <p>2,06</p>
        </td>
    </tr>
    <tr>
        <td style="width:458px;height:25px;">
            <p>Místopředseda Ústavního soudu</p>
        </td>
        <td style="width:148px;height:25px;">
            <p>2,06 + 0,43</p>
        </td>
    </tr>
    <tr>
        <td style="width:458px;height:12px;">
            <p>Předseda Ústavního soudu</p>
        </td>
        <td style="width:148px;height:12px;">
            <p>2,06 + 0,84</p>
        </td>
    </tr>
    <tr>
        <td style="width:458px;height:25px;">
            <p>Člen Nejvyššího kontrolního úřadu</p>
        </td>
        <td style="width:148px;height:25px;">
            <p>1,52</p>
        </td>
    </tr>
    <tr>
        <td style="width:458px;height:13px;">
            <p>Viceprezident Nejvyššího kontrolního úřadu</p>
        </td>
        <td style="width:148px;height:13px;">
            <p>2,06</p>
        </td>
    </tr>
    <tr>
        <td style="width:458px;height:13px;">
            <p>Prezident Nejvyššího kontrolního úřadu</p>
        </td>
        <td style="width:148px;height:13px;">
            <p>2,5</p>
        </td>
    </tr>
    <tr>
        <td style="width:458px;height:13px;">
            <p>Člen Rady pro rozhlasové a televizní vysílání</p>
        </td>
        <td style="width:148px;height:13px;">
            <p>1,08</p>
        </td>
    </tr>
    <tr>
        <td style="width:458px;height:13px;">
            <p>Místopředseda Rady pro rozhlasové a televizní vysílání</p>
        </td>
        <td style="width:148px;height:13px;">
            <p>1,19</p>
        </td>
    </tr>
    <tr>
        <td style="width:458px;height:13px;">
            <p>Předseda Rady pro rozhlasové a televizní vysílání</p>
        </td>
        <td style="width:148px;height:13px;">
            <p>1,3</p>
        </td>
    </tr>
    <tr>
        <td style="width:458px;height:13px;">
            <p>Člen Rady Českého telekomunikačního úřadu</p>
        </td>
        <td style="width:148px;height:13px;">
            <p>1,52</p>
        </td>
    </tr>
    <tr>
        <td style="width:458px;height:13px;">
            <p>Předseda Rady Českého telekomunikačního úřadu</p>
        </td>
        <td style="width:148px;height:13px;">
            <p>2,06</p>
        </td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>

<p>Soudcům se plat určuje také na základě platového koeficientu uvedeným výše, ale mění se v&nbsp;závislosti na počtu let, dále se některým soudcům tento koeficient dále zvyšuje v&nbsp;závislosti na pozici a konkrétním soudu (například zda je soudce předseda atd.), jak ukazuje tabulka 3.</p>

<p>&nbsp;</p>

<p>
    <strong>Tabulka 3: Platové koeficienty soudců</strong>
</p>

<table border="1" cellpadding="0" cellspacing="0" style="width: 100%;" width="449">
    <tbody>
    <tr>
        <td>
            <p>okresního soudu</p>
        </td>
        <td style="width:132px;">
            <p>krajského soudu</p>
        </td>
        <td>
            <p>vrchního soudu</p>
        </td>
        <td style="width:227px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width:126px;">
            <p>0,88</p>
        </td>
        <td style="width:132px;">
            <p>0,96</p>
        </td>
        <td style="width:113px;">
            <p>1,05</p>
        </td>
        <td style="width:227px;">
            <p>do ukončení 5. roku</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1,01</p>
        </td>
        <td style="width:132px;">
            <p>1,09</p>
        </td>
        <td>
            <p>1,17</p>
        </td>
        <td style="width:227px;">
            <p>od počátku 6. roku</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1,14</p>
        </td>
        <td style="width:132px;">
            <p>1,26</p>
        </td>
        <td>
            <p>1,33</p>
        </td>
        <td style="width:227px;">
            <p>od počátku 9. roku</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1,22</p>
        </td>
        <td style="width:132px;">
            <p>1,35</p>
        </td>
        <td>
            <p>1,47</p>
        </td>
        <td style="width:227px;">
            <p>od počátku 12. roku</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1,30</p>
        </td>
        <td style="width:132px;">
            <p>1,44</p>
        </td>
        <td>
            <p>1,60</p>
        </td>
        <td style="width:227px;">
            <p>od počátku 15. roku</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1,35</p>
        </td>
        <td style="width:132px;">
            <p>1,53</p>
        </td>
        <td>
            <p>1,68</p>
        </td>
        <td style="width:227px;">
            <p>od počátku 18. roku</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1,39</p>
        </td>
        <td style="width:132px;">
            <p>1,56</p>
        </td>
        <td>
            <p>1,72</p>
        </td>
        <td style="width:227px;">
            <p>od počátku 21. roku</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1,43</p>
        </td>
        <td style="width:132px;">
            <p>1,59</p>
        </td>
        <td>
            <p>1,75</p>
        </td>
        <td style="width:227px;">
            <p>od počátku 24. roku</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1,46</p>
        </td>
        <td style="width:132px;">
            <p>1,64</p>
        </td>
        <td>
            <p>1,80</p>
        </td>
        <td style="width:227px;">
            <p>od počátku 27. roku</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>1,51</p>
        </td>
        <td style="width:132px;">
            <p>1,67</p>
        </td>
        <td>
            <p>1,84</p>
        </td>
        <td style="width:227px;">
            <p>od počátku 30. roku.</p>
        </td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>

<p>Kromě platu mají představitelé státní moci a soudci také nárok na náhrady výdajů a naturální plnění. Náhrady výdajů a naturální plnění jsou přesně definovány zákonem č. 236/1995 Sb. Náhrady výdajů a naturální plnění se liší podle konkrétní funkce, například prezident dostává zvláštní víceúčelovou paušální náhradu ve výši 335 % platové základny a naturální plnění zahrnující užívání služebního vozidla s řidičem i bez něho k výkonu funkce nebo v souvislosti s ním a k osobní dispozici, užívání nemovitostí tvořících sídlo prezidenta republiky, úhrada zdravotních služeb, a&nbsp; zřízení a užívání dvou účastnických telefonních stanic. Soudci mají zase nárok na víceúčelovou paušální náhradu ve výši 5,5 % platové základny.</p>

<p>&nbsp;</p>

<p>V&nbsp;budoucnu je však možné čekat určité zmrazení platu představitelů státní moci a jisté metodologické změny pro výpočet platové základny se týkají i soudců, více například zde: <a href="http://www.ceska-justice.cz/2018/02/soudcu-se-zmrazeni-platu-politiku-nedotkne-pozivaji-zvysene-ochrany-sve-nezavislosti/">http://www.ceska-justice.cz/2018/02/soudcu-se-zmrazeni-platu-politiku-nedotkne-pozivaji-zvysene-ochrany-sve-nezavislosti/</a></p>

<p>&nbsp;</p>

<p>Zákon č. 143/1992 Sb. Definuje platy státních zástupců. Logika je podobná jako v&nbsp;zákoně, který upravuje platy představitelů státní moci a soudců, odvíjí se od platové základny soudců, která je vylíčena výše, platová základna státních zástupců je však o něco nižší, dosahuje 90% platové základny soudců. Tabulka 4 ukazuje platové koeficienty státních zástupců, které se odvíjí od stupně státního zastupitelství a také od počtu let započitatelné praxe. Koeficienty platů se nadále navyšují funkcionářům dle zákona.</p>

<p>&nbsp;</p>

<p>
    <strong>Tabulka 4: Platový koeficient se určuje státnímu zástupci</strong>
</p>

<table align="left" border="1" cellpadding="0" cellspacing="0" style="width: 100%;" width="477">
    <tbody>
    <tr>
        <td style="width:159px;height:25px;">
            <p>
                okresního státního<br>
                zastupitelství
            </p>
        </td>
        <td style="width:155px;height:25px;">
            <p>
                krajského státního<br>
                zastupitelství
            </p>
        </td>
        <td style="width:166px;height:25px;">
            <p>
                vrchního státního<br>
                zastupitelství
            </p>
        </td>
        <td style="width:155px;height:25px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width:159px;height:13px;">
            <p>0,88</p>
        </td>
        <td style="width:155px;height:13px;">
            <p>0,96</p>
        </td>
        <td style="width:166px;height:13px;">
            <p>1,05</p>
        </td>
        <td style="width:155px;height:13px;">
            <p>do ukončení 5. roku</p>
        </td>
    </tr>
    <tr>
        <td style="width:159px;height:12px;">
            <p>1,01</p>
        </td>
        <td style="width:155px;height:12px;">
            <p>1,09</p>
        </td>
        <td style="width:166px;height:12px;">
            <p>1,17</p>
        </td>
        <td style="width:155px;height:12px;">
            <p>od počátku 6. roku</p>
        </td>
    </tr>
    <tr>
        <td style="width:159px;height:13px;">
            <p>1,14</p>
        </td>
        <td style="width:155px;height:13px;">
            <p>1,26</p>
        </td>
        <td style="width:166px;height:13px;">
            <p>1,33</p>
        </td>
        <td style="width:155px;height:13px;">
            <p>od počátku 9. roku</p>
        </td>
    </tr>
    <tr>
        <td style="width:159px;height:25px;">
            <p>1,22</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>1,35</p>
        </td>
        <td style="width:166px;height:25px;">
            <p>1,47</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>od počátku 12. roku</p>
        </td>
    </tr>
    <tr>
        <td style="width:159px;height:25px;">
            <p>1,30</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>1,44</p>
        </td>
        <td style="width:166px;height:25px;">
            <p>1,60</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>od počátku 15. roku</p>
        </td>
    </tr>
    <tr>
        <td style="width:159px;height:25px;">
            <p>1,35</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>1,53</p>
        </td>
        <td style="width:166px;height:25px;">
            <p>1,68</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>od počátku 18. roku</p>
        </td>
    </tr>
    <tr>
        <td style="width:159px;height:25px;">
            <p>1,39</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>1,56</p>
        </td>
        <td style="width:166px;height:25px;">
            <p>1,72</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>od počátku 21. roku</p>
        </td>
    </tr>
    <tr>
        <td style="width:159px;height:25px;">
            <p>1,43</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>1,59</p>
        </td>
        <td style="width:166px;height:25px;">
            <p>1,75</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>od počátku 24. roku</p>
        </td>
    </tr>
    <tr>
        <td style="width:159px;height:25px;">
            <p>1,46</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>1,64</p>
        </td>
        <td style="width:166px;height:25px;">
            <p>1,80</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>od počátku 27. roku</p>
        </td>
    </tr>
    <tr>
        <td style="width:159px;height:25px;">
            <p>1,51</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>1,67</p>
        </td>
        <td style="width:166px;height:25px;">
            <p>1,84</p>
        </td>
        <td style="width:155px;height:25px;">
            <p>od počátku 30. roku.</p>
        </td>
    </tr>
    </tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>
    <strong>Zdroje:</strong>
</p>

<p>Zákon č. 236/1995 Sb. <em>Zákon o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu </em><a href="https://www.zakonyprolidi.cz/cs/1995-236">https://www.zakonyprolidi.cz/cs/1995-236</a></p>

<p>&nbsp;</p>

<p>Zákon č. 201/1997 Sb. <em>Zákon o platu a některých dalších náležitostech státních zástupců a o změně a doplnění zákona č. 143/1992 Sb., o platu a odměně za pracovní pohotovost v rozpočtových a v některých dalších organizacích a orgánech, ve znění pozdějších předpisů</em> <a href="https://www.zakonyprolidi.cz/cs/1997-201">https://www.zakonyprolidi.cz/cs/1997-201</a></p>

<p>&nbsp;</p>

<p>
    Sdělení č. 439/2017 Sb. <em>Sdělení Ministerstva práce a sociálních věcí o vyhlášení výše platové základny pro určení platu a některých náhrad výdajů soudců podle zákona č. 236/1995 Sb., o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu, ve znění pozdějších předpisů </em>
    <a href="https://www.zakonyprolidi.cz/cs/2017-439">
        <em>https://www.zakonyprolidi.cz/cs/2017-439</em>
    </a>
</p>

<p>&nbsp;</p>

<p>Sdělení č. 440/2017 Sb. <em>Sdělení Ministerstva práce a sociálních věcí o vyhlášení výše platové základny pro určení platu a některých náhrad výdajů představitelů podle zákona č. 236/1995 Sb., o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu, ve znění pozdějších předpisů </em><a href="https://www.zakonyprolidi.cz/cs/2017-440">https://www.zakonyprolidi.cz/cs/2017-440</a></p>

<p>&nbsp;</p>

<p>Sdělení č. 401/2016 Sb. <em>Sdělení Ministerstva práce a sociálních věcí o vyhlášení výše platové základny pro určení platu a některých náhrad výdajů představitelů podle zákona č. 236/1995 Sb., o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu, ve znění pozdějších předpisů </em><a href="https://www.zakonyprolidi.cz/cs/2016-401">https://www.zakonyprolidi.cz/cs/2016-401</a></p>

<p>&nbsp;</p>

<p>Sdělení č. 402/2016 Sb. <em>Sdělení Ministerstva práce a sociálních věcí o vyhlášení výše platové základny pro určení platu a některých náhrad výdajů soudců podle zákona č. 236/1995 Sb., o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu, ve znění pozdějších předpisů </em><a href="https://www.zakonyprolidi.cz/cs/2016-402">https://www.zakonyprolidi.cz/cs/2016-402</a></p>

<p>&nbsp;</p>

<p>Sdělení č. 329/2015 <em>Sb. Sdělení Ministerstva práce a sociálních věcí o vyhlášení výše platové základny pro určení platu a některých náhrad výdajů představitelů podle zákona č. 236/1995 Sb., o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu, ve znění pozdějších předpisů. </em><a href="https://www.zakonyprolidi.cz/cs/2015-329">https://www.zakonyprolidi.cz/cs/2015-329</a></p>

<p>&nbsp;</p>

<p>Sdělení č. 330/2015 Sb.<em> Sdělení Ministerstva práce a sociálních věcí o vyhlášení výše platové základny pro určení platu a některých náhrad výdajů soudců podle zákona č. 236/1995 Sb., o platu a dalších náležitostech spojených s výkonem funkce představitelů státní moci a některých státních orgánů a soudců a poslanců Evropského parlamentu, ve znění pozdějších předpisů </em><a href="https://www.zakonyprolidi.cz/cs/2015-330">https://www.zakonyprolidi.cz/cs/2015-330</a></p>

<p>&nbsp;</p>

<p>USNESENÍ VLÁDY ČESKÉ REPUBLIKY ze dne 3. ledna 2018 č. 25 <em>o návrhu dalšího postupu ve věci zjišťování a zveřejňování údaje o průměrné hrubé měsíční nominální mzdě fyzických osob v nepodnikatelské sféře Českým statistickým úřadem pro účely zákona č. 236/1995 Sb.</em></p>

<p>
    <a href="https://apps.odok.cz/attachment/-/down/RCIAAUTF5E9F">https://apps.odok.cz/attachment/-/down/RCIAAUTF5E9F</a>
</p>

<p>&nbsp;</p>

<div>
    <hr align="left" size="1" width="33%">
    <div id="ftn1">
        <p><a href="#_ftnref1" name="_ftn1" title="">[1]</a> Zajímavostí je současná situace, kdy ČSÚ přestal publikovat v&nbsp;metodologických důvodů průměrné nominální měsíční mzdy fyzických osob v nepodnikatelské sféře, v&nbsp;současné době zasedá pracovní skupina, která má která má určit novou metodiku, podle které bude ČSÚ sledovat platy v nepodnikatelské sféře. Více informaci ve zdrojích a zde: <a href="http://www.statistikaamy.cz/2016/05/csu-nebude-publikovat-data-za-mzdy-v-nepodnikatelske-sfere/">http://www.statistikaamy.cz/2016/05/csu-nebude-publikovat-data-za-mzdy-v-nepodnikatelske-sfere/</a></p>

        <p>
            <a href="http://www.ceska-justice.cz/2017/06/platy-v-justici-vlada-chce-csu-naridit-sledovat-mzdy-v-nepodnikatelske-sfere-ten-to-odmita/">http://www.ceska-justice.cz/2017/06/platy-v-justici-vlada-chce-csu-naridit-sledovat-mzdy-v-nepodnikatelske-sfere-ten-to-odmita/</a>
        </p>

        <p>
            <a href="http://www.zdravotnickydenik.cz/2017/12/vlada-odvraci-nejistotu-ve-vypoctu-platu-soudcu-a-statnich-zastupcu/">http://www.zdravotnickydenik.cz/2017/12/vlada-odvraci-nejistotu-ve-vypoctu-platu-soudcu-a-statnich-zastupcu/</a>
        </p>
    </div>
</div>

</div>
</section>