<section class="container">
    
    <div>
        <p>Chceme mít transparentní stát.</p>
        <p>Věříme, že občané mají právo znát platy nejvyšších představitelů státních úřadů, institucí a dalších organizačních složek státu.</p>
        <p>Proto byl založen tento projekt, jehož autorem je Kristýna Bašná, Ph.D.</p>
        <p>Ve spolupráci s JUDr. Pavlem Musilem, Ph.D. a za finanční podpory Velvyslanectví USA v rámci Small Grants Program jej vytvořila a spravovala až do roku 2020. V té době veřejnosti poskytoval projekt informace o platech a odměnách za téměř 60 institucí státu. Mnohé z nich získal především díky neutuchající aktivitě a excelentní znalosti legislativy, až po několika vyhraných soudních sporech. Po ukončení finanční podpory byl osloven Hlídač státu. Vzhledem k jeho činnosti směřující k efektivní a transparentní státní správě na práci na projektu kývl!</p>
        <p>Tým Hlídače začal s metodickou a personální podporou autorky na projektu pracovat od roku 2020, už na vlastní náklady. Následující roky převzal veškerou agendu a to od podání žádostí přes administraci webu až po koncepci stížností nebo následné soudní spory. Počet dotazovaných institucí neustále rozšiřoval.</p>
        <p>V roce 2024 Hlídač s žádostí oslovil přes 330 úřadů, organizačních složek státu, státních podniků, příspěvkových organizací a dalších subjektů podléhajících informačnímu zákonu. Celý projekt pak přestěhoval na novou webovou adresu, kompletně změnil jeho design a rozšířil ho o celou řadu analytických nástrojů a doplňujících informací.</p>

        <p>Podrobnější informace o projektu a jeho cílech</p>
        <p>Transparentnost veřejné správy a konkrétně princip open data se vyskytuje ve <a href="http://www.mvcr.cz/soubor/strategicky-ramec-rozvoje-verejne-spravy-v-cr-pro-obdobi-2014-2020.aspx">Strategickém rámci rozvoje veřejné správy České republiky pro období 2014 - 2020</a> a Ministerstvo vnitra provozuje <a href="https://opendata.gov.cz/">portál „otevřená data“</a> a <a href="https://nkod.opendata.cz/datov%C3%A9-sady">národní katalog otevřených dat</a>, avšak bez informací o platech. Podpora transparentnosti platů nejvyšších státních činitelů však jde napříč politickým spektrem, což dokazuje i dotazník <a href="https://volebnikalkulacka.cz/">Volební kalkulačky</a>, v rámci kterého všechny politické subjekty bez výjimky souhlasily s výrokem, že platy nejvyšších státních úředníků by měly být veřejnosti známé. Údaje o výši platů nejvyšších státních úředníků jsou veřejně přístupné v mnoha demokraciích (např. USA, Velké Británii, Německu, Estonsku a dalších). Zveřejňování platů státních úředníků ve vyspělých demokraciích vychází z obecného principu, že občan jako plátce daní musí být informován o tom, jakým způsobem stát s jeho penězi nakládá. V České republice nejsou platy centrálně zveřejňovány, ale platí zde zákon č 106/1999 Sb. o svobodném přístupu k informacím, který zajišťuje právo veřejnosti na informace týkající se státní správy. Od roku 2023 je součástí uvedeného zákona paragraf 8 c, který nově informace o platech upravuje.</p>
        <p>Bohužel, i přes politický konsenzus a existenci zákonů zajišťujících právo veřejnosti na informace, platy stále nejsou veřejnosti známé a instituce se zveřejňování platů v některých případech nadále brání. Proto je naším hlavním cílem tuto realitu změnit. Doufáme, že do budoucna bude zveřejňování platů nejvyšších státních činitelů automatické a v ideálním případě bude probíhat pod taktovkou státu.</p>
        <p>Dalším důležitým cílem tohoto projektu je napomoci zlepšit transparentnost veřejné správy a zvýšit tak její kvalitu. Kromě principiálního rozměru – totiž toho, že občanům nejsou v současné době poskytovány informace, na které mají právo - jsou zde i další problémy související s nízkou transparentností, které snižují efektivitu a důvěryhodnost státní správy v očích veřejnosti (viz např. kniha od Dekker (2014) Paying High Public Officials, vydáno Routledge):</p>
        <ul>
            <li>
                Pokud občané neví, jak přesně jsou státní zaměstnanci odměňováni, podrývá to jejich důvěru ve státní správu. Občané mohou mít pocit, že se platy tají, protože jsou příliš vysoké, i když tomu tak nemusí být.
            </li>
            <li>
                Na platy, které jsou tajné, může mít ministerstvo problémy přitáhnout nejlepší lidi v oboru. Tabulkové platy jsou velmi nízké, odměňování nad rámec tabulkového platu je vysoce netransparentní a zájemce o práci tudíž nemá předem jistotu adekvátního ohodnocení.
            </li>
        </ul>
        <p>Naším posledním cílem je zjistit, jak je jednotlivými úřady vykládán zákon č. 106/1999 Sb. o svobodném přístupu k informacím v případě transparentnosti platů nejvyšších státních činitelů . Náš projekt tudíž mimo jiné mapuje, jak se jednotlivé instituce k tomuto problému staví.</p>
        <p>Konečně,  naším cílem není pořádat hon na čarodějnice a poukazovat na jednotlivce, kteří mají vysoké platy. Myslíme si, že pokud jsou nejvyšší zaměstnanci státu kvalitní, tak mají právo být adekvátně ohodnoceni.</p>

    </div>
</section>