<section class="container">
    
<div class="block-in">

    <p>
        <style type="text/css">p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica; color: #454545}
</style>
    </p>

    <p style="text-align: justify;">
        <span style="color:#FF8C00;">
            <span style="font-size:12pt;">
                <strong>
                    <em>Chceme mít transparentní stát. </em>
                </strong>
            </span>
        </span>
    </p>

    <p style="text-align: justify;">&nbsp;</p>

    <p style="text-align: justify;">
        <span style="color:#FF8C00;">
            <span style="font-size:12pt;">
                <strong>
                    <em>Věříme, že občané mají právo znát platy nejvyšších představitelů státních úřadů,&nbsp;institucí a dalších organizačních složek státu. </em>
                </strong>
            </span>
        </span>
    </p>

    <p style="text-align: justify;">&nbsp;</p>

    <p style="text-align: justify;">
        <span style="color:#FF8C00;">
            <span style="font-size:12pt;">
                <strong>
                    <em>Proto jsme založili tento projekt.</em>
                </strong>
            </span>
        </span>
    </p>

    <p style="text-align: justify;">&nbsp;</p>

    <p style="text-align: justify;">Projekt „Platy úředníků“ v současnosti poskytuje informace o platech a odměnách řídících pracovníků z více než 200 institucí.</p>

    <p style="text-align: justify;">&nbsp;</p>

    <p style="text-align: justify;">
        Transparentnost veřejné správy a konkrétně princip open data se vyskytuje ve
        <a href="http://www.mvcr.cz/soubor/strategicky-ramec-rozvoje-verejne-spravy-v-cr-pro-obdobi-2014-2020.aspx">
            <span style="color:#0000CD;">Strategickém rámci rozvoje veřejné správy České republiky pro období 2014 - 2020</span>
        </a> a Ministerstvo vnitra provozuje
        <a href="https://opendata.gov.cz/">
            <span style="color:#0000CD;">portál „otevřená data“</span>
        </a> a
        <a href="https://nkod.opendata.cz/datov%C3%A9-sady">
            <span style="color:#0000CD;">národní katalog otevřených dat</span>
        </a>, avšak bez informací o platech. Podpora transparentnosti platů nejvyšších státních činitelů však jde napříč politickým spektrem, což dokazuje i dotazník
        <a href="https://volebnikalkulacka.cz/">
            <span style="color:#0000CD;">Volební kalkulačky</span>
        </a>, v&nbsp;rámci kterého všechny politické subjekty bez výjimky souhlasily s&nbsp;výrokem, že <strong>platy nejvyšších státních úředníků by měly být veřejnosti známé</strong>. Údaje o výši platů nejvyšších státních úředníků jsou veřejně přístupné v mnoha demokraciích (např. USA, Velké Británii, Německu, Estonsku a dalších). Zveřejňování platů státních úředníků ve vyspělých demokraciích vychází z obecného principu, že <strong>občan jako plátce daní musí být informován o tom, jakým způsobem stát s jeho penězi nakládá</strong>. V&nbsp;České republice nejsou platy centrálně zveřejňovány, ale platí zde zákon č 106/1999 Sb. o svobodném přístupu k&nbsp;informacím, který zajišťuje právo veřejnosti na informace týkající se státní správy. Od roku 2023 je součástí uvedeného zákona paragraf 8 c, který nově informace o platech upravuje.
    </p>

    <p style="text-align: justify;">Bohužel, i přes politický konsenzus a existenci zákonů zajišťujících právo veřejnosti na informace, platy stále nejsou veřejnosti známé a instituce se zveřejňování platů v některých případech nadále brání. Proto je naším hlavním cílem tuto realitu změnit. <strong><span style="color:#FF8C00;">Doufáme, že do budoucna bude zveřejňování platů nejvyšších státních činitelů automatické a v ideálním případě bude probíhat pod taktovkou státu</span>.</strong></p>

    <p style="text-align: justify;"><strong><span style="color:#FF8C00;">Dalším důležitým cílem tohoto projektu je napomoci zlepšit transparentnost veřejné správy a zvýšit tak její kvalitu</span>.</strong>&nbsp;Kromě principiálního rozměru – totiž toho, že občanům nejsou v současné době poskytovány informace, na které mají právo - jsou zde i další problémy související s nízkou transparentností, které snižují efektivitu a důvěryhodnost státní správy v&nbsp;očích veřejnosti (viz např. kniha od Dekker (2014) Paying High Public Officials, vydáno&nbsp;Routledge):</p>

    <ul>
        <li style="text-align: justify;">Pokud občané neví, jak přesně jsou státní zaměstnanci odměňováni, podrývá to jejich důvěru ve státní správu. Občané mohou mít pocit, že se platy tají, protože jsou příliš vysoké, i když tomu tak nemusí být.</li>
        <li style="text-align: justify;">Na platy, které jsou tajné, může mít ministerstvo problémy přitáhnout nejlepší lidi v&nbsp;oboru. Tabulkové platy jsou velmi nízké, odměňování nad rámec tabulkového platu je vysoce netransparentní a zájemce o práci tudíž nemá předem jistotu adekvátního ohodnocení.</li>
    </ul>

    <p style="text-align: justify;">
        Naším posledním cílem je zjistit,
        <span style="color:#FF8C00;">
            <strong>jak je jednotlivými úřady vykládán zákon č. 106/1999 Sb. o svobodném přístupu k&nbsp;informacím v případě transparentnosti platů nejvyšších státních činitelů</strong>
        </span>. Náš projekt tudíž mimo jiné mapuje, jak se jednotlivé instituce k&nbsp;tomuto problému staví.
    </p>

    <p style="text-align: justify;">
        <span style="text-align: justify;">Konečně,&nbsp;</span>
        <strong>
            <span style="color:#FF8C00;">naším cílem není pořádat hon na čarodějnice a poukazovat na jednotlivce, kteří mají vysoké platy. Myslíme si, že pokud jsou nejvyšší zaměstnanci státu kvalitní, tak mají právo být adekvátně ohodnoceni.</span>
        </strong>
    </p>

    <p style="text-align: justify;">&nbsp;</p>

    <p style="text-align: justify;">
        <strong>Náš postup</strong>
    </p>

    <p style="text-align: justify;">Každoročně zasíláme žádost dle zákona č. 106/1999 Sb. na&nbsp;úřady, státní instituce, organizace a státní podniky povinné ve smyslu Inf. zákona o poskytnutí výše platu nejvýše postavených pracovníků v konkrétní instituci. Mezi žádané subjekty&nbsp; jsme zařadili prezidentskou kancelář, poslaneckou sněmovnu a senát, ministerstva, justici (soudy a státní zastupitelství), ostatní ústřední orgány (podle zákona č. 2/1969 Sb.), a další státem zřízené instituce.</p>

    <p style="text-align: justify;">Po přijetí požadovaných informací je nahráváme do administrace tohoto webu a po kontrole je zveřejňujeme. V případě odmítnutí naší žádosti zasíláme odvolání. V případě zamítnutí našeho odvolání pak nezbývá jiný postup než podat žalobu. Na web samozřejmě vkládáme i informaci o případném neposkytnutí požadovaných informací .</p>

    <p style="text-align: justify;">&nbsp;</p>

    <p style="text-align: justify;"><strong style="text-align: justify;">Přehled zákonů</strong>, podle nichž se určují platy nejvyšších státních úředníků a pro zjednodušený popis výpočtu platů:</p>

    <p class="p1" style="text-align: justify;">&nbsp;</p>

    <p style="text-align: justify;">
        <a class="btn a" href="/page/platy-statnich-zamestnancu" target="_blank">Jak jsou určovány platy státních zaměstnanců podle zákona o státní službě?</a>
    </p>

    <p style="text-align: justify;">
        <a class="btn a" href="/page/predstavitele-statni-moci-a-nekterych-statnich-organu-soudcu-a-statnich-zastupcu" target="_blank">Jak jsou určovány platy představitelů státní moci, některých státních orgánů, soudců a státních zástupců?</a>
    </p>

    <p style="text-align: justify;">&nbsp;</p>

    <p style="text-align: justify;">
        <strong>Financování</strong>
    </p>

    <p style="text-align: justify;">Projekt vznikl díky podpoře&nbsp;Velvyslanectví&nbsp;USA v rámci Small Grants Program, které&nbsp;podpořilo&nbsp;vznik projektu, vytvoření webových stránek a naplnění obsahem včetně dat za minulé roky, ale nepodílelo&nbsp;se na vedení případných soudních sporů.&nbsp;<span style="text-align: justify;">Naštěstí vzhledem ke vstřícnému přístupu drtivé většiny státních institucí nebylo třeba vynakládat vysoké výdaje na soudní poplatky. Vzhledem k tomu, že u soudů jsme byli vždy úspěsní a žádný jsme neprohráli, vrací se vynaložené náklady v podobě soudem přiznané náhrady úspěšnému žalobci.</span></p>

    <p style="text-align: justify;">&nbsp;</p>

    <p style="text-align: justify;">V současnosti je projekt provozován nestátní neziskovou&nbsp;organizací&nbsp;<a href="https://www.hlidacstatu.cz/">Hlídač&nbsp;státu, z.ú.</a>, která prací na tomto projektu pokračuje ve svém poslání, jehož cílem by měla být&nbsp;transparentní a efektivní státní správa.&nbsp;</p>

    <p style="text-align: justify;">&nbsp;</p>

    
</div>
</section>