<section class="container pageblock">
    

<div class="block-in">


<p>Platy nejvyšších státních úředníků se liší mezi sebou podle toho, zda je úředník „státní zaměstnanec“ či nikoliv. Státní zaměstnanec je osoba, která spadá pod služební zákon, podle služebního zákona tento zaměstnanec dostává plat i odměny<a href="#_ftn1" name="_ftnref1" title="">[1]</a>.</p>

<p>&nbsp;</p>

<p>
    Platy státních zaměstnanců se určují podle tabulek, které jsou vydávány nařízením vlády (nařízení vlády č. 304/2014 Sb.). Aktuální platová tabulka je k&nbsp;vidění níže (s účinností od 1.1.2019). Platové stupně se řídí podle délky praxe, a platové třídy se řídí podle toho, jak zodpovědnou, významnou a složitou práci pracovník vykonává, zohledňuje se zde i vzdělání. Nejnižší platová třída státních zaměstnanců je 5. (s názvem referent), pro kterou stačí střední vzdělání s&nbsp;výučním listem, zaměstnanec bez praxe bude na této pozici pobírat přibližně 13 160 Kč. Naopak pro nejvyšší, 16. platovou třídu (vrchní ministerský rada, vrchní vládní rada) musí mít zaměstnanec magisterské vzdělání.&nbsp;Nejvyšší plat, který lze jako státní zaměstnanec získat je 60 500 Kč<a href="#_ftn2" name="_ftnref2" title="">[2]</a>. Definice platových tříd jsou v&nbsp;
    <u>
        <a href="/files/priloha-c1pdf.pdf" target="_blank">příloze</a>
    </u>.
</p>

<p>V průběhu let se nařízením vlády, či novelizací příslušných zákonů mohou konkrétní částky a výpočtové koeficienty měnit. Informace zde uvedené proto nemusí odpovídat aktuálnímu stavu.</p>

<h3>
    <strong>Platy</strong>
</h3>

<table align="left" border="1" cellpadding="0" cellspacing="0" style="width: 100%;" width="557">
<tbody>
<tr>
<td style="width:57px;height:45px;">
<table align="left" border="1" cellpadding="0" cellspacing="0" style="width: 701px;" width="527">
<tbody>
<tr>
    <td style="width:54px;height:45px;">
        <p>Platový stupeň</p>
    </td>
    <td style="width:87px;height:45px;">
        <p>Počet let započitatelné praxe</p>
    </td>
    <td colspan="12" style="width: 564px; height: 45px;">
        <p>Platová třída</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:11px;">&nbsp;</td>
    <td style="width:87px;height:11px;">&nbsp;</td>
    <td style="width:46px;height:11px;">
        <p>5</p>
    </td>
    <td style="width:46px;height:11px;">
        <p>6</p>
    </td>
    <td style="width:45px;height:11px;">
        <p>7</p>
    </td>
    <td style="width:45px;height:11px;">
        <p>8</p>
    </td>
    <td style="width:45px;height:11px;">
        <p>9</p>
    </td>
    <td style="width:45px;height:11px;">
        <p>10</p>
    </td>
    <td style="width:45px;height:11px;">
        <p>11</p>
    </td>
    <td style="width:45px;height:11px;">
        <p>12</p>
    </td>
    <td style="width:45px;height:11px;">
        <p>13</p>
    </td>
    <td style="width:45px;height:11px;">
        <p>14</p>
    </td>
    <td style="width:61px;height:11px;">
        <p>15</p>
    </td>
    <td style="width: 79px; height: 11px;">
        <p>16</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:22px;">
        <p>1</p>
    </td>
    <td style="width:87px;height:22px;">
        <p>do 1 roku</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>13160</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>14270</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>15480</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>16800</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>18230</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>19760</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>21480</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>23630</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>26480</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>30170</p>
    </td>
    <td style="width:61px;height:22px;">
        <p>34700</p>
    </td>
    <td style="width: 79px; height: 22px;">
        <p>40240</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:22px;">
        <p>2</p>
    </td>
    <td style="width:87px;height:22px;">
        <p>do 2 let</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>13700</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>14830</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>16060</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>17450</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>18900</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>20510</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>22280</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>24510</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>27440</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>31280</p>
    </td>
    <td style="width:61px;height:22px;">
        <p>35970</p>
    </td>
    <td style="width: 79px; height: 22px;">
        <p>41720</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:22px;">
        <p>3</p>
    </td>
    <td style="width:87px;height:22px;">
        <p>do 4 let</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>14200</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>15390</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>16680</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>18110</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>19630</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>21300</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>23160</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>25470</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>28510</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>32520</p>
    </td>
    <td style="width:61px;height:22px;">
        <p>37380</p>
    </td>
    <td style="width: 79px; height: 22px;">
        <p>43370</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:22px;">
        <p>4</p>
    </td>
    <td style="width:87px;height:22px;">
        <p>do 6 let</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>14750</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>15980</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>17310</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>18800</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>20370</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>22110</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>24010</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>26410</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>29590</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>33730</p>
    </td>
    <td style="width:61px;height:22px;">
        <p>38790</p>
    </td>
    <td style="width: 79px; height: 22px;">
        <p>44990</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:22px;">
        <p>5</p>
    </td>
    <td style="width:87px;height:22px;">
        <p>do 9 let</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>15300</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>16580</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>17970</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>19510</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>21140</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>22940</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>24910</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>27420</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>30700</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>34990</p>
    </td>
    <td style="width:61px;height:22px;">
        <p>40240</p>
    </td>
    <td style="width: 79px; height: 22px;">
        <p>46670</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:22px;">
        <p>6</p>
    </td>
    <td style="width:87px;height:22px;">
        <p>do 12 let</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>15880</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>17190</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>18650</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>20270</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>21930</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>23790</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>25860</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>28450</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>31860</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>36310</p>
    </td>
    <td style="width:61px;height:22px;">
        <p>41750</p>
    </td>
    <td style="width: 79px; height: 22px;">
        <p>48440</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:22px;">
        <p>7</p>
    </td>
    <td style="width:87px;height:22px;">
        <p>do 15 let</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>16470</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>17850</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>19340</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>21020</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>22790</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>24700</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>26840</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>29530</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>33080</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>37700</p>
    </td>
    <td style="width:61px;height:22px;">
        <p>43350</p>
    </td>
    <td style="width: 79px; height: 22px;">
        <p>50280</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:22px;">
        <p>8</p>
    </td>
    <td style="width:87px;height:22px;">
        <p>do 19 let</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>17100</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>18520</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>20060</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>21810</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>23640</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>25620</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>27840</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>30630</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>34310</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>39120</p>
    </td>
    <td style="width:61px;height:22px;">
        <p>44980</p>
    </td>
    <td style="width: 79px; height: 22px;">
        <p>52170</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:22px;">
        <p>9</p>
    </td>
    <td style="width:87px;height:22px;">
        <p>do 23 let</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>17750</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>19220</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>20830</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>22630</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>24520</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>26600</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>28880</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>31770</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>35580</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>40550</p>
    </td>
    <td style="width:61px;height:22px;">
        <p>46650</p>
    </td>
    <td style="width: 79px; height: 22px;">
        <p>54110</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:22px;">
        <p>10</p>
    </td>
    <td style="width:87px;height:22px;">
        <p>do 27 let</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>18430</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>19950</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>21590</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>23500</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>25460</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>27590</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>29970</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>32970</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>36920</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>42100</p>
    </td>
    <td style="width:61px;height:22px;">
        <p>48420</p>
    </td>
    <td style="width: 79px; height: 22px;">
        <p>56140</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:22px;">
        <p>11</p>
    </td>
    <td style="width:87px;height:22px;">
        <p>do 32 let</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>19140</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>20710</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>22440</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>24410</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>26420</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>28650</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>31110</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>34210</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>38320</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>43680</p>
    </td>
    <td style="width:61px;height:22px;">
        <p>50240</p>
    </td>
    <td style="width: 79px; height: 22px;">
        <p>58260</p>
    </td>
</tr>
<tr>
    <td style="width:54px;height:22px;">
        <p>12</p>
    </td>
    <td style="width:87px;height:22px;">
        <p>nad 32 let</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>19870</p>
    </td>
    <td style="width:46px;height:22px;">
        <p>21490</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>23280</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>25330</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>27420</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>29740</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>32290</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>35530</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>39790</p>
    </td>
    <td style="width:45px;height:22px;">
        <p>45340</p>
    </td>
    <td style="width:61px;height:22px;">
        <p>52150</p>
    </td>
    <td style="width: 79px; height: 22px;">
        <p>60500</p>
    </td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

<p>&nbsp;</p>

<h3>
    <strong>PŘÍPLATKY</strong>
</h3>

<p>Kromě platu, který je definován tabulkami, můžou státní zaměstnanci také získávat příplatky, jejichž výše je také definována služebním zákonem (§ 146 - §149). Služební zákon definuje čtyři typy příplatků:</p>

<ol>
    <li>Příplatek za vedení – určuje rozpětí procent z&nbsp;platového tarifu, které může být zaměstnanci přiděleno (tabulka níže). Nejvyšších odměn za vedení může dosáhnout náměstek pro státní službu, který může mít měsíční odměny až 60 % ze svého tabulkového platu</li>
</ol>

<table border="1" cellpadding="0" cellspacing="0" style="width: 100%;" width="460">
    <tbody>
    <tr>
        <td style="width:230px;">
            <p align="center">
                <strong>Představený</strong>
            </p>
        </td>
        <td style="width:85px;">
            <p align="center">
                <strong>Ústřední správní úřady</strong>
            </p>
        </td>
        <td style="width:95px;">
            <p align="center">
                <strong>Správní úřady s celostátní působností</strong>
            </p>
        </td>
        <td style="width:104px;">
            <p align="center">
                <strong>Správní úřady s územní působností</strong>
            </p>
        </td>
        <td style="width:100px;">
            <p align="center">
                <strong>Ostatní správní úřady</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td style="width:230px;">
            <p align="center">zástupce vedoucího oddělení, určený podle § 9 odst. 7</p>
        </td>
        <td style="width:85px;">
            <p align="center">10 až 20</p>
        </td>
        <td colspan="3" style="width:298px;">
            <p align="center">5 až 15</p>
        </td>
    </tr>
    <tr>
        <td style="width:230px;">
            <p align="center">vedoucí oddělení, zástupce ředitele odboru, určený podle § 9 odst. 7, zástupce vedoucího zastupitelského úřadu, určený podle § 9 odst. 7</p>
        </td>
        <td style="width:85px;">
            <p align="center">20 až 30</p>
        </td>
        <td colspan="3" style="width:298px;">
            <p align="center">10 až 20</p>
        </td>
    </tr>
    <tr>
        <td style="width:230px;">
            <p align="center">ředitel odboru, zástupce náměstka pro řízení sekce nebo zástupce ředitele sekce, určení podle § 9 odst. 7, vedoucí zastupitelského úřadu, zástupce státního tajemníka, určený podle § 9 odst. 7</p>
        </td>
        <td style="width:85px;">
            <p align="center">30 až 40</p>
        </td>
        <td style="width:95px;">
            <p align="center">25 až 35</p>
        </td>
        <td style="width:104px;">
            <p align="center">20 až 30</p>
        </td>
        <td style="width:100px;">
            <p align="center">15 až 25</p>
        </td>
    </tr>
    <tr>
        <td style="width:230px;">
            <p align="center">náměstek pro řízení sekce nebo ředitel sekce, státní tajemník, zástupce vedoucího služebního úřadu, určený podle § 9 odst. 7</p>
        </td>
        <td style="width:85px;">
            <p align="center">40 až 50</p>
        </td>
        <td style="width:95px;">
            <p align="center">35 až 45</p>
        </td>
        <td style="width:104px;">
            <p align="center">30 až 40</p>
        </td>
        <td style="width:100px;">
            <p align="center">25 až 35</p>
        </td>
    </tr>
    <tr>
        <td style="width:230px;">
            <p align="center">vedoucí služebního úřadu, náměstek pro státní službu</p>
        </td>
        <td style="width:85px;">
            <p align="center">50 až 60</p>
        </td>
        <td style="width:95px;">
            <p align="center">45 až 55</p>
        </td>
        <td style="width:104px;">
            <p align="center">35 až 45</p>
        </td>
        <td style="width:100px;">
            <p align="center">30 až 40</p>
        </td>
    </tr>
    </tbody>
</table>

<p>(v % z platového tarifu nejvyššího platového stupně v platové třídě, do které je místo představeného zařazeno)</p>

<ol>
    <li value="2">Příplatek za službu přesčas</li>
    <li value="3">Zvláštní příplatek - vláda nařízením (č. 304/2014 Sb.). stanovuje pravidla pro určení zvláštního příplatku, výší zvláštního příplatku stanoví služební orgán. Nařízení rozděluje správní činnosti do pěti skupin podle obtížnosti výkonu služby, neuropsychické zátěže, či pravděpodobnosti rizika ohrožení života.</li>
</ol>

<table border="1" cellpadding="0" cellspacing="0" style="width: 100%;" width="491">
    <tbody>
    <tr>
        <td style="width:109px;height:13px;">
            <p>
                <strong>Skupina</strong>
            </p>
        </td>
        <td style="width:109px;height:13px;">
            <p>
                <strong>I.</strong>
            </p>
        </td>
        <td style="width:109px;height:13px;">
            <p>
                <strong>II.</strong>
            </p>
        </td>
        <td style="width:109px;height:13px;">
            <p>
                <strong>III.</strong>
            </p>
        </td>
        <td style="width:109px;height:13px;">
            <p>
                <strong>IV.</strong>
            </p>
        </td>
        <td style="width:109px;height:13px;">
            <p>
                <strong>V.</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td style="width:109px;height:27px;">
            <p>
                <strong>Zvláštní příplatek</strong>
            </p>
        </td>
        <td style="width:109px;height:27px;">
            <p>
                <strong>500 – 1300 Kč</strong>
            </p>
        </td>
        <td style="width:109px;height:27px;">
            <p>
                <strong>750 – 2500 Kč</strong>
            </p>
        </td>
        <td style="width:109px;height:27px;">
            <p>
                <strong>1250 – 5000 Kč</strong>
            </p>
        </td>
        <td style="width:109px;height:27px;">
            <p>
                <strong>1880 – 7500 Kč</strong>
            </p>
        </td>
        <td style="width:109px;height:27px;">
            <p>
                <strong>2500 – 10000 Kč</strong>
            </p>
        </td>
    </tr>
    </tbody>
</table>

<p>Definice skupin je v&nbsp;nařízení č. 304/2014 Sb (také v&nbsp;příloze zde)</p>

<ol>
    <li value="4">Osobní příplatek - ve služebním zákoně jsou definovány důvody pro přiznání, zvýšení, snížení, či odebrání osobního příplatku. Výše příplatku je definován v&nbsp;nařízení vlády č. 134/2015 Sb. Toto nařízení popisuje jakým způsobem je státní zaměstnanec hodnocen za svoji službu, na základě tohoto hodnocení se určuje výše osobního příplatku. Rozpětí osobního příplatku je od 0% do 50% platového tarifu nejvyššího platového stupně v platové třídě, do které je zařazeno služební místo, na kterém státní zaměstnanec vykonává státní službu. Státní zaměstnanec může také získat osobní příplatek až do výše 100% nejvyššího platového stupně v platové třídě, do které je zařazeno služební místo, na kterém státní zaměstnanec vykonává státní službu, pokud je státní zaměstnanec „vynikajícím, všeobecně uznávaným odborníkem, vykonává státní službu na služebním místě zařazeném do 10. až 16. platové třídy, dosahoval ve státní službě vynikajících výsledků“ a samozřejmě dosáhne určitého bodového hodnocení podle nařízení vlády.</li>
</ol>

<h2>
    <strong>ODMĚNY</strong>
</h2>

<p>Kromě platu a příplatků mohou státní zaměstnanci také získávat odměny (služební zákon § 150 - §151). Služební zákon definuje více typů odměn:</p>

<ol>
    <li>Odměna – tu může státní zaměstnanec získat za úspěšné splnění naléhavých služebních úkolů za nepřítomného státního zaměstnance (pokud mu nevznikl nárok na příplatek za vedení nebo plat při zastupování). Nejvyšší odměna, kterou může státní zaměstnanec za rok získat je 25% z&nbsp;ročního úhrnu nejvyššího platového tarifu, nejvýše přípustného osobního příplatku, a příplatku za vedení.</li>
    <li value="2">Odměna za služební pohotovost – odměna za služební pohotovost je 10% průměrného výdělku</li>
</ol>

<p>
    <strong>Zdroje:</strong>
</p>

<p>Zákon č. 234/2014 Sb. <em>Zákon o státní službě</em>. <a href="https://www.zakonyprolidi.cz/cs/2014-304/zneni-20190101">https://www.zakonyprolidi.cz/cs/2014-304/zneni-20190101</a></p>

<p>Nařízení vlády č. 304/2014 Sb. <em>Nařízení vlády o platových poměrech státních zaměstnanců</em></p>

<p>
    <a href="https://www.zakonyprolidi.cz/cs/2014-304">https://www.zakonyprolidi.cz/cs/2014-304</a>
</p>

<p>Nařízení vlády č. 134/2015 Sb. <em>Nařízení vlády o podrobnostech služebního hodnocení státních zaměstnanců a vazbě výsledku služebního hodnocení na osobní příplatek státního zaměstnance. </em><a href="https://www.zakonyprolidi.cz/cs/2015-134">https://www.zakonyprolidi.cz/cs/2015-134</a></p>

<div>
    <hr align="left" size="1" width="33%">
    <div id="ftn1">
        <p><a href="#_ftnref1" name="_ftn1" title="">[1]</a> Podle služebního zákona je státní zaměstnanec „fyzická osoba, která byla přijata do služebního poměru a zařazena na služební místo nebo jmenována na služební místo představeného k výkonu některé z činností uvedených v § 5“. Služební zákon lze najít zde: https://www.zakonyprolidi.cz/cs/2014-234/zneni-20170801</p>
    </div>

    <div id="ftn2">
        <p><a href="#_ftnref2" name="_ftn2" title="">[2]</a> Výjimku tvoří státní zaměstnanci, kteří jsou lékaři orgánu sociálního zabezpečení nebo orgánu ochrany veřejného zdraví. Těm přísluší platový tarif stanovený podle stupnice platových tarifů uvedené v příloze č. 3 k nařízení vlády č. 304/2014 Sb. (https://www.zakonyprolidi.cz/cs/2014-304).</p>
    </div>
</div>

</div>
</section>