<section class="container">
    <div class="container mt-5">
        <h1 class="mb-4">Výpočty platů úředníků</h1>
        <p>Na této stránce naleznete vysvětlení jednotlivých výpočtů používaných při výpočtu platů úředníků.</p>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Termín</th>
                <th>Matematický zápis</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Hrubý měsíční plat (přepočtený na plný úvazek) včetně odměn</td>
                <td>(Plat + Odměny) * (1 / Úvazek) / Počet Měsíců</td>
            </tr>
            <tr>
                <td>Celkový roční plat včetně odměn</td>
                <td>Plat + Odměny</td>
            </tr>
            <tr>
                <td>Průměrný měsíční základní plat</td>
                <td>Plat / Počet Měsíců</td>
            </tr>
            <tr>
                <td>Průměrná měsíční odměna</td>
                <td>Odměny / Počet Měsíců</td>
            </tr>
            <tr>
                <td>Osobní ohodnocení (%)</td>
                <td>Odměny / (Plat + Odměny) * 100</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>