@using HlidacStatu.Repositories
<h1>Platy úředníků</h1>

<p>Tady budou další stránky</p>

<h3>Oblasti</h3>
<ul>
@foreach (var oblast in await PuRepo.GetPrimalOblastiAsync())
{
    <li>
        <a asp-action="Oblast" asp-route-id="@oblast">@oblast</a>
    </li>
}
</ul>
