@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@{
    ViewBag.Title = "Platy politiků, úředníků a zaměstnanců státu";

    var puPlatyStats = await PuRepo.GetPlatyPerYearStatCache.GetAsync(PuRepo.DefaultYear);
    var puOrgStats = await PuRepo.GetGlobalStatOrganizaceAsync();
    PpGlobalStat polStats = await PpRepo.GetGlobalStatAsync(PpRepo.DefaultYear);

    DateTime stopNovinkaPolitici = new DateTime(2025, 10, 15);
}



<section class="py-5 text-center container pageblock-small">
    <div class="row py-lg-5">
        <div class="col-lg-10 col-md-12 mx-auto">
            <h1 class="fw-light">Platy politiků a úředníků</h1>
            <p class="lead text-body-secondary">
                <b>Sledujte, kolik vydělávají zvolení politici, top úředníci a manažeři veřejné správy</b>.
                Jejich příjmy z veřejných funkcí na jednom místě.
                <b>Vaše peníze - vaše právo vědět</b>.
            </p>
            <p>
                <a href="/politici" class="btn btn-hs btn-primary my-3">Příjmy <span class="badge text-bg-light mx-1">@(HlidacStatu.Util.RenderData.NiceNumber(polStats.PocetOsobPozadano))</span> politiků.</a>
                <a href="/urednici" class="btn btn-hs btn-info my-3" style="margin-left:30px">Platy <span class="badge text-bg-light mx-1">@(HlidacStatu.Util.RenderData.NiceNumber(puPlatyStats.Pocet))</span> úředníků.</a>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive">
                <tr>
                    <td class="align-middle"><i class="fa-solid fa-circle-heart fa-2x mx-3" style="color:red"></i></td>
                    <td class="fs-6">
                        Shromáždit data o tisících platů vyžaduje enormní úsilí.
                        <br /><a target="_blank" href="https://texty.hlidacstatu.cz/jak-podporit-hlidac-statu-fungovani-ceska/">Podpořte nás, ať můžeme pokračovat i příští rok.</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <p class="lead">
                    Unikátní projekt <b>Platy</b> je součástí Hlídače státu. <br />
                    <i class="fa-solid fa-circle-1"></i> <b>Politici pod lupou</b>: Zjistěte, kolik berou významní politici
                    a kolik funkcí zároveň zastávají.
                    Jde o novinku - letos poprvé přinášíme data za rok 2024
                    a v dalších letech v tom budeme pokračovat.
                    <br />
                    <i class="fa-solid fa-circle-2"></i> <b>Platy ve veřejné správě</b>: Už řadu let u nás najdete
                    jedinečné informace o platech a odměnách soudců,
                    vedení úřadů, státních podniků či příspěvkových organizací.
                </p>
                <p>
                    Data shromažďujeme na základě oficiální žádosti podle zákona o svobodném přístupu k informacím.
                    Platy a odměny jsou stanoveny
                    <a asp-controller="Texty" asp-action="PlatyStatnichZamestnancu">nařízením vlády</a> nebo
                    <a asp-controller="Texty" asp-action="Nejvyssi">zákonem</a>.
                    Za správnost a úplnost údajů odpovídají oslovené veřejné instituce.
                    Víte o něčem, co nám v přehledech chybí?
                    Napište nám na <a href="mailto:podpora@hlidacstatu.cz">podpora@hlidacstatu.cz</a>.
                </p>

            </div>
        </div>
    </div>
</div>

<p class="m-5">

</p>

