@model List<string>

<div class="row">


    <div class="col-12">
        <table class="table table-new table-new--dotted table-hover">
            <tbody>
                @foreach (var oblast in Model)
                {
                    <tr>
                        <td>
                            <h4>
                                <a asp-action="Oblast" asp-route-oblast="@oblast">
                                    @oblast
                                </a>
                            </h4>
                        </td>
                        <td>
                            @{
                                var instituce = await HlidacStatu.Repositories.PuRepo.GetOrganizaceForOblastiAsync(oblast, null);
                                var sample = ".";
                                if (instituce.Count > 1)
                                {
                                    sample = $" jako např. {instituce[0].Nazev}, {instituce[1].Nazev} a další.";
                                }
                            }
                            Oblast obsahuje celkem <b>@(instituce.Count)</b> institucí@(sample)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>