@using HlidacStatu.Entities.Entities
@using HlidacStatu.Repositories

@model List<HlidacStatu.Entities.Entities.PuOrganizace>

@{
    string currentOblast = (string)ViewData["oblast"];
    
    var organizace = Model.Where(o => o.Oblast == currentOblast).ToArray();

    var oblasti = await PuRepo.GetFollowingOblastiAsync(currentOblast);
        
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="/">Platy úřeníků</a>
        </li>
        @foreach (var oblast in PuOrganizace.PathSplitter(currentOblast))
        {
            if (oblast.Value == currentOblast)
            {
                <li class="active">@currentOblast</li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("Oblast", "Home", new { oblast.Value })">@oblast.Key</a>
                </li>
            }
        }
    </ol>
}

