@using HlidacStatu.Repositories
<h2>Statistiky</h2>

@{
    var oblasti = await PuRepo.GetPrimalOblastiAsync();
}

<div class="row">
    <div class="col-6">
        <label for="listbox-left">Vyber oblast</label>
        <select id="listbox-left">
            @foreach (var oblast in oblasti)
            {
                <option value="@oblast">@oblast</option>
            }
        </select>

    </div>
    
    <div class="col-6">
        
    </div>
</div>

