<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header @GetBackgroundClass()">
        <span class="rounded me-2"><i class="fa-regular fa-lightbulb"></i></span>
        <strong class="me-auto">@Message.Title</strong>
        <small class="text-muted">@Message.Created.ToLongTimeString()</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" @onclick="Close"></button>
    </div>
    <div class="toast-body">
        @Message.Message
    </div>
</div>
        
@code {
    [Parameter]
    public ToastService.ToastMessage Message { get; set; } = default!;

    [Inject]
    public ToastService ToastService { get; set; } = default!;

    private void Close()
    {
        ToastService.RemoveMessage(Message);
    }
    
    private string GetBackgroundClass()
    {
        return Message.Importance switch
        {
            ToastService.ToastMessage.ImportanceLevel.Warning => "bg-warning",
            ToastService.ToastMessage.ImportanceLevel.Error => "bg-danger text-white",
            _ => string.Empty
        };
    }
}