@inject ToastService Toaster
@implements IDisposable
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<div aria-live="polite" aria-atomic="true" class="position-sticky bottom-0 end-0 z-3">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">

        @foreach (var message in Toaster.GetVisibleMessages())
        {
            <Toast @key="message" Message="message" />
        }
    </div>
</div>

@code {
    
    protected override void OnInitialized()
    {
        Toaster.OnMessagesChange += Refresh;
    }

    private void Refresh()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Toaster.OnMessagesChange -= Refresh;
    }
    
}