@model HlidacStatu.Entities.Osoba
@using HlidacStatu.Extensions
@using HlidacStatu.XLib.Render
@using HlidacStatu.Repositories
@using HlidacStatu.Entities
@using HlidacStatu.Repositories.Cache
@using Microsoft.AspNetCore.Html
@using Graph = HlidacStatu.DS.Graphs.Graph

@{
    Layout = null;
}

@* První sloupec *@
<div id="subjcontent_toc">
    <p class="text-muted sub-header-info">
        Přehled jednotlivých finančních a nefinančních podpor politickým stranám. Podpory větší než 5000 Kč zobrazujeme
        po dobu 10 let, menší podpory po dobu 5 let.
    </p>

    @{
        var sponzoring = await Model.SponzoringAsync(m => m.Typ != (int)Sponzoring.TypDaru.DarFirmy);

        var sponzoringFirma = await Model.SponzoringAsync(m => m.Typ == (int)Sponzoring.TypDaru.DarFirmy);

        var sponzoringData = new ReportDataSource<(int Rok, string Ico, string DarceJmeno, decimal Dar, string Poznamka)>(
            new[]
            {
                new ReportDataSource<(int Rok, string Ico, string DarceJmeno, decimal Dar, string Poznamka)>.Column()
                {
                    Name = "Rok",
                    CssClass = "number",
                    HtmlRender = (x) => x.Rok.ToString(),
                    TextRender = (x) => x.Rok.ToString()
                },
                new ReportDataSource<(int Rok, string Ico, string DarceJmeno, decimal Dar, string Poznamka)>.Column()
                {
                    Name = "Politická strana",
                    HtmlRender = (x) =>
                        $"<a href=\"/subjekt/{x.Ico}\">{x.DarceJmeno}</a>"
                },
                new ReportDataSource<(int Rok, string Ico, string DarceJmeno, decimal Dar, string Poznamka)>.Column()
                {
                    Name = "Celkem darovali",
                    TextRender = (x) => $"{x.Dar.ToString("N0")} Kč",
                    HtmlRender = (x) => $"{x.Dar.ToString("N0")}&nbsp;Kč",
                    OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Dar),
                    CssClass = "number"
                },
                new ReportDataSource<(int Rok, string Ico, string DarceJmeno, decimal Dar, string Poznamka)>.Column()
                {
                    Name = "Poznámka",
                    HtmlRender = (x) => x.Poznamka,
                    TextRender = (x) => x.Poznamka
                }
            });
        foreach (var dar in sponzoring)
        {
            var jmeno = await FirmaCache.GetJmenoAsync(dar.IcoPrijemce);
            sponzoringData.AddRow((dar.DarovanoDne?.Year ?? 0, dar.IcoPrijemce, jmeno, dar.Hodnota ?? 0, dar.Popis));
        }

        sponzoringData.Title = "Přehled jednotlivých darů politickým stranám";
    }
    @if (sponzoring.Count > 0)
    {
        <div>
            <h4>Přímé sponzorování politických stran</h4>
            @Html.DataToHTMLTable(sponzoringData)
        </div>
    }
    else
    {
        <p>
            Tato osoba žádnou politickou stranu v posledních 10 letech napřímo nesponzorovala.
        </p>
    }

    @if (sponzoringFirma.Count > 0)
    {
        var sponzoringFirmyData = new ReportDataSource<(int Rok, string IcoPrijemce, string JmenoPrijemce, 
                                                        string DarceIco, string DarceJmeno,  decimal Dar, 
                                                        string Poznamka, IHtmlContent vazbyRender)>(
        new ReportDataSource<(
            int Rok, string IcoPrijemnce, string JmenoPrijemce, string Darceico, 
            string DarceJmeno, decimal Dar, string Poznamka, IHtmlContent vazbyRender
        )>.Column()
        {
            Name = "Sponzorující firma",
            HtmlRender = (x) =>
            {
                return $"<a href='/subjekt/{x.Darceico}'>{x.DarceJmeno}</a>"
                       + $"<br/>{x.vazbyRender}";
            },
            TextRender = (x) => x.DarceJmeno
        }, new()
        {
            Name = "Rok",
            CssClass = "number",
            HtmlRender = (x) => x.Rok.ToString(),
            TextRender = (x) => x.Rok.ToString()
        }, new()
        {
            Name = "Politická strana",
            HtmlRender = (x) =>
                $"<a href=\"/subjekt/{x.IcoPrijemce}\">{x.JmenoPrijemce}</a>"
        }, new()
        {
            Name = "Celkem darovali",
            TextRender = (x) => $"{x.Dar.ToString("N0")} Kč",
            HtmlRender = (x) => $"{x.Dar.ToString("N0")}&nbsp;Kč",
            OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Dar),
            CssClass = "number"
        }, new()
        {
            Name = "Poznámka",
            HtmlRender = (x) => x.Poznamka,
            TextRender = (x) => x.Poznamka
        });
        foreach (var dar in sponzoringFirma)
        {
            Graph.Edge[]? vazby = await OsobaVazbyRepo.VazbyProIcoCachedAsync(Model, dar.IcoDarce);
            var jmenoDarce = await FirmaCache.GetJmenoAsync(dar.IcoDarce);
            var ihtmlVazby = await Html.RenderVazbyAsync(vazby);
            sponzoringFirmyData.AddRow((dar.DarovanoDne?.Year ?? 0, dar.IcoPrijemce, await dar.JmenoPrijemceAsync(), dar.IcoDarce, jmenoDarce, dar.Hodnota ?? 0, dar.Popis, ihtmlVazby));
        }

        <hr/>
        <div>
            <h4>Sponzorování politických stran firmami, kde se osoba angažuje</h4>
            @Html.DataToHTMLTable(sponzoringFirmyData)
        </div>
    }
</div>
