@page "{id?}"
@using HlidacStatu.JobsWeb.Services
@using HlidacStatu.JobsWeb.Models
@model BenchmarkDodavateluModel

@{
    ViewData["Title"] = "Benchmark dodavatelů";

    bool showStatistics = !string.IsNullOrWhiteSpace(Model.Ico);
    var statistics = new List<JobStatistics>();
    
    var key = new YearlyStatisticsGroup.Key()
    {
        Obor = "IT",
        Rok = 2020
    };
    if (showStatistics)
        statistics = JobService.GetDodavatelStatistics(Model.Ico, key);
    
    var graphModel = new Boxplot()
    {
        BasicData = statistics,
        CompareWith = JobService.GetStatistics(key)
    };
    
    var tableModel = new TableViewModel()
    {
        Statistics = statistics,
        HideDodavatelCount = true
    };

}

@section Scripts
{
    <script>
    $(document).ready(function() {
      $("#selectNavigace").change(function(){
        if ($(this).val()!='') {
          window.location.href= '/BenchmarkDodavatelu/' + $(this).val();
        }
      });
    });
    </script>
}

<h1>Benchmark dodavatelů</h1>
<h2>Seznam dodavatelů</h2>

<div class="input-group mb-3">
    <label class="input-group-text" for="selectNavigace">Vyberte dodavatele:</label>
    <select class="form-select" id="selectNavigace">
        <option value="" selected="@string.IsNullOrEmpty(Model.Ico)">Zvolte dodavatele...</option>
        @foreach (var (ico, nazev, pocetSmluv) in JobService.GetDodavateleList(key).OrderByDescending(x => x.pocetSmluv))
        {
            <option value="@ico" selected="@(Model.Ico == ico)">@nazev (@pocetSmluv smluv)</option>
        }
    </select>
</div>
@if (!string.IsNullOrEmpty(Model.Ico))
{
    <hr/>

    <h2>@Model.Nazev</h2>
    if (showStatistics)
    {
        <partial name="Shared/_SouhrnTable" model="tableModel"/>
        <partial name="Shared/_BoxPlot" model="graphModel"/>
    }
}