@page "{id?}"
@model BenchmarkUraduModel

@using HlidacStatu.JobsWeb.Services
@using HlidacStatu.JobsWeb.Models

@{
    ViewData["Title"] = "Benchmark úřadů";

    bool showStatistics = !string.IsNullOrWhiteSpace(Model.Ico);
    var statistics = new List<JobStatistics>();
    if (showStatistics)
        statistics = JobService.GetOdberatelStatitstics(Model.Ico);
    
    var graphModel = new Boxplot()
    {
        BasicData = statistics,
        CompareWith = JobService.GetStatitstics()
    };
}

@section Scripts
{
    <script>
    $(document).ready(function() {
      $("#selectNavigace").change(function(){
        if ($(this).val()!='') {
          window.location.href= '/BenchmarkUradu/' + $(this).val();
        }
      });
    });
    </script>
}

<h1>Benchmark úřadů</h1>
<h2>Seznam úřadů</h2>

<div class="input-group mb-3">
    <label class="input-group-text" for="selectNavigace">Vyberte úřad:</label>
    <select class="form-select" id="selectNavigace">
        <option value="" selected="@string.IsNullOrEmpty(Model.Ico)">Zvolte úřad...</option>
        @foreach (var (ico, nazev, pocetSmluv) in JobService.GetOdberateleList().OrderByDescending(x => x.pocetSmluv))
        {
            <option value="@ico" selected="@(Model.Ico == ico)">@nazev (@pocetSmluv smluv)</option>
        }
    </select>
</div>

@if (!string.IsNullOrEmpty(Model.Ico))
{
    <hr/>

    <h2>@Model.Nazev</h2>

    if (showStatistics)
    {
        
        <partial name="Shared/_BenchmarkUraduTable" model="statistics"/>
        <partial name="Shared/_BoxPlot" model="graphModel"/>
    }
}