@page "{id?}"
@using HlidacStatu.JobsWeb.Services
@using HlidacStatu.JobsWeb.Models
@model BenchmarkDodavateluModel

@{
    ViewData["Title"] = "Benchmark dodavatelů";

    Boxplot graphModel = new Boxplot();
    TableViewModel tableModel = new TableViewModel();
    
    bool showStatistics = !string.IsNullOrWhiteSpace(Model.Ico);
    var statistics = new List<JobStatistics>();

    if (Model.Key.HasValue)
    {
        if (showStatistics)
            statistics = JobService.GetDodavatelStatistics(Model.Ico, Model.Key.Value);

        graphModel.BasicData = statistics;
        graphModel.CompareWith = JobService.GetStatistics(Model.Key.Value);
    
        tableModel.Statistics = statistics;
        tableModel.HideDodavatelCount = true;

    }
}

@section Scripts
{
    <script>
    $(document).ready(function() {
      $("#selectNavigace").change(function(){
        if ($(this).val()!='') {
          window.location.href= '/BenchmarkDodavatelu/' + $(this).val() + window.location.search;
        }
      });
    });
    </script>
}

<h2>Benchmark cen vybraného dodavatele
    <small class="text-muted">oproti souhrným obvyklým cenám</small>
    </h2>@if (Model.Key.HasValue)
{

    <div class="input-group mb-3">
        <label class="input-group-text" for="selectNavigace">Vyberte dodavatele:</label>
        <select class="form-select" id="selectNavigace">
            <option value="" selected="@string.IsNullOrEmpty(Model.Ico)">Zvolte dodavatele...</option>
            @foreach (var (ico, nazev, pocetCen) in JobService.GetDodavateleList(Model.Key.Value).OrderByDescending(x => x.pocetCen))
            {
                <option value="@ico" selected="@(Model.Ico == ico)">@nazev (@pocetCen cen)</option>
            }
        </select>
    </div>
    
    if (!string.IsNullOrEmpty(Model.Ico))
    {
        <hr/>

        <h2>@Model.Nazev</h2>
        if (showStatistics)
        {
            <partial name="Shared/_SouhrnTable" model="tableModel"/>
            <partial name="Shared/_BoxPlot" model="graphModel"/>
        }
    }
}
