@page
@model ContactModel
@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Kontakt</h1>
        <p class="col-md-8 fs-4">
            Máte zájem o koupi či informace k některé z našich hotových analýz? 
            Máte zájem vytvoření speciální analýzy podle vašich potřeb? 
            Máte analyzu zakoupenu a máte k ní dotazy či připomínky?
        </p>
        <p class="col-md-8 fs-4">
            Kontaktujte nás na <b>podpora@hlidacstatu.cz</b> @*nebo v pracovní době na telefonu <b>+420777737810</b>*@.
        </p>
        <a href="mailto:podpora@hlidacstatu.cz?cc=michal@michalblaha.cz&subject=Cenov%C3%A9%20anal%C3%BDzy" class="btn btn-primary btn-lg" type="button">Poslat email</a>
      </div>
    </div>
