@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cena práce</h1>
    <p>Tato sekce je přístupná pouze platícím členům.</p>
    <p>Tato sekce je přístupná pouze platícím členům.</p>
    <p>Tato sekce je přístupná pouze platícím členům.</p>
    <p>Tato sekce je přístupná pouze platícím členům.</p>
    <p>Tato sekce je přístupná pouze platícím členům.</p>
    <p>Tato sekce je přístupná pouze platícím členům.</p>
    <p>Tato sekce je přístupná pouze platícím členům.</p>
    <p>Tato sekce je přístupná pouze platícím členům.</p>
    <p>Tato sekce je přístupná pouze platícím členům.</p>
    <p>Tato sekce je přístupná pouze platícím členům.</p>
</div>