@page
@model ObjednatModel
@{
    ViewData["Title"] = "Objednávka";
}


<div class="p-5"></div>
<p>
    <script type="text/javascript" src="https://form.fapi.cz/script.php?id=d0c4859b-860d-4cb4-b11a-401fa972fdb2"></script>
</p>