@page "{id?}"
@using HlidacStatu.Ceny.Models
@using HlidacStatu.Ceny.Services
@model HlidacStatu.Ceny.Pages.OborModel

@{
    ViewData["Title"] = "Souhrnné statistiky podle oborů";

    CompareDataModel graphModel = new CompareDataModel();
    TableViewModel tableModel = new TableViewModel();

    bool showStatistics = !string.IsNullOrWhiteSpace(Model.Obor);
    List<JobStatistics> statistics = new List<JobStatistics>();

    if (Model.Key.HasValue)
    {
        if (showStatistics)
        {
            statistics = JobService.GetTagStatistics(Model.Obor, Model.Key.Value);
            //tableModel.CompareWithFirstLine = true;
            //přidáme první řádek se souhrnem, vůči kterému se vše porovnává
            tableModel.ShowFirstColumnNameUnderFirstRow = true;
            tableModel.StatisticsSummary = JobService.GetStatistics(Model.Key.Value)
                .FirstOrDefault(s => s.Name == Model.Obor);
        }
        graphModel.BasicData = statistics;

        tableModel.Statistics = statistics;
        tableModel.FirstColumnName = "Podskupiny";
    }
}

<h1>@Model.Obor</h1>


@if (showStatistics)
{
    <partial name="Shared/_SouhrnTable" model="tableModel" />
}

<partial name="Shared/_BoxPlot" model="graphModel" />

<hr />

<h2>Detailní informace pro <b>@Model.Obor</b></h2>
@{
    var detailModel = (statistics, Model.Key);
}
<partial name="Shared/_DetailDodavatelZadavatel" model="detailModel" />

