@page "{id?}"
@using HlidacStatu.JobsWeb.Services
@using HlidacStatu.JobsWeb.Models
@model OborModel

@{
    ViewData["Title"] = "Souhrnné statistiky podle oborů";

    Boxplot graphModel = new Boxplot();
    TableViewModel tableModel = new TableViewModel();

    bool showStatistics = !string.IsNullOrWhiteSpace(Model.Obor);
    var statistics = new List<JobStatistics>();

    if (Model.Key.HasValue)
    {
        if (showStatistics)
            statistics = JobService.GetTagStatistics(Model.Obor, Model.Key.Value);
        graphModel.BasicData = statistics;

        tableModel.Statistics = statistics;
        tableModel.FirstColumnName = "Tag";
    }

}

<h1>Souhrnné statistiky podle oborů</h1>
@if (Model.Key.HasValue)
{
    <h2>@Model.Obor</h2>

    if (showStatistics)
    {
        <partial name="Shared/_SouhrnTable" model="tableModel"/>

        <partial name="Shared/_BoxPlot" model="graphModel"/>
    }
}