@page
@model WatchdogAnalytics.Pages.PrivacyModel
@{
    ViewData["Title"] = "Zásady ochrany osobních údajů";
}



<div class="col-lg-10 position-relative zindex-5">


    <section class="container pb-sm-3 pb-md-2 pb-lg-2 mb-xl-2 mb-xxl-2">

        <div class="bg-light rounded-5 py-4 py-md-5 px-lg-5">

            <h1 class="privacy-policy-h1">
                Zásady ochrany osobních údajů
            </h1>

            <p>
                <span>Poslední aktualizace 20. února 2023</span>
                <br><span>Datum účinnosti 20. února 2023</span>
            </p>
            <p class="privacy-policy-p">
                Tyto zásady ochrany osobních údajů popisují zásady

                Devmasters s.r.o.,CZ27233545, Česko,
                e-mail: michal@devmasters.cz,
                tel: 777 737 810

                na sbírce,
                používání a zveřejňování vašich údajů, které shromažďujeme
                když používáte naše webové stránky ( www.watchdoganalytics.cz ).
                (dále jen "služba"). Přístupem nebo používáním
                stránek
                služby souhlasíte se shromažďováním, používáním a zpřístupňováním informací o službě.
                zveřejňování vašich informací v souladu s tímto
                Zásadami ochrany osobních údajů. Pokud s tím nesouhlasíte,
                nepřistupujte ke službě ani ji nepoužívejte.
            </p>

            <p class="privacy-policy-p">
                Tyto Zásady ochrany osobních údajů můžeme kdykoli změnit, aniž bychom
                předchozího upozornění a zveřejníme revidované
                Zásady ochrany osobních údajů ve Službě. Revidované Zásady budou
                účinná 180 dní od okamžiku, kdy
                budou revidované Zásady zveřejněny ve Službě a vaše
                pokračování v přístupu ke Službě nebo v jejím používání po uplynutí této doby
                bude představovat váš souhlas s revidovanými Zásadami ochrany osobních údajů.
                Zásad. Doporučujeme vám proto, abyste pravidelně
                kontrolovat tuto stránku.
            </p>

            <ul class="privacy-policy-ol">
                


                <li>
                    <h2 class="privacy-policy-h2">
                        Jak používáme vaše informace:
                    </h2>
                    <p class="privacy-policy-p">
                        Informace, které shromažďujeme, budeme používat
                        o vás k následujícím účelům:
                    </p>
                    <ol class="privacy-policy-ol">


                        <li>Vytvoření uživatelského účtu</li>




                        <li>Zpracování platby</li>




                        <li>Správa objednávky zákazníka</li>





                    </ol>
                    <p class="privacy-policy-p">
                        Pokud chceme vaše údaje použít k jiným účelům.
                        účel, požádáme vás o souhlas a budeme
                        vaše údaje použijeme pouze po obdržení vašeho
                        souhlasu, a pak pouze pro účel(y), pro který(é) jsou tyto údaje
                        které souhlas udělíte, ledaže bychom byli povinni tak učinit
                        jinak ze zákona.
                    </p>
                </li>




                <li>
                    <h2 class="privacy-policy-h2">
                        Vaše práva:
                    </h2>
                    <p class="privacy-policy-p">
                        V závislosti na platném právu můžete mít následující práva
                        právo na přístup a opravu nebo vymazání vašich údajů.
                        osobních údajů nebo obdržet kopii svých osobních údajů.
                        údajů, omezit nebo vznést námitku proti aktivnímu
                        zpracování vašich údajů, požádat nás o sdílení (port)
                        vaše osobní údaje jinému subjektu,
                        odvolat jakýkoli souhlas, který jste nám poskytli
                        zpracovávat vaše údaje, právo podat stížnost
                        u zákonného orgánu a další práva
                        která mohou být relevantní podle platných zákonů. Na adrese
                        uplatnit tato práva, můžete nám napsat na adresu
                        michal@devmasters.cz.
                        Na vaši žádost odpovíme
                        žádost v souladu s platnými právními předpisy.
                    </p>


                    <p class="privacy-policy-p">
                        Vezměte na vědomí, že pokud nám nepovolíte shromažďovat
                        nebo zpracovávat požadované osobní údaje nebo
                        odvoláte souhlas s jejich zpracováním pro
                        požadovaným účelům, nemusí být možné získat přístup
                        nebo využívat služby, pro které jsou vaše údaje
                        byly vyžádány.
                    </p>
                </li>
                <li>
                    <h2 class="privacy-policy-h2">
                        Soubory cookie atd.
                    </h2>
                    <p class="privacy-policy-p">


                        Chcete-li se dozvědět více o tom, jak je používáme
                        a o vašich možnostech v souvislosti s tímto sledováním
                        technologiích, se podívejte na naše
                        <a href="www.watchdoganalytics.cz/privacy">Zásady používání souborů cookie.</a>
                    </p>
                </li>

                <li>
                    <h2 class="privacy-policy-h2">
                        Zabezpečení:
                    </h2>
                    <p class="privacy-policy-p">
                        Bezpečnost vašich informací je důležitá pro
                        a budeme používat přiměřená bezpečnostní opatření
                        abychom zabránili ztrátě, zneužití nebo neoprávněnému
                        změně vašich údajů v rámci našich
                        pod naší kontrolou. Vzhledem k rizikům, která jsou s tím spojena, však
                        nemůžeme zaručit absolutní bezpečnost a
                        v důsledku toho nemůžeme zajistit ani zaručit.
                        bezpečnost jakýchkoli informací, které nám předáte
                        a činíte tak na vlastní nebezpečí.
                    </p>
                </li>


                <li>
                    <h2 class="privacy-policy-h2">
                        Stížnosti / pověřenec pro ochranu osobních údajů:
                    </h2>
                    <p class="privacy-policy-p">
                        Pokud máte jakékoli dotazy nebo obavy týkající se
                        zpracování vašich údajů, které jsou k dispozici
                        u nás, můžete napsat e-mail našemu pověřenci pro stížnosti na adresu
                        Devmasters s.r.o.,
                        648,
                        e-mail: michal@devmasters.cz.
                        Vaše připomínky budeme řešit v souladu s platnými právními předpisy.
                    </p>
                </li>
            </ul>
@*            <p class="privacy-policy-p">
                Zásady ochrany osobních údajů generované pomocí <a target="_blank" href="https://www.cookieyes.com/?utm_source=PP&utm_medium=footer&utm_campaign=UW">CookieYes</a>.
            </p>*@

        </div>


    </section>
</div>

