@page
@using WatchdogAnalytics.Models
@using WatchdogAnalytics.Services
@model WatchdogAnalytics.Pages.SouhrnModel

@{

    JobService.SubjectYearDescription descr = JobService.PerSubjectQuery(Model.Key.Value.Obor, Model.Key.Value.Rok);

    ViewData["Title"] = $"Analýza \"{descr.NiceName}\"";

    CompareDataModel graphModel = new CompareDataModel();
    TableViewModel tableModel = new TableViewModel();

    if (Model.Key.HasValue)
    {
        List<JobStatistics> statistics = JobService.GetStatistics(Model.Key.Value);
        graphModel.BasicData = statistics;

        tableModel.Statistics = statistics;
        tableModel.LinkHref = "/obor";
        tableModel.Key = Model.Key;
    }

}

<h2 class="fw-bolder">Souhrn</h2>
@{
    var distinctJobsForYearAndSubject = JobService.DistinctJobsForYearAndSubject(Model.Key.Value).ToList();
    var pocetSmluv = distinctJobsForYearAndSubject
        .Select(m => m.SmlouvaId).Distinct().Count();
    var pocetZadavatelu = distinctJobsForYearAndSubject
        .Select(m => m.IcoOdberatele).Distinct().Count();
    var pocetDodavatelu = distinctJobsForYearAndSubject
        .SelectMany(m => m.IcaDodavatelu).Distinct().Count();
    var pocetCen = distinctJobsForYearAndSubject
        .Count();
    
    //todo: tmp se nepouziva - zbytecna zatez
    var tmp = distinctJobsForYearAndSubject.OrderByDescending(m => m.PricePerUnitVat).ToArray();
}

<p>
    Analýza obsahuje údaje z @pocetSmluv smluv, od @pocetZadavatelu zadavatelů, a @pocetDodavatelu dodavatelů.
    Analýzu zpracováváme z celkem @pocetCen nalezených cen.
</p>

<p>Ceny jsou uvedeny v Kč za jeden člověkoden, včetně DPH.</p>
@if (Model.Key.HasValue)
{
    <partial name="Shared/_SouhrnTable" model="tableModel" />
    <partial name="Shared/_BoxPlot" model="graphModel" />

}

