@page
@using HlidacStatu.JobsWeb.Services
@using HlidacStatu.JobsWeb.Models
@model SouhrnModel

@{
    ViewData["Title"] = "Souhrnné statistiky";

    bool isKeyValid = false;
    Boxplot graphModel = new Boxplot();
    TableViewModel tableModel = new TableViewModel();
    
    if (Model.Key is not null)
    {
        var statistics = JobService.GetStatistics(Model.Key.Value);
        graphModel.BasicData = statistics;

        tableModel.Statistics = statistics;
        tableModel.LinkHref = "/obor";
    
        isKeyValid = true;
    }
    
}

<h1>Souhrnné statistiky</h1>

@if (isKeyValid)
{
    <partial name="Shared/_SouhrnTable" model="tableModel"/>
    <partial name="Shared/_BoxPlot" model="graphModel"/>
    
}

