@page
@using HlidacStatu.JobsWeb.Services
@using HlidacStatu.JobsWeb.Models
@model SouhrnModel

@{
    ViewData["Title"] = "Souhrnné statistiky";

    var statistics = JobService.GetStatitstics();
    var graphModel = new Boxplot()
    {
        BasicData = statistics
    };

    var tableModel = new TableViewModel()
    {
        Statistics = statistics,
        LinkHref = "/obor"
    };
}

<h1>Souhrnné statistiky</h1>


<partial name="Shared/_SouhrnTable" model="tableModel"/>
<partial name="Shared/_BoxPlot" model="graphModel"/>