@page
@using HlidacStatu.JobsWeb.Services
@using HlidacStatu.JobsWeb.Models
@model SouhrnModel

@{
    ViewData["Title"] = "Souhrnné statistiky";

    var statistics = JobService.GetStatitstics();
    var graphModel = new Boxplot()
    {
        BasicData = statistics
    };
}

<h1>Souhrnné statistiky</h1>


<partial name="Shared/_SouhrnTable" model="statistics"/>
<partial name="Shared/_BoxPlot" model="graphModel"/>