@page
@model HlidacStatu.Ceny.Areas.Identity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Přístup zamítnut";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nejste oprávněni přistupovat k těmto datům.</p>
</header>
