@page
@model WatchdogAnalytics.Areas.Identity.Pages.Account.LockoutModel
@{
    ViewData["Title"] = "Uzamčený účet";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tento účet byl uzamčen. Pokud vaše potíže přetrvávají, kontaktujte <b>obchod@watchdoganalytics.cz</b>.</p>
</header>
