@page
@model WatchdogAnalytics.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrzení změny přístupového hesla";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaše heslo bylo změněno. <a asp-page="./Login">Zde se zalogujte.</a>.
</p>
