
<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <a class="nav-link btn btn-link text-dark" href="https://www.hlidacstatu.cz/Identity/Account/Logout?returnUrl=/jobtableeditor" title="Odhlášení">Odhlásit</a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="https://www.hlidacstatu.cz/Identity/Account/Login?returnUrl=/jobtableeditor"><img src="/Content/img/icon-user.svg" style="padding-right: 8px;">Přihlášení</a>
    </NotAuthorized>
</AuthorizeView>