
<div class="watcher-block">
    <div class="watcher__title">
        <h3 class="new-title">
            Nejrozsáhlejší analýza cen ICT služeb na českém trhu.
        </h3>
    </div>
    <div class="block-col ">
        <p>
            <i class="fa-solid fa-hand-point-right" style="color:black"></i> Přesná a aktuální data, pouze ze skutečně uzavřených smluv.<br />
            <i class="fa-solid fa-hand-point-right" style="color:black"></i> Minimalizujte neúspěšná výběrová řízení stanoveným cenových hladin obvyklých v jednotlivých oborech i profesích.<br />
            <i class="fa-solid fa-hand-point-right" style="color:black"></i> Porovnejte Vaše ceny s jinými úřady, nastavte správné limity.<br />
            <i class="fa-solid fa-hand-point-right" style="color:black"></i> Pracujte s cenami konkurentů napříč celým trhem i srovnáním u jednotlivých zadavatelů.
        </p>
        <p>
            <a class="btn btn-hs btn-warning btn-sm" target="_blank" href="https://www.watchdoganalytics.cz?utm_source=HP&utm_medium=referral&utm_campaign=permanent&utm_content=box1b">Watchdog Analytics</a>
        </p>
    </div>


    <div class="watcher__title">
        <h2 class="new-title">
            Podpořte nás
        </h2>
    </div>
    <div class="block-col " style="width:100%">
        <div data-darujme-widget-token="bysxno1j5icb8vi6" style="width:100%">&nbsp;</div>
        <script type="text/javascript">
            +function (w, d, s, u, a, b) {
                w['DarujmeObject'] = u;
                w[u] = w[u] || function () { (w[u].q = w[u].q || []).push(arguments) };
                a = d.createElement(s); b = d.getElementsByTagName(s)[0];
                a.async = 1; a.src = "https:\/\/www.darujme.cz\/assets\/scripts\/widget.js";
                b.parentNode.insertBefore(a, b);
            }(window, document, 'script', 'Darujme');
            Darujme(1, "bysxno1j5icb8vi6", 'render', "https:\/\/www.darujme.cz\/widget?token=bysxno1j5icb8vi6", "90%");
        </script>

    </div>
</div>
