<div class="watcher-block">

    <div class="watcher__title">
        <h3 class="new-title">
            <a href="/dotace">Kompletně nový Hlídač dotací</a>
        </h3>
    </div>
    <div class="block-col ">
        <p>
            Jediné místo, kde najdete všechny evropské, státní a krajské dotace. A hromadu <a href="/dotace/reporty">reportů a analýz</a>.
        </p>
        <p>
            <a class="btn btn-hs btn-success btn-sm" href="/dotace">Hlídač dotací</a> <a class="btn btn-hs btn-primary btn-sm" href="/dotace/reporty">Reporty a analýzy dotací</a>
        </p>
    </div>

    <hr />
    <div class="watcher__title">
        <h3 class="new-title">
            Platy nejvyšších úředníků a zaměstnanců státu
        </h3>
    </div>
    <div class="block-col ">
        <p>
            Věříme, že občané mají právo znát platy nejvyšších představitelů státních úřadů, institucí a dalších organizačních složek státu.
            Proto jsme se 335 úřadů a organizací zeptali a výsledky zanalyzovali.
        </p>
        <p>
            <a class="btn btn-hs btn-danger btn-sm" href="https://platy.hlidacstatu.cz?utm_source=HP&utm_medium=referral&utm_campaign=permanent&utm_content=box1a">Platy úředníků za roky 2016-<b>2024</b></a>
        </p>
    </div>


    <!-- MailerLite Universal -->
    <script>
        (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

        var ml_account = ml('accounts', '1727018', 'u8a0r9v8n8', 'load');
    </script>
    <!-- End MailerLite Universal -->
    <div class="watcher__title">
        <h3 class="new-title">
            Novinky a zajímavé články mailem
        </h3>
    </div>
    <div class="block-col ">
        <p>
            Přihlaste se k odběru pátečního newsletteru a mějte přehled o všem důležitém!
        </p>
        <p>
            <script>
                var ml_webform_6077068 = ml_account('webforms', '6077068', 'u5g9s7', 'load');
                ml_webform_6077068('animation', 'fadeIn');
            </script>
            <a class="btn btn-hs btn-primary btn-sm" href="javascript:;" onclick="ml_webform_6077068('show')">Přihlásit k odběru</a>
        </p>
    </div>


</div>
