<div class="watcher-block">

    <div class="watcher__title">
        <h3 class="new-title  position-relative d-inline-block">
            <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger" style="font-size:11px">Připravujeme</span>
            <span class="text-bg-warning px-2 py-0 rounded">Nový</span>
            projekt            
        </h3>
    </div>
    <div class="block-col ">
        @* <b>PastVina - investigativní projekt Hlídače státu</b> *@
        <main class="viewer" role="main" aria-label="Video přehrávač">
            <video @* title='PastVina - investigativní projekt Hlídače státu' *@
                   id="hero-video"
                   autoplay
                   loop
                   muted
                   playsinline
                   webkit-playsinline
                   preload="auto"
                   style="display: block;width: 100%;height: 100%;object-fit: contain;background: #000;">
                <source src="/Content/promo/pastvina2.mp4" type="video/mp4">
                Váš prohlížeč nepodporuje HTML5 video.
            </video>
            <script>
                window.addEventListener('DOMContentLoaded', () => {
                  const v = document.getElementById('hero-video');
                  if (!v) return;
                  if (v.paused) {
                    v.play().catch(() => {  });
                  }
                });
            </script>
        </main>
    </div>

    <hr />

    <div class="watcher__title">
        <h2 class="new-title">
            Podpořte nás <i class="fa-solid fa-circle-heart fa-2x mx-3" style="color:red;font-size:2rem"></i>
        </h2>
    </div>
    <div class="block-col " style="width:100%">
        <div data-darujme-widget-token="bysxno1j5icb8vi6" style="width:100%">&nbsp;</div>
        <script type="text/javascript">
            +function (w, d, s, u, a, b) {
                w['DarujmeObject'] = u;
                w[u] = w[u] || function () { (w[u].q = w[u].q || []).push(arguments) };
                a = d.createElement(s); b = d.getElementsByTagName(s)[0];
                a.async = 1; a.src = "https:\/\/www.darujme.cz\/assets\/scripts\/widget.js";
                b.parentNode.insertBefore(a, b);
            }(window, document, 'script', 'Darujme');
            Darujme(1, "bysxno1j5icb8vi6", 'render', "https:\/\/www.darujme.cz\/widget?token=bysxno1j5icb8vi6", "90%");
        </script>

    </div>



</div>
