<div class="watcher-block">

    <div class="watcher__title">
        <h3 class="new-title">
            <span class="text-bg-warning px-2 py-0 rounded">Dotace</span> EU, státní a krajské
            @* <span style="vertical-align:middle"><img style="height:42px;color:yellow;margin-right:1px" src="/Content/exkluzivne.svg"></span> *@
        </h3>
    </div>
    <div class="block-col ">
        <p>
            Jediné místo, kde najdete všechny evropské, státní a krajské dotace. A hromadu <a href="/dotace/reporty">reportů a analýz</a>.
        </p>
        <p>
            <a class="btn btn-primary " href="/dotace">Hlídač dotací</a>
            @* <a class="btn btn-outline-primary" href="/dotace/reporty">Reporty a analýzy dotací</a> *@
        </p>
    </div>

    <hr />

    <div class="watcher__title">
        <h2 class="new-title">
            Podpořte nás
        </h2>
    </div>
    <div class="block-col " style="width:100%">
        <div data-darujme-widget-token="bysxno1j5icb8vi6" style="width:100%">&nbsp;</div>
        <script type="text/javascript">
            +function (w, d, s, u, a, b) {
                w['DarujmeObject'] = u;
                w[u] = w[u] || function () { (w[u].q = w[u].q || []).push(arguments) };
                a = d.createElement(s); b = d.getElementsByTagName(s)[0];
                a.async = 1; a.src = "https:\/\/www.darujme.cz\/assets\/scripts\/widget.js";
                b.parentNode.insertBefore(a, b);
            }(window, document, 'script', 'Darujme');
            Darujme(1, "bysxno1j5icb8vi6", 'render', "https:\/\/www.darujme.cz\/widget?token=bysxno1j5icb8vi6", "90%");
        </script>

    </div>



</div>
