<div class="watcher-block" style="padding: 32px 0 0 0">

    <div class="watcher__title" style="padding-top:32px;padding-left:32px;padding-right:32px;background-color:var(--pv-bg-dark)">
        <h3 class="new-title  position-relative d-inline-block">
            <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger" style="font-size:11px">Spuštěno</span>
            <span class="text-bg-pastvina px-2 py-0 rounded">PastVina</span>

        </h3>
    </div>
    <div class="block-col " style="padding-bottom:32px;padding-left:32px;padding-right:32px;background-color:var(--pv-bg-dark)">
        <p style="color:white">Nový investigativní projekt Hlídače státu a exreportérů České televize.</p>
        <p>
            <div class="text-center">
                <div class="row">
                    <div class="col"><i class="fa-solid fa-hand-back-point-right text-pastvina"></i></div>
                    <div class="col text-start">
                        <a href="https://www.past-vina.cz" target="_blank" class="text-pastvina">Články,&nbsp;reportáže</a>
                    </div>
                    <div class="col text-center">
                        <a href="https://donio.cz/nas-neumlci-podporte-investigativu-pastvina" target="_blank" class="text-pastvina">Podpora&nbsp;Donio</a>
                    </div>
                    <div class="col text-end">
                    <a href="https://herohero.co/pastvina" target="_blank" class="text-pastvina">Předplatné&nbsp;bonusy</a>
                    </div>
                </div>
            </div>
            

        </p>
        @* <b>PastVina - investigativní projekt Hlídače státu</b> *@
        @{
            await using var db = new HlidacStatu.Entities.DbEntities();
            var pastvinaUrl = db.TipUrl
                    .Where(m => m.Name == "HP-pastvina")
                    .Select(m => m.Url)
                    .FirstOrDefault() ?? "https://www.youtube.com/embed/8XQ2X1K3J8M";    

        }
        <div style="width: 100%; min-width: 400px; max-width: 800px;">
            <div style="position: relative; width: 100%; overflow: hidden; padding-top: 56.25%;">
                <p><iframe style="position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; border: none;"
                            title="PastVina"
                            src="@(pastvinaUrl)" width="560" height="315"
                            allowfullscreen="allowfullscreen" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
                </iframe></p>
            </div>
        </div>


    </div>

    <div style="background-color:#FFF">
    <div class="watcher__title">
        <h2 class="new-title">
            Podpořte nás <i class="fa-solid fa-circle-heart fa-2x mx-3" style="color:red;font-size:2rem"></i>
        </h2>
    </div>
    <div class="block-col " style="width:100%">
        <div data-darujme-widget-token="bysxno1j5icb8vi6" style="width:100%">&nbsp;</div>
        <script type="text/javascript">
            +function (w, d, s, u, a, b) {
                w['DarujmeObject'] = u;
                w[u] = w[u] || function () { (w[u].q = w[u].q || []).push(arguments) };
                a = d.createElement(s); b = d.getElementsByTagName(s)[0];
                a.async = 1; a.src = "https:\/\/www.darujme.cz\/assets\/scripts\/widget.js";
                b.parentNode.insertBefore(a, b);
            }(window, document, 'script', 'Darujme');
            Darujme(1, "bysxno1j5icb8vi6", 'render', "https:\/\/www.darujme.cz\/widget?token=bysxno1j5icb8vi6", "90%");
        </script>

    </div>



</div>
</div>