@{
    ViewBag.Title = "Beta";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<h1>Beta funkcionality hlídače státu</h1>
<p>Tyto stránky nejsou veřejné a jakékoliv funkcionality zde jsou čistě experimentální</p>

<a asp-controller="Dotace" asp-action="Detail" asp-route-id="cedr-d1ef6b2cca84c00aef79042b21b84961b0e197c4">dotace</a>
