@using System.Linq
@using System.Net.Http
@using Devmasters.Collections
@using Devmasters.Enums;
@using HlidacStatu.Datasets
@using HlidacStatu.Entities
@using HlidacStatu.Repositories;
@using HlidacStatu.Web.TagHelpers
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Primitives



<div class="mega-content px-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-3 py-4">
                <h5>Typy zakazek</h5>
                <div class="list-group">
                    <a class="list-group-item" href="#">IT</a>
                    <a class="list-group-item" href="#">Stavebni</a>
                    <a class="list-group-item" href="#">zase podivne</a>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 py-4">
                <h5>Urady</h5>
                <div class="card">
                    <img src="img/banner-image.jpg" class="img-fluid" alt="image">
                    <div class="card-body">
                        <p class="card-text">MMR MMR MMR text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 py-4">
                <h5>Dalsi smloupec 3</h5>
                <p><b>CodeHim</b> is one of the BEST developer websites that provide web designers and developers with a simple way to preview and download a variety of free code & scripts.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-3 py-4">
                <h5>Dalsi sloupec 4</h5>
                <div class="list-group">
                    <a class="list-group-item" href="#">Accomodations</a>
                    <a class="list-group-item" href="#">Terms & Conditions</a>
                    <a class="list-group-item" href="#">Privacy</a>
                </div>
            </div>
        </div>
    </div>
</div>
