@using System.Linq
@using System.Net.Http
@using Devmasters.Collections
@using Devmasters.Enums;
@using HlidacStatu.Datasets
@using HlidacStatu.Entities
@using HlidacStatu.Repositories;
@using HlidacStatu.Web.TagHelpers
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Primitives



<div class="mega-content px-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-3 py-4">
                <h3>Dotace</h3>
                <p>
                    Informace o dotacích se evidují v různé míře podrobnosti do desítek různých rejstříků a databází, 
                    ze kterých je čerpáme my. Update provádíme přibližně 1x za půl roku.

                </p>
                <p>
                    Pokud chcete vyhledávat pouze dotace, nejlepší je to pomocí <a href="/dotace">vyhledávání na stránce dotací</a>.
                </p>
            </div>
            <div class="col-12 col-sm-4 col-md-3 py-4">
                <h3>Hlídání dostupnosti státních webů</h3>
                <p>
                    Co to vlastně děláme?
                    Měříme každou minutu, zda důležité weby státu a samosprývy běží a jak rychle odpovídají.
                    Tomu odpovídají i zobrazené barvy ve vizualizacích s významem podobným semaforu. Zelená je vše OK, oranžová znamená pomalou odpověď a červená je nedostupný či velmi pomalu odpovídající server.
                </p>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <a href='/StatniWeby/Dalsi/Https'>Podpora HTTPs</a>
                        </li>
                        @foreach (var item in UptimeServer.TabsOnWeb.Take(5))
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <a href='/StatniWeby/Dalsi/@(item.Key)'>@(item.Value)</a>
                            </li>
                        }
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <a href='/StatniWeby/'>Všechny sledované weby</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-3 py-4">
                <h3>Další databáze</h3>
                <p>Zpracováváme pro vás desítky dalších menších databází a datových zdrojů z různých oblastí.</p>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            @{
                                Dictionary<string, string> datasety = new Dictionary<string, string>()
                            {
                            {"vyjadreni-politiku","Politici" },
                            {"stenozaznamy-psp","Politici" },
                            {"de-minimis","Rejstříky" },
                            {"rejstrik-trestu-pravnickych-osob","Rejstříky" },
                            {"covid-podpora","Ekonomika" },
                            {"ministry-invoices","Ekonomika" },
                            {"veklep","Veřejná správa" },
                            {"zasedani-zastupitelstev","Veřejná správa" },
                            {"rozhodnuti-uohs","Veřejná správa" },

                            };
                                var groups = datasety.Values.Distinct();
                            }
                            @foreach (var group in groups)
                            {
                                <div class="fw-bold">@group</div>
                                <ul>
                                    @foreach (var ds in datasety.Where(m => m.Value == group))
                                    {
                                        var specificDataset = DataSet.CachedDatasets.Get(ds.Key);
                                        if (specificDataset != null)
                                        {
                                            <li>
                                                <a href="/data/Index/@ds.Key">@specificDataset.RegistrationAsync().Result.name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            }
                        </div>
                    </li>
                </ul>

            </div>
            <div class="col-12 col-sm-12 col-md-3 py-4">
                <h3>Analýza ICT smluv</h3>
                <p>
                    Nejrozsáhlejší analýza <b>cen ICT služeb</b> na českém trhu. Přesná a aktuální, pouze ze <b>skutečně uzavřených smluv</b>.
                </p>
                <p>
                    <a class="btn btn-warning btn-sm" href="https://www.watchdoganalytics.cz/?utm_source=megamenu&utm_medium=referral&utm_campaign=utm_campaign=permanent&utm_content=menuDalsi" role="button">Zobrazit detaily</a>
                </p>
                <div class="col d-flex align-items-start">
                    <i class="fa fa-circle-1 fa-2x bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
                    <div>
                        <h4 class="fw-bold mb-0 fs-4 text-body-emphasis">10&nbsp;000+</h4>
                        <p>
                            10 000+ zanalyzovaných cen za ICT služby
                        </p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="fa fa-circle-2 fa-2x bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
                    <div>
                        <h4 class="fw-bold mb-0 fs-4 text-body-emphasis">
                            2020-22
                        </h4>
                        <p>
                            Trendy za tři roky, navazuje na analýzy z 2017-2018 od Min.vnitra
                        </p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="fa fa-circle-3 fa-2x bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
                    <div>
                        <h4 class="fw-bold mb-0 fs-4 text-body-emphasis">
                            600+
                        </h4>
                        <p>
                            dodavatelů a zadavatelů. Pro každého unikátní analýza potřeb i provedených nabídek.
                        </p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="fa fa-circle-4 fa-2x bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"></i>
                    <div>
                        <h4 class="fw-bold mb-0 fs-4 text-body-emphasis">
                            rok 2020 zadarmo
                        </h4>
                        <p>
                            Přehled obvyklých cen IT prací ve státní správě za rok 2020 <b>zcela zdarma</b>. Údaje z 726 smluv od 305 zadavatelů, 335 dodavatelů, zahrnuje 3693 cen.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
