@using System.Linq


<div class="mega-content px-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 py-4 bg-body-tertiary">
                <h3>Hlídač státu</h3>
                <p>
                    <b>
                        Hlídáme politiky a úřady, aby s veřejnými penězi nakládali svědomitě.
                    </b>
                <p>
                    <a class="btn btn-hs btn-primary px-4" onclick="return trackOutLink(this,'megamenu');" href="https://texty.hlidacstatu.cz/o-serveru/">O hlídači</a>
                    <a class="btn btn-hs btn-primary px-4" onclick="return trackOutLink(this,'megamenu');" href="/Content/IMPACT-REPORT-2024.pdf">Co vše děláme</a>
                    <a class="btn btn-hs btn-primary px-4" onclick="return trackOutLink(this,'megamenu');" href="https://texty.hlidacstatu.cz/team/">Kdo ho tvoří</a>
                </p>

                <hr />
                <p>
                    <ul class="list-group">
                        <li class="list-group-item"><a onclick="return trackOutLink(this,'megamenu');" href="https://texty.hlidacstatu.cz/category/napoveda/"><b>Nápověda, tipy a triky</b></a></li>
                        <li class="list-group-item"><a onclick="return trackOutLink(this,'megamenu');" href="https://texty.hlidacstatu.cz/kontakt/">Kontakt</a></li>
                        <li class="list-group-item"><a onclick="return trackOutLink(this,'megamenu');" href="https://texty.hlidacstatu.cz/pro-media/">Pro média</a></li>
                    </ul>
                </p>
            </div>
            <div class="col-12 col-md-4 py-4">
                <div class="mega-content-subtitle"><a onclick="return trackOutLink(this,'megamenu');" href="https://texty.hlidacstatu.cz">Kauzy a další texty</a></div>
                <p>

                    <ul class="list-group">
                       

                       @foreach (var wp in HlidacStatu.XLib.StaticData.LastBlogPosts
                        .Get()
                        .Where(m => m.Date > new DateTime(2020, 1, 25) && m.Categories.Contains(246) == false) //not tipy
                        .OrderByDescending(m => m.Date)
                        .Take(5)
                        )
                            {
                            <li class="list-group-item">
                                <a onclick="return trackOutLink(this,'megamenu');" href="@wp.Link">
                                    @Devmasters.TextUtil.ShortenText(wp.Title.Rendered, 55)
                                </a>

                            </li>
                            }
                        <li class="list-group-item"><b><a onclick="return trackOutLink(this,'megamenu');" href="https://texty.hlidacstatu.cz">Další články</a></b></li>
                    </ul>
                </p>
            </div>
            <div class="col-12 col-md-4 py-4 bg-body-tertiary">
                <div class="mega-content-subtitle">Podpořte nás! <i class="fas fa-heart" style="color:red" aria-hidden="true"></i></div>
                <p>
                    Korupce ze státních zakázek stojí každého z nás 250 půllitrů piva ročně. Nechcete platit piva, která nevypijete? 
                    Pomozte nám hlídat a přispějte tak k lepšímu fungování ČR.
                </p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a onclick="return trackOutLink(this,'megamenu');" href="https://www.darujme.cz/darovat/1200384">
                                Podpořte naši činnost finančním datem 
                            </a>

                        </li>
                        <li class="list-group-item">
                            <a onclick="return trackOutLink(this,'megamenu');" href="https://texty.hlidacstatu.cz/vsem-nasim-darcum-ze-srdce-dekujeme-za-podporu/" style="color:#3c763d;font-weight:bold">
                                Podporují nás <i class="fas fa-heart" style="color:red" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-group-item"><a onclick="return trackOutLink(this,'megamenu');" href="https://texty.hlidacstatu.cz/pomohu-spravnemu-fungovani-cr/">Proč nás podpořit?</a></li>
                    </ul>
                
            </div>

        </div>
    </div>
</div>
