<div class="mega-content px-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-3 py-4">
                <h3>Dotace</h3>
                <p>
                    Informace o dotacích se evidují v různé míře podrobnosti do desítek různých rejstříků a databází, 
                    ze kterých je čerpáme my. Update provádíme přibližně 1x za půl roku.
                </p>	
            </div>
            <div class="col-12 col-sm-4 col-md-3 py-4">
                <h3>Hlídání dostupnosti státních webů</h3>
            </div>

                <div class="card">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href='/StatniWeby/Https'>Podpora HTTPs</a>
                        </li>
                        <li class="list-group-item">
                            <a href='/StatniWeby/'>Všechny sledované weby</a>
                        </li>
                    </ul>

                </div>
            <div class="col-12 col-sm-4 col-md-3 py-4">
                <h3>Další databáze</h3>
                <p>Zpracováváme pro vás desítky dalších menších databází a datových zdrojů z různých oblastí.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-3 py-4">
                <p>
                    <a href="https://www.watchdoganalytics.cz/?utm_source=megamenu&utm_medium=referral&utm_campaign=utm_campaign=permanent&utm_content=menuDalsi"><img src="/content/img/WatchdogAnalytics_logo_2_lines.svg" style="max-height:70px;" /></a>
                </p>
            </div>
        </div>
    </div>
</div>
