@using System.Linq
@using Devmasters.Enums;
@using HlidacStatu.Entities
@using HlidacStatu.Repositories;

@{
    var vzList = Devmasters.Enums.EnumTools.EnumToEnumerable(typeof(VerejnaZakazkaRepo.Searching.CPVSkupiny))
        .Select(m => new
        {
            id = m.Id,
            name = m.Name,
            count = VerejnaZakazkaRepo.Searching.CachedSimpleSearch(TimeSpan.FromHours(6),
            new HlidacStatu.Repositories.Searching.VerejnaZakazkaSearchData()
                    {
                        Q = "zverejneno:[" + DateTime.Now.Date.AddMonths(-12).ToString("yyyy-MM-dd") + " TO *]",
                        //Q = "*",
                        Oblast = m.Id.ToString(),
                        Page = 0,
                        PageSize = 0,
                        ExactNumOfResults = true
                    }
            ).Total
        })
        .Where(m => m.count > 0)
        .OrderByDescending(o => o.count)
        .ThenBy(o => o.name)
        .ToArray()
        ;
    int vzOblCount = Devmasters.Enums.EnumTools.EnumToEnumerable(typeof(VerejnaZakazkaRepo.Searching.CPVSkupiny)).Count;
    long vzCountSum = vzList.Sum(m => m.count);
    long vzCount = 0;
}

<div class="mega-content px-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 py-4 bg-body-tertiary">
                <h3><a onclick="return trackOutLink(this,'megamenu');" href="/verejnezakazky">Veřejné zakázky</a></h3>
                <p>
                    Každý subjekt (úřad, škola, nemocnice atp.), kterého se týká zákon o zadávání veřejných zakázek
                    (<a onclick="return trackOutLink(this,'megamenu');" href="https://www.zakonyprolidi.cz/cs/2016-134" target="_blank">zákon 134/2016</a>)
                    a který chce nakoupit zboží, služby nebo stavební práce nad určitou cenovou hladinou, musí zahájit veřejnou zakázku.
                    Seznamů veřejných zakázek jsou tisíce. Sledujeme je a zakázky z nich sbíráme. Vzhledem ke stavu zdrojových dat ale nemůžeme garantovat, že zobrazíme kompletně všechny.
                </p>
                <p>
                    Pokud chcete najít informace o konkrétním zadavateli, nejrychlejší je napsat jeho jméno do vyhledávání. 
                    Pokud vás zajímají podrobnější informace o veřejných zakázkách, zadejte klíčové slovo nebo číslo přímo 
                    do vyhledavače na stránce veřejných zakázek.
                </p>
            </div>
            <div class="col-12 col-md-4 py-4">
                <h3>Zakázky podle oborů</h3>
                <ul class="list-group">
                    @foreach (var obl in vzList.Take(10))
                    {
                        vzCount = vzCount + obl.count;

                        <li class="list-group-item">
                            <a onclick="return trackOutLink(this,'megamenu');" href="/verejnezakazky/hledat?q=&oblast=@VerejnaZakazkaRepo.Searching.NormalizeOblastValue(obl.id.ToString())&order=1">@obl.name</a>
                        </li>
                    }
                    <li class="list-group-item">
                        <b><a onclick="return trackOutLink(this,'megamenu');" href="/verejnezakazky/">Všechny obory veřejných zakázek</a></b>
                    </li>

                </ul>
            </div>
            <div class="col-12 col-md-4 py-4 bg-body-tertiary">
                <h3>Zakázky podle zadavatelů</h3>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Státní úřady</div>
                            @{
                                Firma.Zatrideni.SubjektyObory[] uradyList1 = new Firma.Zatrideni.SubjektyObory[]
                                {
                            Firma.Zatrideni.SubjektyObory.Ministerstva,
                            Firma.Zatrideni.SubjektyObory.Dalsi_ustredni_organy_statni_spravy,
                            Firma.Zatrideni.SubjektyObory.Media,
                            Firma.Zatrideni.SubjektyObory.Statni_podniky,
                            Firma.Zatrideni.SubjektyObory.Organizacni_slozky_statu,
                                };
                            }
                            <ul>
                                @foreach (var l in uradyList1)
                                {
                                    <li>
                                        <a onclick="return trackOutLink(this,'megamenu');" href="/adresar/@(l.ToString())?vz=1">@(l.ToNiceDisplayName())</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Samospráva</div>
                            @{
                                Firma.Zatrideni.SubjektyObory[] uradyList2 = new Firma.Zatrideni.SubjektyObory[]
                                {
                            Firma.Zatrideni.SubjektyObory.Obce_III_stupne,
                            Firma.Zatrideni.SubjektyObory.Kraje_Praha,
                            Firma.Zatrideni.SubjektyObory.Statutarni_mesta,
                            Firma.Zatrideni.SubjektyObory.Mestske_casti_Prahy,
                                };
                            }
                            <ul>
                                @foreach (var l in uradyList2)
                                {
                                    <li>
                                        <a onclick="return trackOutLink(this,'megamenu');" href="/adresar/@(l.ToString())?vz=1">@(l.ToNiceDisplayName())</a>
                                    </li>
                                }
                            </ul>

                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Zdravotnictví</div>
                            @{
                                Firma.Zatrideni.SubjektyObory[] uradyList3 = new Firma.Zatrideni.SubjektyObory[]
                                {
                            Firma.Zatrideni.SubjektyObory.Zdravotni_pojistovny,
                            Firma.Zatrideni.SubjektyObory.Zdravotni_ustavy,
                            Firma.Zatrideni.SubjektyObory.Fakultni_nemocnice,
                            Firma.Zatrideni.SubjektyObory.Velke_nemocnice,
                            Firma.Zatrideni.SubjektyObory.Nemocnice,
                                };
                            }
                            <ul>
                                @foreach (var l in uradyList3)
                                {
                                    <li>
                                        <a onclick="return trackOutLink(this,'megamenu');" href="/adresar/@(l.ToString())?vz=1">@(l.ToNiceDisplayName())</a>
                                    </li>
                                }
                            </ul>

                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <a class="fw-bold" onclick="return trackOutLink(this,'megamenu');" href="/adresar?vz=1">a stovky další úřadů</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
