@using System.Linq
@using System.Net.Http
@using Devmasters.Collections
@using Devmasters.Enums;
@using HlidacStatu.Datasets
@using HlidacStatu.Entities
@using HlidacStatu.Repositories;
@using HlidacStatu.Web.TagHelpers
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Primitives

@{
    var vzList = Devmasters.Enums.EnumTools.EnumToEnumerable(typeof(VerejnaZakazkaRepo.Searching.CPVSkupiny))
        .Select(m => new
        {
            id = m.Id,
            name = m.Name,
            count = VerejnaZakazkaRepo.Searching.CachedSimpleSearch(TimeSpan.FromHours(6),
            new HlidacStatu.Repositories.Searching.VerejnaZakazkaSearchData()
                    {
                        Q = "zverejneno:[" + DateTime.Now.Date.AddMonths(-12).ToString("yyyy-MM-dd") + " TO *]",
                        //Q = "*",
                        Oblast = m.Id.ToString(),
                        Page = 0,
                        PageSize = 0,
                        ExactNumOfResults = true
                    }
            ).Total
        })
        .Where(m => m.count > 0)
        .OrderByDescending(o => o.count)
        .ThenBy(o => o.name)
        .ToArray()
        ;
    int vzOblCount = Devmasters.Enums.EnumTools.EnumToEnumerable(typeof(VerejnaZakazkaRepo.Searching.CPVSkupiny)).Count;
    long vzCountSum = vzList.Sum(m => m.count);
    long vzCount = 0;
}

<div class="mega-content px-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-4 py-4 bg-body-tertiary">
                <h5>Veřejné zakázky</h5>
                <p>
                    Každý subjekt (úřad, škola, nemocnice atp.), kterého se týká zákon o zadávání
                    veřejných zakázek (<a href="https://www.zakonyprolidi.cz/cs/2016-134" target="_blank">zákon 134/2016</a>)
                    a který chce nakoupit zboží, služby nebo stavební práce nad určitou cenovou hladinou,
                    musí zahájit veřejnou zakázku. Je z něj tak zadavatel, který hledá dodavatele. Budoucí dodavatelé se přihlásí do výběrového řízení.
                    Zadavatel si pak podle předem vyhlášených podmínek vybere toho nejlepšího z přihlášených
                    a uzavře s ním smlouvu (kterou najdete zase mezi smlouvami).
                </p>
                <p>
                    Seznam veřejných zakázek není na internetu na jediném místě. Stránek, kde
                    zadavatelé uveřejňují své zakázky jsou tisíce. My je sledujeme všechny a zakázky
                    z nich sbíráme, ale díky neúplnosti, chybám zadavatelů a roztříštěnosti informací nemůže garantovat, že najdeme všechny.
                </p>
            </div>
            <div class="col-12 col-sm-4 py-4">
                <h5>Zakázky podle oborů</h5>
                <ul class="list-group">
                    @foreach (var obl in vzList.Take(10))
                    {
                        vzCount = vzCount + obl.count;

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a href="/verejnezakazky/hledat?q=*&oblast=@VerejnaZakazkaRepo.Searching.NormalizeOblastValue(obl.id.ToString())&order=1">@obl.name</a></div>
                            </div>
                            <span class="badge bg-primary rounded-pill">@(HlidacStatu.Util.RenderData.NiceNumber(obl.count, false))</span>
                        </li>
                    }
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"><a href="/verejnezakazky/">Dalších @(vzOblCount - 10) oblastí VZ</a></div>
                        </div>
                        <span class="badge bg-primary rounded-pill">@(HlidacStatu.Util.RenderData.NiceNumber(vzCountSum - vzCount, false))</span>
                    </li>

                </ul>
            </div>
            <div class="col-12 col-sm-4 py-4 bg-body-tertiary">
                <h5>Zakázky podle zadavatelů</h5>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold"><a href="/report/7">Souhrny</a></div>
                            Souhrnné informace o všech smlouvách
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Stát</div>
                            <ul>
                                <li>
                                    <a href="/adresar/Ministerstva">Ministerstva</a>
                                    <span class="badge rounded-pill text-bg-light">124</span>
                                </li>
                                <li>
                                    <a href="/adresar/Media">Média</a>
                                    <span class="badge rounded-pill text-bg-light">124</span>

                                </li>
                                <li>
                                    <a href="/adresar/Statni_podniky">Státní podniky</a>
                                    <span class="badge rounded-pill text-bg-light">124</span>
                                </li>
                                <li>
                                    <a href="/adresar/vyjimky_rs">Výjimky z RS</a>
                                    <span class="badge rounded-pill text-bg-light">124</span>
                                </li>
                                <li><a href="/adresar">... a další</a></li>
                            </ul>
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Samospráva</div>
                            <ul>
                                <li>
                                    <a href="/adresar/Obce_III_stupne">Obce</a>
                                    <span class="badge rounded-pill text-bg-light">124</span>
                                </li>
                                <li>
                                    <a href="/adresar/Kraje_Praha">Kraje</a>
                                    <span class="badge rounded-pill text-bg-light">124</span>

                                </li>
                                <li>
                                    <a href="/adresar/Statutarni_mesta">Statutární městsa</a>
                                    <span class="badge rounded-pill text-bg-light">124</span>
                                </li>
                                <li>
                                    <a href="/adresar/Mestske_casti_Prahy">Městské části Prahy</a>
                                    <span class="badge rounded-pill text-bg-light">124</span>
                                </li>
                                <li><a href="/adresar">... a další</a></li>
                            </ul>
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
