@using HlidacStatu.Lib.Analytics
@using Nest
@using HlidacStatu.XLib.Render;
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories
@using HlidacStatu.Entities


@{
    Layout = "_ReportLayout";

    int size = 100;
    AggregationContainerDescriptor<Smlouva> aggs = new AggregationContainerDescriptor<Smlouva>()
        .Terms("perIco", m => m
            .Field("platce.ico")
            .Size(size)
            .Order(o => o.Descending("_count"))
        );


    var res = await SmlouvaRepo.Searching.SimpleSearchAsync("(issues.issueTypeId:18 OR issues.issueTypeId:12)", 1, 0,
        SmlouvaRepo.Searching.OrderResult.FastestForScroll, aggs, platnyZaznam: true);

    ReportDataSource rdsPerIco = new(new ReportDataSource.Column[]
        {
            new()
            {
                Name = "IČO",
                HtmlRender =(s) =>
                {
                    System.Tuple<string, string> data = (System.Tuple<string, string>)s;
                    return string.Format(@"<a href='/subjekt/{0}'>{1}</a>", data.Item2, data.Item1);
                },
                TextRender = (s) => { return ((System.Tuple<string, string>)s).Item1.ToString(); },
                ValueRender = (s) => { return $"\"{((System.Tuple<string, string>)s).Item1.ToString()}\""; }
            },
            new()
            {
                Name = "Počet smluv s utajeným dodavatelem",
                OrderValueRender = (s) => { return HlidacStatu.Util.RenderData.OrderValueFormat(Convert.ToInt64(s)); },
                ValueRender = (s) => { return Convert.ToInt64(s).ToString("F0", HlidacStatu.Util.Consts.enCulture); }
            },
            new()
            {
                Name = "Počet všech smluv",
                OrderValueRender = (s) => { return HlidacStatu.Util.RenderData.OrderValueFormat(Convert.ToInt64(s)); },
                ValueRender = (s) => { return Convert.ToInt64(s).ToString("F0", HlidacStatu.Util.Consts.enCulture); }
            },
            new()
            {
                Name = "% smluv s utajenými dodavateli",
                HtmlRender =(s) => { return ((double)s).ToString("P1"); },
                TextRender = (s) => { return ((double)s).ToString("P1"); },
                OrderValueRender = (s) => { return HlidacStatu.Util.RenderData.OrderValueFormat((double)s); },
                ValueRender = (s) => { return ((double)s).ToString("F2", HlidacStatu.Util.Consts.enCulture); }
            },
        }
    );

    foreach (Nest.KeyedBucket<object> val in ((BucketAggregate)res.ElasticResults.Aggregations["perIco"]).Items)
    {
        StatisticsSubjectPerYear<Smlouva.Statistics.Data> statRs = new();
        var f = Firmy.GetAsync((string)val.Key);
        if (f != null)
            statRs = await f.StatistikaRegistruSmluvAsync();
        rdsPerIco.AddRow(
            new Tuple<string, string> (await FirmaRepo.NameFromIcoAsync((string)val.Key, true), (string)val.Key),
            val.DocCount,
            statRs.Summary().PocetSmluv,
            (double)val.DocCount / (double)statRs.Summary().PocetSmluv
        );
    }


    var model = new ReportModel();
    model.Add("perIcoChart_d", "Plátci utajující nejvíce smluv",
        Html.SimpleBarChart(
            false, false,
            400,
            "perIco_d",
            "Úřady", "Počet smluv",
            rdsPerIco.Filter(10))
    );
    model.Add("perIcoTable", "", rdsPerIco);
}

<div class="dontembed">
    <p class="text-muted">Odběratelé skrývající smluvní strany s odkazem na obchodní tajemství</p>
    <p>
        <a href="/Report/10">Úplný seznam smluv skrývající smlouvní strany</a>
    </p>
</div>
<div class="onlyembed">
    <h3>Úřady nejvíce skrývající své dodavatele</h3>
</div>
<div class="row">
    <div class="col-xs-12 dontembed">
        @foreach (var q in model.GetQueue("perIcoChart_d"))
        {
            @ChartUtilExtensions.RenderReport(q, HtmlExtensions.DatatableOptions(orderColumnIdx: 3, orderDirection: "desc"), q.Key)
        }


    </div>
    <div class="col-xs-12">
        @foreach (var q in model.GetQueue("perIcoTable"))
        {
            @ChartUtilExtensions.RenderReport(q, HtmlExtensions.DatatableOptions(orderColumnIdx: 3, orderDirection: "desc"), q.Key)
        }
    </div>
</div>