@using System.Linq
@using HlidacStatu.Entities
@using HlidacStatu.Entities.Analysis
@using HlidacStatu.Extensions
@using HlidacStatu.Lib.Analytics
@using HlidacStatu.XLib.Render
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.Cache
@using HlidacStatu.XLib

@{
    Layout = "_ReportLayout";

    ReportDataSource<(BasicDataForSubject<List<BasicData<string>>> Bdfs, Firma? Firma, StatisticsSubjectPerYear<Smlouva.Statistics.Data>? Stat)>.Column[] tableSloupce =
    [
        new()
        {
            Name = "Úřad",
            HtmlRender = (s) => $"<a href='/subjekt/{s.Firma.ICO}'>{s.Firma.Jmeno}</a> <br/> {s.Stat.Summary().ToNiceLinkString(null, true, "/subjekt/" + s.Firma.ICO)}",
            OrderValueRender = (s) => s.Firma.Jmeno
        },
        new()
        {
            Name = "Počet smluv",
            HtmlRender = (s) => s.Bdfs.Pocet.ToString(),
            OrderValueRender = (s) => s.Bdfs.Pocet.ToString()
        },
        new()
        {
            Name = "% všech smluv",
            HtmlRender = (s) =>
            {
                if (s.Stat.Summary().PocetSmluv > 0)
                {
                    return ((double)s.Bdfs.Pocet / (double)s.Stat.Summary().PocetSmluv).ToString("P2");
                }
                else
                    return "0";
            },
            OrderValueRender = (s) => HlidacStatu.Util.RenderData.OrderValueFormat(s.Stat.Summary().PocetSmluv)
        },
        new()
        {
            Name = "Celková hodnota smluv",
            HtmlRender = (s) => Smlouva.NicePrice(s.Bdfs.CelkemCena, html: true, shortFormat: true),
            OrderValueRender = (s) => HlidacStatu.Util.RenderData.OrderValueFormat(s.Bdfs.CelkemCena)
        },
        new()
        {
            Name = "% hodnoty všech smluv",
            HtmlRender = (s) =>
            {
                if (s.Stat.Summary().CelkovaHodnotaSmluv > 0)
                {
                    return (s.Bdfs.CelkemCena / s.Stat.Summary().CelkovaHodnotaSmluv).ToString("P1");
                }
                else
                    return "0";
            },
            OrderValueRender = (s) => HlidacStatu.Util.RenderData.OrderValueFormat((s.Stat.Summary().CelkovaHodnotaSmluv))
        },
        new()
        {
            Name = "Dodavatelé",
            HtmlRender = (s) =>
            {
                System.Text.StringBuilder sb = new();
                sb.Append("<ul>");
                int previewCount = 3;
                foreach (var f in s.Bdfs.Detail.OrderByDescending(m => m.CelkemCena).Take(previewCount))
                {
                    sb.AppendFormat("<li><a href='/Subjekt/{1}'>{2}</a> - <a href='/HledatSmlouvy?Q=icoPlatce:{0}%20AND%20icoPrijemce:{1}'>{3}</a></li>",
                        s.Firma.ICO, f.Item, await FirmaCache.GetJmenoAsync(f.Item)
                        , f.ToNiceString(null, false, string.Format("", s.Firma.ICO, f.Item))
                    );
                }

                sb.Append("</ul>");
                if (s.Bdfs.Detail.Count > previewCount)
                {
                    string rand = Guid.NewGuid().ToString("N");
                    sb.Append("<a class='btn btn-link' role='button' data-bs-toggle='collapse' href='#allData" + rand + "' aria-expanded='false' aria-controls='allData'>Ukázat všechny</a>");
                    sb.Append("<ul class='collapse' id='allData" + rand + "'>");
                    foreach (var f in s.Bdfs.Detail.OrderByDescending(m => m.CelkemCena).Skip(previewCount))
                    {
                        sb.AppendFormat("<li><a href='/Subjekt/'{1}>{2}</a> - <a href=''>{3}</a></li>"
                            , s.Firma.ICO, f.Item, await FirmaCache.GetJmenoAsync(f.Item)
                            , f.ToNiceString(null, false, string.Format("/HledatSmlouvy?Q=icoPlatce:{0}%20AND%20icoPrijemce:{1}", s.Firma.ICO, f.Item))
                        );
                    }

                    sb.Append("</ul>");
                }

                return sb.ToString();
            },
        }
    ];


    var data = await MaterializedViewsCache.GetUradyObchodujiciSFirmami_s_vazbouNaPolitiky_nedavneAsync();

    ReportDataSource<(BasicDataForSubject<List<BasicData<string>>> Bdfs, Firma? Firma, StatisticsSubjectPerYear<Smlouva.Statistics.Data>? Stat)> rds1 = new(tableSloupce);

    foreach (var bf in data.SoukromeFirmy.Where(o => o.Pocet > 7).OrderByDescending(o => o.CelkemCena).Take(500))
    {
        var firma = await FirmaCache.GetAsync(bf.Ico);
        StatisticsSubjectPerYear<Smlouva.Statistics.Data>? stat = null;
        if (firma?.Valid == true)
        {
            stat = await firma.StatistikaRegistruSmluvAsync();
        }

        rds1.AddRow((bf, firma, stat));
    }


    @(ChartUtilExtensions.RenderReportTable<BasicDataForSubject<List<BasicData<string>>>>("",
        new ReportModel.QueueItem()
        {
            Type = ReportModel.QueueItem.types.table,
            Data = rds1
        }, HtmlExtensions.DatatableOptions(orderColumnIdx: 2, orderDirection: "desc"), "t1")
    )
}