@using System.Linq
@using HlidacStatu.DS.Graphs
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.XLib
@using HlidacStatu.XLib.Render
@using HlidacStatu.Repositories

@{
    Layout = "_ReportLayout";

    var showList = OsobaRepo.GetByZatrideni(OsobaRepo.Zatrideni.Poslanec, DateTime.Now)
        .OrderBy(o => o.Prijmeni)
        .ThenBy(o => o.Jmeno)
        .ToList();

    ReportDataSource<(Osoba Osoba, Osoba.Statistics.RegistrSmluv? Stat)> poslanciTable = new(new ReportDataSource<(Osoba Osoba, Osoba.Statistics.RegistrSmluv? Stat)>.Column[]
    {
        new()
        {
            Name = "Poslanec (nováčci s <span style='padding-left:5px;' class='fad fa-star text-success' aria-hidden='true'></span> )",
            HtmlRender =(s) =>
            {
                return string.Format("<a href='{0}'>{1}</a>", s.Osoba.GetUrl(), s.Osoba.FullNameWithYear(true))
                       + "<br />"
                       + Devmasters.TextUtil.ShortenText(s.Osoba.Description(false, m => true, numOfRecords: 3), 250).Replace("\n", "<br />");
            },
            OrderValueRender = (s) =>
            {
                return s.Osoba.FullName(false);
            }
        },
        new()
        {
            Name = "Strana/Hnutí",
            HtmlRender =(s) =>
            {
                return s.Osoba.CurrentPoliticalParty();
            },
            OrderValueRender = (s) =>
            {
                return s.Osoba.CurrentPoliticalParty();
            }
        },
        new()
        {
            Name = "Angažovanost",
            HtmlRender =(s) =>
            {
                string sout = "";

                if (s.Osoba.Vazby() != null)
                {
                    string customUrl = $"/hledat?Q=osobaid:{s.Osoba.NameId}";
                    foreach (var v in s.Stat.SoukromeFirmy.Take(2))
                    {
                        if (v.Value is null)
                            continue;
                        sout = sout + v.Value.Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).ToNiceLinkString(null, true, customUrl: customUrl) + "<br/>";
                    }

                    if (s.Stat.SoukromeFirmy.Count() == 3)
                    {
                        sout = sout + s.Stat.SoukromeFirmy
                            .Skip(2).First()
                            .Value.Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).ToNiceLinkString(null, true, customUrl: customUrl);
                    }
                    else if (s.Stat.SoukromeFirmy.Count() > 2)
                    {
                        sout = sout + "<a href='" + s.Osoba.GetUrl() + "'>" + Devmasters.Lang.CS.Plural.Get(s.Osoba.Vazby().Length - 2, "+další vazba;+ další {0} vazby;+ dalších {0} vazeb") + "</a>";
                    }
                }

                return sout;
            },
            OrderValueRender = (s) =>
            {
                return s.Osoba.FullName(false);
            }
        },
        new()
        {
            Name = "Sponzor",
            HtmlRender =(s) =>
            {
                var sum = s.Osoba.Sponzoring().Sum(m => m.Hodnota);
                if (sum == 0)
                    return "Ne";
                else
                    return "Celkem&nbsp;" + HlidacStatu.Util.RenderData.NicePriceHtml(sum.Value) + string.Format("<br /><a href='{0}'>podrobnosti</a>", s.Osoba.GetUrl());
            },
            OrderValueRender = (s) =>
            {
                var val = s.Osoba.Sponzoring().Sum(m => m.Hodnota);
                return HlidacStatu.Util.RenderData.OrderValueFormat(val);
            }
        },
    });


    foreach (var osoba in showList)
    {
        Osoba.Statistics.RegistrSmluv? stat = await osoba.StatistikaRegistrSmluvAsync();
        poslanciTable.AddRow((osoba, stat));
    }
}

<h3 id="tblHead">Aktuální složení PSP ČR</h3>
@ChartUtilExtensions.RenderReport("", ReportModel.QueueItem.types.table, poslanciTable, @"{
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                },
                'order': [4,'desc'],
                'lengthChange': false,
                'info': false,
                'paging': true,
                'pageLength': 50,
                'columnDefs': [{ 'visible': false, 'targets': 0 }]
                }", "tbPoslanci")