@using System.Linq
@using HlidacStatu.DS.Graphs
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.XLib
@using HlidacStatu.XLib.Render
@using HlidacStatu.Repositories
@using HlidacStatu.Lib.Analytics

@{
    Layout = "_ReportLayout";

    var showList = OsobaRepo.GetByZatrideni(OsobaRepo.Zatrideni.Poslanec, DateTime.Now)
        .OrderBy(o => o.Prijmeni)
        .ThenBy(o => o.Jmeno)
        .ToList();

    ReportDataSource<Tuple<Osoba, Osoba.Statistics.RegistrSmluv, Osoba.Statistics.Dotace>> poslanciTable = new(new ReportDataSource<Tuple<Osoba, Osoba.Statistics.RegistrSmluv, Osoba.Statistics.Dotace>>.Column[]
    {
        new()
        {
            Name = "Poslanec (nováčci s <span style='padding-left:5px;' class='fad fa-star text-success' aria-hidden='true'></span> )",
            HtmlRender =(s) =>
            {
                return string.Format("<a href='{0}'>{1}</a>", s.Item1.GetUrl(), s.Item1.FullNameWithYear(true))
                       + "<br />"
                       + Devmasters.TextUtil.ShortenText(s.Item1.Description(false, m => true, numOfRecords: 3), 250).Replace("\n", "<br />");
            },
            OrderValueRender = (s) =>
            {
                return s.Item1.FullName(false);
            }
        },
        new()
        {
            Name = "Strana/Hnutí",
            HtmlRender =(s) =>
            {
                return s.Item1.CurrentPoliticalParty();
            },
            OrderValueRender = (s) =>
            {
                return s.Item1.CurrentPoliticalParty();
            }
        },
        new()
        {
            Name = "Vazby se státem",
            HtmlRender =(s) =>
            {
                string sout = "";
                var s_smlouvyStat = s.Item2.SoukromeFirmy.Values.AggregateStats().Summary();
                if (s_smlouvyStat.PocetSmluv > 0) {
                    sout += "Navázané soukromé firmy uzavřely "+ s_smlouvyStat.ToNiceLinkString(s.Item1, customUrl:$"/osoba/registrsmluv/{s.Item1.NameId}") + "<br />";
                }

                var s_dotaceStat = s.Item3.SoukromeFirmy.Values.AggregateStats().Summary();
                if (s_dotaceStat.PocetDotaci > 0) {
                    sout += "Navázané soukromé firmy získaly  "+ s_dotaceStat.ToNiceLinkString_4pad(s.Item1, customUrl:$"/osoba/dotace/{s.Item1.NameId}") ;
                }

                return sout;
            },
            OrderValueRender = (s) =>
            {
                return s.Item1.FullName(false);
            }
        },
        new()
        {
            Name = "Sponzor",
            HtmlRender =(s) =>
            {
                var sum = s.Item1.Sponzoring().Sum(m => m.Hodnota);
                if (sum == 0)
                    return "Ne";
                else
                    return "Celkem&nbsp;" + HlidacStatu.Util.RenderData.NicePriceHtml(sum.Value) + string.Format("<br /><a href='{0}'>podrobnosti</a>", s.Item1.GetUrl());
            },
            OrderValueRender = (s) =>
            {
                var val = s.Item1.Sponzoring().Sum(m => m.Hodnota);
                return HlidacStatu.Util.RenderData.OrderValueFormat(val);
            }
        },
    });


    foreach (var osoba in showList)
    {
        Osoba.Statistics.RegistrSmluv? stat = await osoba.StatistikaRegistrSmluvAsync();
        var dotacestat = await osoba.StatistikaDotaceAsync();

        var tuple = new Tuple<Osoba, Osoba.Statistics.RegistrSmluv, Osoba.Statistics.Dotace>(osoba, stat, dotacestat);
        poslanciTable.AddRow(tuple);
    }
}

<h3 id="tblHead">Aktuální složení PSP ČR</h3>

@HtmlExtensions.DataToHTMLTable(poslanciTable, tableId:"", dataTableOptions: @"{
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                },
                'order': [4,'desc'],
                'lengthChange': false,
                'info': false,
                'paging': true,
                'pageLength': 50,
                // 'columnDefs': [{ 'visible': false, 'targets': 0 }]
                }")