@using System.Linq
@using HlidacStatu.DS.Graphs
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.XLib
@using HlidacStatu.XLib.Render
@using HlidacStatu.Repositories

@{
    Layout = "_ReportLayout";

    var showList = OsobaRepo.GetByZatrideni(OsobaRepo.Zatrideni.Hejtman, DateTime.Now)
        .OrderBy(o => o.Prijmeni)
        .ThenBy(o => o.Jmeno)
        .ToList();


    ReportDataSource<(Osoba Osoba, Osoba.Statistics.RegistrSmluv? Stat, decimal? Sponzoring, string Description)> poslanciTable = new(new ReportDataSource<(Osoba Osoba, Osoba.Statistics.RegistrSmluv? Stat, decimal? Sponzoring, string Description)>.Column[]
    {
        new()
        {
            Name = "Hejtman",
            HtmlRender = (s) =>
            {
                return $"<a href='{s.Osoba.GetUrl()}'>{s.Osoba.FullNameWithYear(true)}</a>"
                       + "<br />"
                       + Devmasters.TextUtil.ShortenText(s.Description, 250).Replace("\n", "<br />");
            },
            OrderValueRender = (s) => { return s.Osoba.FullName(false); }
        },
        new()
        {
            Name = "Strana/Hnutí",
            HtmlRender = (s) => { return s.Osoba.CurrentPoliticalParty(); },
            OrderValueRender = (s) => { return s.Osoba.CurrentPoliticalParty(); }
        },
        new()
        {
            Name = "Angažovanost",
            HtmlRender = (s) =>
            {
                string sout = "";

                if (s.Osoba.Vazby(Relation.CharakterVazbyEnum.VlastnictviKontrola) != null)
                {
                    foreach (var v in s.Stat.SoukromeFirmy.Take(2))
                    {
                        sout = sout + v.Value.Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).ToNiceLinkString(null, true) + "<br/>";
                    }

                    if (s.Stat.SoukromeFirmy.Count() == 3)
                    {
                        sout = sout + s.Stat.SoukromeFirmy
                            .Skip(2).First().Value.Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).ToNiceLinkString(null, true);
                    }
                    else if (s.Stat.SoukromeFirmy.Count() > 2)
                    {
                        sout = sout + "<a href='" + s.Osoba.GetUrl() + "'>" + Devmasters.Lang.CS.Plural.Get(s.Osoba.Vazby(Relation.CharakterVazbyEnum.VlastnictviKontrola).Length - 2, "+další vazba;+ další {0} vazby;+ dalších {0} vazeb") + "</a>";
                    }
                }
                else
                {
                    sout = "&nbsp;";
                }

                return sout;
            },
            OrderValueRender = (s) => { return s.Osoba.FullName(false); }
        },
        new()
        {
            Name = "Sponzor",
            HtmlRender = (s) =>
            {
                var sum = s.Sponzoring;
                if (sum == 0)
                    return "Ne";
                else
                    return $"Celkem&nbsp;{HlidacStatu.Util.RenderData.NicePriceHtml(sum.Value)}<br /><a href='{s.Osoba.GetUrl()}'>podrobnosti</a>";
            },
            OrderValueRender = (s) =>
            {
                var val = s.Sponzoring;
                return HlidacStatu.Util.RenderData.OrderValueFormat(val);
            }
        },
    });


    foreach (var osoba in showList)
    {
        Osoba.Statistics.RegistrSmluv? stat = await osoba.StatistikaRegistrSmluvAsync();
        var sponzoring = (await osoba.SponzoringAsync()).Sum(m => m.Hodnota);
        var description = await osoba.DescriptionAsync(false, m => true, numOfRecords: 3);
        poslanciTable.AddRow((osoba, stat, sponzoring, description));
    }
}



<h3 id="tblHead">Všichni hejtmani krajů ČR</h3>
@ChartUtilExtensions.RenderReport("", ReportModel.QueueItem.types.table, poslanciTable, @"{
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                },
                'order': [4,'desc'],
                'lengthChange': false,
                'info': false,
                'paging': true,
                'pageLength': 50,
                'columnDefs': [{ 'visible': false, 'targets': 0 }]
                }", "tbPoslanci")
<script>
</script>
