@using System.Linq
@using HlidacStatu.DS.Graphs
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.Repositories
@using HlidacStatu.XLib
@using HlidacStatu.XLib.Render

@{
    Layout = "_ReportLayout";

    ReportDataSource<(Osoba Osoba, Osoba.Statistics.RegistrSmluv? Stat, decimal? Sponzoring, string Description, HlidacStatu.DS.Graphs.Graph.Edge[]? VazbyVlastnictvi)> poslanciTable = 
        new(new ReportDataSource<(Osoba Osoba, Osoba.Statistics.RegistrSmluv? Stat, decimal? Sponzoring, string Description, HlidacStatu.DS.Graphs.Graph.Edge[]? VazbyVlastnictvi)>.Column[]
    {
        new()
        {
            Name = "Poradci předsedy vlády",
            HtmlRender = (s) =>
            {
                return $"<a href='{s.Osoba.GetUrl()}'>{s.Osoba.FullNameWithYear(true)}</a>"
                       + "<br />"
                       + Devmasters.TextUtil.ShortenText(s.Description, 250).Replace("\n", "<br />");
            },
            OrderValueRender = (s) => s.Osoba.FullName(false)
        },
        new()
        {
            Name = "Angažovanost ve firmách",
            HtmlRender = (s) =>
            {
                string sout = "";

                if (s.VazbyVlastnictvi != null)
                {
                    foreach (var v in s.Stat.SoukromeFirmy.Take(2))
                    {
                        sout = sout + v.Value.Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).ToNiceLinkString(null, true) + "<br/>";
                    }

                    if (s.Stat.SoukromeFirmy.Count() == 3)
                    {
                        sout = sout + s.Stat.SoukromeFirmy
                            .Skip(2).First().Value.Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).ToNiceLinkString(null, true);
                    }
                    else if (s.Stat.SoukromeFirmy.Count() > 2)
                    {
                        sout = sout + "<a href='" + s.Osoba.GetUrl() + "'>" + Devmasters.Lang.CS.Plural.Get(s.VazbyVlastnictvi.Length - 2, "+další vazba;+ další {0} vazby;+ dalších {0} vazeb") + "</a>";
                    }
                }

                return sout;
            },
            OrderValueRender = (s) => s.Osoba.FullName(false)
        },
        new()
        {
            Name = "Sponzor polit.stran",
            HtmlRender = (s) =>
            {
                var sum = s.Sponzoring;
                if (sum == 0)
                    return "Ne";
                else
                    return "Celkem&nbsp;" + HlidacStatu.Util.RenderData.NicePriceHtml(sum.Value) + string.Format("<br /><a href='{0}'>podrobnosti</a>", s.Osoba.GetUrl());
            },
            OrderValueRender = (s) =>
            {
                var val = s.Sponzoring;
                return HlidacStatu.Util.RenderData.OrderValueFormat(val);
            }
        }
    });


    foreach (var osoba in (await OsobaRepo.GetByZatrideniAsync(OsobaRepo.Zatrideni.PoradcePredsedyVlady, DateTime.Now))
                 .OrderBy(m => m.Prijmeni)
                 .ThenBy(m => m.Jmeno))
    {
        Osoba.Statistics.RegistrSmluv? stat = await osoba.StatistikaRegistrSmluvAsync();
        var sponzoring = (await osoba.SponzoringAsync()).Sum(m => m.Hodnota);
        var description = await osoba.DescriptionAsync(false, m => true, numOfRecords: 3);
        var vazbyVlastnictvi = await osoba.VazbyAsync(Relation.CharakterVazbyEnum.VlastnictviKontrola);
        poslanciTable.AddRow((osoba, stat, sponzoring, description, vazbyVlastnictvi));
    }
}



<h3 id="tblHead">Poradci na úřadu vlády</h3>
<p>
    Hospodářské noviny se <a
        href="https://domaci.ihned.cz/c1-66100770-kdo-radi-babisovi-polovina-premierovych-poradcu-dela-za-penize-druha-jako-udernici-zdarma-urad-vlady-taji-kolik-komu-dava?utm_source=ihned&utm_medium=otvirak&utm_content=id-66100770">zajímaly
        o platy poradců na úřadu vlády</a>.
</p>
<p>Zde je náš pohled na premiérovi poradce, na jejich dary politickým stranám a zda jejich firmy obchodují se
    státem. </p>
@ChartUtilExtensions.RenderReport("", ReportModel.QueueItem.types.table, poslanciTable, @"{
     'language': {
        'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
    },
    'order': [4,'desc'],
    'lengthChange': false,
    'info': false,
    'paging': true,
    'pageLength': 50,
    'columnDefs': [{ 'visible': false, 'targets': 0 }]
    }", "tbPoslanci")
<script>
</script>
