@using HlidacStatu.XLib.Render
@{
        Layout = "_ReportLayout";

    //chart


    var model = new ReportModel();
    var sumCount = await HlidacStatu.Web.Framework.Report.GlobalStatistics.TopListPerCountAsync(false);
    model.Add("perIcoChart", "Nejúspěšnější dodavatelé podle počtu smluv",
        Html.SimpleBarChart(
            false, false,
            400,
            "perIco",
            "Firmy", "Počet smluv",
            sumCount.Filter(10))
        );
    model.Add("perIcoTable", "", sumCount);


    var sumPrice = await HlidacStatu.Web.Framework.Report.GlobalStatistics.TopListPerSumAsync(false);
    model.Add("perPriceChart", "Nejúspěšnější dodavatelé podle celkové hodnoty smluv",
        Html.SimpleBarChart(
            false, false,
            400,
            "perPrice",
            "Firmy", "Kč",
            sumPrice.Filter(10))
        );
    model.Add("perPriceTable", "", sumPrice);

}


<div class="row">
    <div class="col-sm-6 col-xs-12">
        @foreach (var q in model.GetQueue("perIcoChart", "perIcoTable"))
        {
            @ChartUtil.RenderReport(q, @"{
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                },
                'order': [],
                'lengthChange': false,
                'info': false,
                }", q.Key)
        }


    </div>
    <div class="col-sm-6 col-xs-12">
        @foreach (var q in model.GetQueue("perPriceChart", "perPriceTable"))
        {
            @ChartUtil.RenderReport(q, @"{
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                },
                'order': [],
                'lengthChange': false,
                'info': false,
                }", q.Key)
        }
    </div>
</div>