@using System.Linq
@using HlidacStatu.DS.Graphs
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.XLib
@using HlidacStatu.Lib.Analytics
@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render

@{
    Layout = "_ReportLayout";

    ReportDataSource<(Osoba Osoba, Osoba.Statistics.RegistrSmluv? Stat)>.Column[] columns =
    [
        new()
        {
            Name = "Členové vlády",
            HtmlRender =(s) =>
            {
                return string.Format("<a href='{0}'>{1}</a>", s.Osoba.GetUrl(), s.Osoba.FullNameWithYear(true))
                       + "<br />"
                       + Devmasters.TextUtil.ShortenText(s.Osoba.Description(false, m => true, numOfRecords: 3), 250).Replace("\n", "<br />");
            },
            OrderValueRender = (s) =>
            {
                return s.Osoba.FullName(false);
            }
        },
        new()
        {
            Name = "Angažovanost ve firmách",
            HtmlRender =(s) =>
            {
                string sout = "";

                if (s.Osoba.Vazby() != null)
                {
                    foreach (var v in s.Stat.SoukromeFirmy.Take(2))
                    {
                        sout = sout + v.Value.Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).ToNiceLinkString(null, true) + "<br/>";
                    }
                    if (s.Stat.SoukromeFirmy.Count() == 3)
                    {
                        sout = sout + s.Stat.SoukromeFirmy
                            .Skip(2).First().Value.Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).ToNiceLinkString(null, true);
                    }
                    else if (s.Stat.SoukromeFirmy.Count() > 2)
                    {
                        sout = sout + "<a href='" + s.Osoba.GetUrl() + "'>" + Devmasters.Lang.CS.Plural.Get(s.Osoba.Vazby().Length - 2, "+další vazba;+ další {0} vazby;+ dalších {0} vazeb") + "</a>";
                    }
                }
                return sout;
            },
            OrderValueRender = (s) =>
            {
                var sum = s.Stat.SoukromeFirmy.Values.AggregateStats().Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).CelkovaHodnotaSmluv;
                return HlidacStatu.Util.RenderData.OrderValueFormat(sum);
            }
        },
        new()
        {
            Name = "Sponzor polit.stran",
            HtmlRender =(s) =>
            {
                var sum = s.Osoba.Sponzoring().Sum(m => m.Hodnota);
                if (sum == 0)
                    return "Ne";
                else
                    return "Celkem&nbsp;" + HlidacStatu.Util.RenderData.NicePriceHtml(sum.Value) + $"<br /><a href='{s.Osoba.GetUrl()}'>podrobnosti</a>";
            },
            OrderValueRender = (s) =>
            {
                return HlidacStatu.Util.RenderData.OrderValueFormat(s.Osoba.Sponzoring().Sum(m => m.Hodnota));
            }
        }
    ];

    ReportDataSource<(Osoba Osoba, Osoba.Statistics.RegistrSmluv? Stat)> vlada2017tbl = new(columns);

    foreach (var osoba in OsobaRepo.GetByZatrideni(OsobaRepo.Zatrideni.Ministr, DateTime.Now)
        .OrderBy(m => m.Prijmeni)
        .ThenBy(m => m.Jmeno))
    {
        Osoba.Statistics.RegistrSmluv? stat = await osoba.StatistikaRegistrSmluvAsync();
        vlada2017tbl.AddRow((osoba, stat));
    }

}


<h2 id="tblHead">Aktuální složení vlády</h2>
@ChartUtilExtensions.RenderReport("", ReportModel.QueueItem.types.table, vlada2017tbl, @"{
'language': {
'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
},
'order': [2,'desc'],
'lengthChange': false,
'info': false,
'paging': true,
'pageLength': 50,
}", "vlada2017tbl")


