@using System.Linq
@using HlidacStatu.DS.Graphs
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.XLib
@using HlidacStatu.Lib.Analytics
@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render

@{
    Layout = "_ReportLayout";

    ReportDataSource<(Osoba Osoba, Osoba.Statistics.RegistrSmluv? Stat, decimal? Sponzoring, string Description, HlidacStatu.DS.Graphs.Graph.Edge[]? VazbyVlastnictvi)>.Column[] columns =
    [
        new()
        {
            Name = "Členové vlády",
            HtmlRender =(s) => $"<a href='{s.Osoba.GetUrl()}'>{s.Osoba.FullNameWithYear(true)}</a>"
                               + "<br />"
                               + Devmasters.TextUtil.ShortenText(s.Description, 250).Replace("\n", "<br />"),
            OrderValueRender = (s) => s.Osoba.FullName(false)
        },
        new()
        {
            Name = "Angažovanost ve firmách",
            HtmlRender =(s) =>
            {
                string sout = "";

                if (s.VazbyVlastnictvi != null)
                {
                    foreach (var v in s.Stat.SoukromeFirmy.Take(2))
                    {
                        sout = sout + v.Value.Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).ToNiceLinkString(null, true) + "<br/>";
                    }
                    if (s.Stat.SoukromeFirmy.Count() == 3)
                    {
                        sout = sout + s.Stat.SoukromeFirmy
                            .Skip(2).First().Value.Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).ToNiceLinkString(null, true);
                    }
                    else if (s.Stat.SoukromeFirmy.Count() > 2)
                    {
                        sout = sout + "<a href='" + s.Osoba.GetUrl() + "'>" + Devmasters.Lang.CS.Plural.Get(s.VazbyVlastnictvi.Length - 2, "+další vazba;+ další {0} vazby;+ dalších {0} vazeb") + "</a>";
                    }
                }
                return sout;
            },
            OrderValueRender = (s) =>
            {
                var sum = s.Stat.SoukromeFirmy.Values.AggregateStats().Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).CelkovaHodnotaSmluv;
                return HlidacStatu.Util.RenderData.OrderValueFormat(sum);
            }
        },
        new()
        {
            Name = "Sponzor polit.stran",
            HtmlRender =(s) =>
            {
                var sum = s.Sponzoring;
                if (sum == 0)
                    return "Ne";
                else
                    return $"Celkem&nbsp;{HlidacStatu.Util.RenderData.NicePriceHtml(sum.Value)}<br /><a href='{s.Osoba.GetUrl()}'>podrobnosti</a>";
            },
            OrderValueRender = (s) => HlidacStatu.Util.RenderData.OrderValueFormat(s.Sponzoring)
        }
    ];

    ReportDataSource<(Osoba Osoba, Osoba.Statistics.RegistrSmluv? Stat, decimal? Sponzoring, string Description, HlidacStatu.DS.Graphs.Graph.Edge[]? VazbyVlastnictvi)> vlada2017tbl = new(columns);

    foreach (var osoba in (await OsobaRepo.GetByZatrideniAsync(OsobaRepo.Zatrideni.Ministr, DateTime.Now))
        .OrderBy(m => m.Prijmeni)
        .ThenBy(m => m.Jmeno))
    {
        Osoba.Statistics.RegistrSmluv? stat = await osoba.StatistikaRegistrSmluvAsync();
        var sponzoring = (await osoba.SponzoringAsync()).Sum(m => m.Hodnota);
        var description = await osoba.DescriptionAsync(false, m => true, numOfRecords: 3);
        var vazbyVlastnictvi = await osoba.VazbyAsync(Relation.CharakterVazbyEnum.VlastnictviKontrola);
        vlada2017tbl.AddRow((osoba, stat, sponzoring, description, vazbyVlastnictvi));
    }

}


<h2 id="tblHead">Aktuální složení vlády</h2>
@HtmlExtensions.DataToHTMLTable(vlada2017tbl, tableId:"", dataTableOptions: @"{
'language': {
'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
},
'order': [2,'desc'],
'lengthChange': false,
'info': false,
'paging': true,
'pageLength': 50,
}")


