@using System.Linq
@using HlidacStatu.DS.Graphs
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.XLib
@using HlidacStatu.Lib.Analytics
@using HlidacStatu.Repositories
@using HlidacStatu.XLib.Render

@{
    Layout = "_ReportLayout";

    var columns = new ReportDataSource.Column[]
    {
        new()
        {
            Name = "Členové vlády",
            HtmlRender = (s) =>
            {
                Osoba o = (Osoba)s;
                return string.Format("<a href='{0}'>{1}</a>", o.GetUrl(), o.FullNameWithYear(true))
                       + "<br />"
                       + Devmasters.TextUtil.ShortenText(o.Description(false, m => true, numOfRecords: 3), 250).Replace("\n", "<br />");
            },
            OrderValueRender = (s) =>
            {
                Osoba o = (Osoba)s;
                return o.FullName(false);
            }
        },
        new()
        {
            Name = "Angažovanost ve firmách",
            HtmlRender = (s) =>
            {
                Osoba o = (Osoba)s;
                string sout = "";

                if (o.Vazby() != null)
                {
                    foreach (var v in o.StatistikaRegistrSmluv(Relation.AktualnostType.Nedavny).SoukromeFirmy.Take(2))
                    {
                        sout = sout + v.Value.Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).ToNiceString(null, true) + "<br/>";
                    }
                    if (o.StatistikaRegistrSmluv(Relation.AktualnostType.Nedavny).SoukromeFirmy.Count() == 3)
                    {
                        sout = sout + o.StatistikaRegistrSmluv(Relation.AktualnostType.Nedavny).SoukromeFirmy
                            .Skip(2).First().Value.Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).ToNiceString(null, true);
                    }
                    else if (o.StatistikaRegistrSmluv(Relation.AktualnostType.Nedavny).SoukromeFirmy.Count() > 2)
                    {
                        sout = sout + "<a href='" + o.GetUrl() + "'>" + Devmasters.Lang.CS.Plural.Get(o.Vazby().Length - 2, "+další vazba;+ další {0} vazby;+ dalších {0} vazeb") + "</a>";
                    }
                }
                return sout;
            },
            OrderValueRender = (s) =>
            {
                Osoba o = (Osoba)s;
                var sum = o.StatistikaRegistrSmluv(Relation.AktualnostType.Nedavny).SoukromeFirmy.Values.AggregateStats().Summary(HlidacStatu.Lib.Analytics.CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow).CelkovaHodnotaSmluv;
                return HlidacStatu.Util.RenderData.OrderValueFormat(sum);
            }
        },
        new()
        {
            Name = "Sponzor polit.stran",
            HtmlRender = (s) =>
            {
                Osoba o = (Osoba)s;
                var sum = o.Sponzoring().Sum(m => m.Hodnota);
                if (sum == 0)
                    return "Ne";
                else
                    return "Celkem&nbsp;" + HlidacStatu.Util.RenderData.NicePriceHtml(sum.Value) + string.Format("<br /><a href='{0}'>podrobnosti</a>", o.GetUrl());
            },
            OrderValueRender = (s) =>
            {
                Osoba o = (Osoba)s;
                return HlidacStatu.Util.RenderData.OrderValueFormat(o.Sponzoring().Sum(m => m.Hodnota));
            }
        },
    };

    ReportDataSource vlada2017tbl = new(columns);

    foreach (var p in OsobaRepo.GetByZatrideni(OsobaRepo.Zatrideni.Ministr, DateTime.Now)
        .OrderBy(m => m.Prijmeni)
        .ThenBy(m => m.Jmeno))
    {
        vlada2017tbl.AddRow(p);
    }

}


<h2 id="tblHead">Aktuální složení vlády</h2>
@ChartUtilExtensions.RenderReport("", ReportModel.QueueItem.types.table, vlada2017tbl, @"{
'language': {
'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
},
'order': [2,'desc'],
'lengthChange': false,
'info': false,
'paging': true,
'pageLength': 50,
}", "vlada2017tbl")


