@using System.Linq
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.XLib.Render
@using HlidacStatu.Repositories

@{
    Layout = "_ReportLayout";

    var showList = OsobaRepo.GetByZatrideni(OsobaRepo.Zatrideni.Europoslanec, DateTime.Now)
        .OrderBy(o => o.Prijmeni)
        .ThenBy(o => o.Jmeno)
        .ToList();


    var poslanciTable = new ReportDataSource<(Osoba Osoba, string Description)>(new ReportDataSource<(Osoba Osoba, string Description)>.Column[]
    {
        new()
        {
            Name = "Europoslanec",
            HtmlRender = (s) =>
            {
                return string.Format("<a href='{0}'>{1}</a>", s.Osoba.GetUrl(), s.Osoba.FullNameWithYear(true))
                       + "<br />"
                       + Devmasters.TextUtil.ShortenText(s.Description, 250).Replace("\n", "<br />");
            },
            OrderValueRender = (s) => { return s.Osoba.FullName(false); }
        },
        new()
        {
            Name = "Strana/Hnutí",
            HtmlRender = (s) => { return s.Osoba.CurrentPoliticalParty(); },
            OrderValueRender = (s) => { return s.Osoba.CurrentPoliticalParty(); }
        }
    });


    foreach (var p in showList)
    {
        var description = await p.DescriptionAsync(false, m => true, numOfRecords: 3);
        poslanciTable.AddRow((p, description));
    }
}

<h3 id="tblHead">Europoslanci</h3>
@ChartUtilExtensions.RenderReport("", ReportModel.QueueItem.types.table, poslanciTable, @"{
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                },
                'order': [4,'desc'],
                'lengthChange': false,
                'info': false,
                'paging': true,
                'pageLength': 50,
                'columnDefs': [{ 'visible': false, 'targets': 0 }]
                }", "tbPoslanci")
