@using Nest
@using System.Linq
@using Devmasters.Enums;
@using HlidacStatu.DS.Graphs
@using HlidacStatu.Entities
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.Cache
@using Graph = HlidacStatu.DS.Graphs.Graph

@{
    Layout = "_ReportLayout";

    Relation.AktualnostType aktualnost;
    if (!Enum.TryParse(Context.Request.Query["aktualnost"], true, out aktualnost))
    {
        aktualnost = Relation.AktualnostType.Nedavny;
    }

    var vazbyNaPolitiky = await MaterializedViewsCache.FirmySVazbamiNaPolitiky_VsechnyAsync();
    QueryContainer qc = null;

    switch (aktualnost)
    {
        case Relation.AktualnostType.Aktualni:
            qc = new QueryContainerDescriptor<Smlouva>().Term(t => t.Field(f => f.SVazbouNaPolitikyAktualni).Value(true));
            break;
        case Relation.AktualnostType.Nedavny:
            qc = new QueryContainerDescriptor<Smlouva>().Term(t => t.Field(f => f.SVazbouNaPolitikyNedavne).Value(true));
            break;
        case Relation.AktualnostType.Neaktualni:
        case Relation.AktualnostType.Libovolny:
            qc = new QueryContainerDescriptor<Smlouva>().Term(t => t.Field(f => f.SVazbouNaPolitiky).Value(true));
            break;
    }

    
    Func<Smlouva, Task<string>> renderPolitikyAsync = async (item) =>
    {
        System.Text.StringBuilder sb = new();
        sb.Append("<tr>");
        sb.Append("<td class=\"joined\">&nbsp;</td>");
        sb.Append("<td colspan=\"5\" class=\"joined\">");
        sb.Append("<ul class='list-inline'><li>Angažovaní politici:</li>");

        foreach (var ss in item.Prijemce)
        {
            if (!string.IsNullOrEmpty(ss.ico) && vazbyNaPolitiky.SoukromeFirmy.ContainsKey(ss.ico))
            {
                var politickyAktivniOsoby = vazbyNaPolitiky.SoukromeFirmy[ss.ico]
                    .Select(pid => OsobaRepo.PolitickyAktivni
                        .Get()
                        .FirstOrDefault(m => m.InternalId == pid))
                    .ToList();

                var personsWithVazby = new List<(Osoba osoba, Graph.Edge[] vazby)>();
                foreach (var osoba in politickyAktivniOsoby)
                {
                    if(osoba is null || osoba.IsValid() == false)
                        continue;
                    
                    var vazby = await OsobaVazbyRepo.VazbyProIcoCachedAsync(osoba, Relation.CharakterVazbyEnum.VlastnictviKontrola, ss.ico);
                    if (vazby.Any())
                    {
                        personsWithVazby.Add((osoba, vazby));
                    }
                }

                List<Osoba> persons = personsWithVazby
                    .OrderByDescending(x => x.vazby.Min(m => m.RelFrom ?? DateTime.MaxValue))
                    .Select(x => x.osoba)
                    .ToList();

                foreach (var p in persons)
                {
                    //doby angazovanosti politika v ICO
                    Relation.AktualnostType akt = Relation.AktualnostType.Libovolny;
                    List<string> dates = new();
                    foreach (var v in await OsobaVazbyRepo.VazbyProIcoCachedAsync(p, Relation.CharakterVazbyEnum.VlastnictviKontrola, ss.ico))
                    {
                        if (v.RelFrom.HasValue && v.RelTo.HasValue)
                        {
                            dates.Add($"{v.RelFrom.Value:yyyy}-{v.RelTo.Value:yyyy}");
                        }
                        else if (v.RelTo.HasValue)
                        {
                            dates.Add($"do {v.RelTo.Value:yyyy}");
                        }
                        else if (v.RelFrom.HasValue)
                        {
                            dates.Add($"od {v.RelFrom.Value:yyyy}");
                        }

                        if (akt == Relation.AktualnostType.Libovolny)
                        {
                            akt = v.Aktualnost;
                        }
                        if (akt == Relation.AktualnostType.Neaktualni &&
                            (v.Aktualnost == Relation.AktualnostType.Aktualni
                             || v.Aktualnost == Relation.AktualnostType.Nedavny)
                            )
                        {
                            akt = v.Aktualnost;
                        }
                        if (akt == Relation.AktualnostType.Nedavny &&
                            (v.Aktualnost == Relation.AktualnostType.Aktualni)
                            )
                        {
                            akt = v.Aktualnost;
                        }
                    }
                    string color = "muted";
                    if (akt == Relation.AktualnostType.Aktualni)
                    {
                        color = "danger";
                    }
                    else if (akt == Relation.AktualnostType.Nedavny)
                    {
                        color = "warning";
                    }

                    if (dates.Count == 0)
                    {
                        sb.AppendFormat("<li class='text-{0}' title='{3}'><a href='{2}'>{1}</a></li>"
                            , color, p.FullName(true), "/politik/" + p.NameId, aktualnost.ToNiceDisplayName());
                    }
                    else
                    {
                        sb.AppendFormat("<li class='text-{0}' title='{4}'><a href='{2}'>{1}</a> ({3})</li>",
                            color, p.FullName(true)
                            , "/politik/" + p.NameId, dates.Aggregate((f, s) => f + ", " + s)
                            , aktualnost.ToNiceDisplayName());
                    }
                }
            }
        }

        sb.Append("</ul>");
        sb.Append("</td>");
        sb.Append("<td class=\"joined\">&nbsp;</td>");
        sb.Append("</tr>");
        return sb.ToString();
    };


    var model = new HlidacStatu.Repositories.Searching.SmlouvaSearchResult(Context.Request.Query, SmlouvaRepo.Searching.OrderResult.PriceDesc);
    
    model.ElasticResults = await SmlouvaRepo.Searching.RawSearchAsync(qc, model.Page,
        100, (SmlouvaRepo.Searching.OrderResult) (Convert.ToInt32(model.Order)));
    
    model.Chyby = false;
    model.AdditionalRenderAsync = renderPolitikyAsync;
}



@{ ViewBag.MoreHtml = "<p><b>Tady najdete <a href='/Osoby'>Seznam politiků a jejich vazby na soukromé firmy</a></b></p>"; }

<p>
    <a href="/report/5/?aktualnost=@Relation.AktualnostType.Aktualni"
       class="btn btn-hs btn-@(aktualnost == Relation.AktualnostType.Aktualni ? "success" : "primary") btn-sm" role="button">
        @(aktualnost == Relation.AktualnostType.Aktualni ? "Zobrazujeme" : "Ukázat") pouze aktuální vazby
    </a>
    <a href="/report/5/?aktualnost=@Relation.AktualnostType.Nedavny"
       class="btn btn-hs btn-@(aktualnost == Relation.AktualnostType.Nedavny ? "success" : "primary") btn-sm" role="button">
        @(aktualnost == Relation.AktualnostType.Nedavny ? "Zobrazujeme" : "Ukázat") aktuální a nedávno skončené vazby
    </a>
    <a href="/report/5/?aktualnost=@Relation.AktualnostType.Libovolny"
       class="btn btn-hs btn-@(aktualnost == Relation.AktualnostType.Libovolny ? "success" : "primary") btn-sm" role="button">
        @(aktualnost == Relation.AktualnostType.Libovolny ? "Zobrazujeme" : "Ukázat") všechny vazby včetně historických
    </a>
</p>


<partial name="~/Views/Home/_SearchResult.cshtml" model="model"/>

<partial name="PolitikDisclaimer" view-data="ViewData"/>