@using System.Linq
@using HlidacStatu.Entities
@using HlidacStatu.Extensions
@using HlidacStatu.Lib.Analytics
@using HlidacStatu.XLib.Render
@using HlidacStatu.Repositories
@using HlidacStatu.Repositories.Analysis
@using HlidacStatu.Repositories.Cache


@{
    Layout = "_ReportLayout";


    ReportDataSource<(AnalysisCalculation.IcoSmlouvaMinMax? MinMax, StatisticsSubjectPerYear<Smlouva.Statistics.Data>? Stat)>.Column[] tableSloupce =
    [
        new()
        {
            Name = "Firma",
            HtmlRender = (s) =>
            {
                return $"<a href='/subjekt/{s.MinMax.ico}'>{s.MinMax.jmeno}</a>";
            },
            TextRender = (s) => { return s.MinMax.jmeno; }
        },
        new()
        {
            Name = "Firma založena",
            HtmlRender = (s) =>
            {
                return s.MinMax.vznikIco.Value.ToString("dd.MM.yyyy");
            },
            OrderValueRender = (s) => { return HlidacStatu.Util.RenderData.OrderValueFormat(s.MinMax.vznikIco.Value); }
        },
        new()
        {
            Name = "Rozdíl dnů",
            HtmlRender = (s) =>
            {
                return (s.MinMax.days.Value < 0)
                        ? ("Firma založena " + Devmasters.Lang.CS.Plural.Get((int)Math.Abs(s.MinMax.days.Value), "{0} den;{0} dny;{0} dnů") + " po podepsání smlouvy")
                        : ("Firma založena " + Devmasters.Lang.CS.Plural.Get((int)Math.Abs(s.MinMax.days.Value), "{0} den;{0} dny;{0} dnů") + " před podepsáním smlouvy");
            },
            OrderValueRender = (s) => { return HlidacStatu.Util.RenderData.OrderValueFormat(s.MinMax.days.Value); }
        },
        new()
        {
            Name = "První smlouva s firmou podepsána dne",
            HtmlRender = (s) =>
            {
                return $"{s.MinMax.minUzavreni.Value:d.M.yyyy}<br/><a href='/hledatsmlouvy?q=ico%3A{s.MinMax.ico}+AND+podepsano%3A%3C%3D{s.MinMax.minUzavreni.Value:yyyy-MM-dd}'>První smlouva</a>";
            },
            OrderValueRender = (s) => { return HlidacStatu.Util.RenderData.OrderValueFormat(s.MinMax.minUzavreni.Value.Ticks); }
        },
        new()
        {
            Name = "Smluvní aktivita",
            HtmlRender = (s) =>
            {
                return "<a href=\"/hledatsmlouvy?Q=ico:" + s.MinMax.ico + "\">" +
                       Devmasters.Lang.CS.Plural.Get(s.Stat.Summary().PocetSmluv, "{0} smlouva;{0} smlouvy;{0} smluv") +
                       "</a>" +
                       "<br />celkem " +
                       Smlouva.NicePrice(s.Stat.Summary().CelkovaHodnotaSmluv, html: true, shortFormat: true);
            },
            OrderValueRender = (s) =>
            {
                return HlidacStatu.Util.RenderData.OrderValueFormat(s.Stat.Summary().CelkovaHodnotaSmluv);
            }
        }
    ];



    var dataStatsCache = (await MaterializedViewsCache.GetFirmyCasovePodezreleZalozeneAsync()).ToList();


    ReportDataSource<(AnalysisCalculation.IcoSmlouvaMinMax? MinMax, StatisticsSubjectPerYear<Smlouva.Statistics.Data>? Stat)> rds1 = new(tableSloupce);
    foreach (var bf in dataStatsCache.Where(m => m.days >= -45 && m.days < 0))
    {
        var f = await Firmy.GetAsync(bf.ico);
        StatisticsSubjectPerYear<Smlouva.Statistics.Data> stat = new();
        if (f != null)
            stat = await f.StatistikaRegistruSmluvAsync();
        rds1.AddRow((bf, stat));
    }

    ReportDataSource<(AnalysisCalculation.IcoSmlouvaMinMax? MinMax, StatisticsSubjectPerYear<Smlouva.Statistics.Data>? Stat)> rds2 = new(tableSloupce);
    foreach (var bf in dataStatsCache.Where(m => m.days >= 0 && m.days < 30))
    {
        var stat = (await (await Firmy.GetAsync(bf.ico)).StatistikaRegistruSmluvAsync()) ?? new();
        rds1.AddRow((bf, stat));
    }

    ReportDataSource<(AnalysisCalculation.IcoSmlouvaMinMax? MinMax, StatisticsSubjectPerYear<Smlouva.Statistics.Data>? Stat)> rds3 = new(tableSloupce);
    foreach (var bf in dataStatsCache.Where(m => m.days < -45).Take(300))
    {
        var stat = (await (await Firmy.GetAsync(bf.ico)).StatistikaRegistruSmluvAsync()) ?? new();
        rds1.AddRow((bf, stat));
    }
}



<div class="bs-callout info">
    <p>
        Založení firmy chvíli před podepsáním smlouvy není důkaz podvodu, nekalého úmyslu či chyby.
        Bývá to běžná situace u změny obchodní formy z důvodu účasti ve výběrovém řízení (živnostníka -> s.r.o.),
        prvního obchodního úspěchu nové firmy,
        prostě existuje spousta řádných obchodních a právních důvodů pro takový krok. A velké většina situací spadá do
        této "kolonky"
    </p>
    <p>
        Bývá to však také jeden z indikátorů, že může jít o účelově založenou společnost při zmanipulovaném výběrovém
        řízení,
        snahu o zakrytí skutečných vlastníků či špatné historie firmy, jeden z indikátorů potenciálně podezřelého
        chovaní.
    </p>
</div>




<h3>Firmy založené až po podepsání smlouvy</h3>
<div class="bs-callout danger">
    <p>
        <b>Podezřelá situace.</b>
        Pokud byla firma zapsaná do OŘ až po datu podepsání smlouvy, jak ukazují naše údaje z OŘ, je zpochybnitelná
        platnost smlouvy .
        Důvody mohou být různé, od chyby, formálních důvodů až po podvodné.
    </p>
    <p>Tyto firmy a jejich smlouvy doporučujeme k hlubšímu prozkoumání.</p>
</div>

@ChartUtilExtensions.RenderReport("", ReportModel.QueueItem.types.table, rds1, @"{
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                },
                'order': [1,'desc'],
                'lengthChange': false,
                'info': false,
                }", "t1")



<h3>Firmy založené krátkou dobu před podepsáním smlouvy</h3>
<div class="bs-callout danger">
    <p>
        Pokud byla firma zapsaná do OŘ chvíly před podepsáním smlouvy, může se jednat o účelově založenou společnost.
        Někdy se tak stává před vyběrovým řízením a při problematické historii mateřské firmy. Důvody však mohou být i
        čistě obchodní.
    </p>
    <p>Tyto firmy a jejich smlouvy doporučujeme k hlubšímu prozkoumání.</p>
</div>

@ChartUtilExtensions.RenderReport("", ReportModel.QueueItem.types.table, rds2, @"{
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                },
                'order': [],
                'lengthChange': false,
                'info': false,
                }", "t2")





<h3>Firmy založené velmi dlouho po podepsání smlouvy</h3>
<div class="bs-callout danger">
    <p>
        U těchto firem je nejpravděpodobnější, že se jedná o právního nástupce jedné ze smluvních stran, anebo o chybu.
    </p>
</div>
@ChartUtilExtensions.RenderReport("", ReportModel.QueueItem.types.table, rds3, @"{
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.13.4/i18n/cs.json'
                },
                'order': [],
                'lengthChange': false,
                'info': false,
                }", "t3")

